<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客製化包裝</title>
    <link rel="stylesheet" href="./styles/reset.css" />
    <link
      rel="stylesheet"
      href="./node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/package.css" />
    <link rel="icon" href="../images/favicon_32x32.ico">
</head>
<body>


    <!-- -------w-packageSection---------------- -->
    <!-- <div class="w-package-lightBoxBg"></div> -->
        <div id="w-packageShow" class="w-newpackageSection">
            <div class="loading" id="js-loader">
                <div class="loader"></div>
            </div>
            <span class="drag-notice" id="js-drag-notice">可用滑鼠進行拖曳&#176;
            </span>
            <div class="options">
                <div class="option --is-active" data-option="topbody">
                    <img src="./images/pachage-icon-topbox.svg" alt="" />
                </div>
                <div class="option" data-option="mainbody">
                    <img src="./images/pachage-icon-mainbox.svg" alt="" />
                </div>
                <div class="option" data-option="mainRibbon">
                    <img src="./images/pachage-icon-ribbon.svg" alt="" />
                </div>
                <div class="option" data-option="sideRibbon">
                    <img src="./images/pachage-icon-ribbonLeft.svg" alt="" />
                </div>
                <div class="option" data-option="sideRibbon-2">
                    <img src="./images/pachage-icon-ribbonRight.svg" alt="" />
                </div>
            </div>
            
            <canvas id="c" class=""></canvas>
            <div class="w-new-packageBotton">
                <!-- <div class="w-P-closeSection">
                    <div class="w-p-close">
                        <img src="./images/close.svg" alt="">
                    </div>
                </div> -->
                <div class="w-new-package-stepWrap">
                    <div class="stepCard">
                        <div id="step1"  class="stepTop1">
                            1
                        </div>
                        <div class="stepBotton">
                            禮物盒
                        </div>
                    </div>
                    <div class="stepLine"></div>
                    <div class="stepCard">
                        <div id="step2"  class="stepTop2">
                            2
                        </div>
                        <div class="stepBotton">
                            禮物卡
                        </div>
                    </div>
                    <div class="stepLine2"></div>
                    <div  class="stepCard">
                        <div id="step3" class="stepTop3">
                            3
                        </div>
                        <div class="stepBotton">
                            完成
                        </div>
                    </div>
                </div> 
                <!-- <div class="w-new-mainTitle">
                    <div class="w-new-mainTitleBox">
                        選擇包裝盒款式
                    </div>
                </div> -->
                <!-- <div class="w-new-decorateSection">
                        <div class="w-boxStyle">
                            <div class="w-boxStyle-wrap">
                                <div class="w-boxStyle-1">
                                    <img data-url="GiftBox-style01.glb" src="./images/package_01.png" alt="">
                                </div>
                                <div class="w-boxStyle-2">
                                    <img data-url="GiftBox-style02.glb" src="./images/package-round-3.png" alt="">
                                </div>
                                <div data-url="GiftBox-style03.glb" class="w-boxStyle-3">
                                    <img src="./images/package-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div> -->
                <div class="w-packageBotton-box">
                    <div class="w-packageBotton-wrap">
                        <div id="w-step1BtnPackage-pre" class="w-p-new-skipBtn">
                            略過包裝設計
                        </div>
                        <div style="text-decoration:none;" class="w-p-new-skipBtn" id="step3Btn-clean" href="">清除設計
                        </div>
                        <div id="w-step1BtnPackage-next" class="w-p-new-skipBtn">
                            確認包裝樣式
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div class="info"></div>
                    <div id="js-tray" class="tray">
                        <div id="js-tray-slide" class="tray__slide"></div>
                    </div>
                </div>
            </div>
        </div>


<!-- -------------w-newCardSection--------------- -->
        <div class="w-newCardSection">
            <div class="w-newCardSectionControl">
                <!-- <div class="w-P-closeSection">
                    <div class="w-p-close">
                        <img src="./images/close.svg" alt="">
                    </div>
                </div> -->
                <div class="w-new-package-stepWrap">
                        <div class="stepCard">
                            <div id="step1"  class="stepTop1">
                                1
                            </div>
                            <div class="stepBotton">
                                禮物盒
                            </div>
                        </div>
                        <div class="stepLine"></div>
                        <div class="stepCard">
                            <div id="step2"  class="stepTop2">
                                2
                            </div>
                            <div class="stepBotton">
                                禮物卡
                            </div>
                        </div>
                        <div class="stepLine2"></div>
                        <div  class="stepCard">
                            <div id="step3" class="stepTop3">
                                3
                            </div>
                            <div class="stepBotton">
                                完成
                            </div>
                        </div>
                </div> 
                <div class="w-new-CardMainTitle">
                    <div class="w-new-mainTitleBox">
                        選擇卡片背景
                    </div>
                </div>
                <div class="w-new-CardDecorateSection">
                    <div class="w-boxStyle">
                                <div class="w-boxStyle-wrap">
                                    <div class="w-CardStyle-1">
                                        <img class="w-CardStyle-1-img" src="./images/card-01.png" alt="">
                                    </div>
                                    <div class="w-CardStyle-2">
                                        <img class="w-CardStyle-2-img" src="./images/card-style-02.png" alt="">
                                    </div>
                                    <div  class="w-CardStyle-3">
                                        <img class="w-CardStyle-3-img" src="./images/card-style-03.png" alt="">
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
                <div id="app" class="w-newCardShowSection">
                    <img id="w-ShowcardWrap"  src="./images/card-01.png" alt="">
                    <form action="">
                        <div class="CardTextArea-To">
                            {{w_TextTo}}
                            <!-- 放即時預覽區 -->
                        </div>
                        <div class="CardTextArea">
                            {{w_TextContent}}
                            <!-- 放即時預覽區 -->
                        </div>
                        <div class="CardTextArea-From">
                            {{w_TextFrom}}
                            <!-- 放即時預覽區 -->
                        </div>
                    </form>
                    <div class="w-newCardTextSection">
                        <div class="w-new-CardMainTitle2">
                            <div class="w-new-mainTitleBox">
                                輸入卡片內容
                            </div>
                        </div>
                        <div class="w-newCardTextArea">
                            <input id="w-inputFrom" class="w-inputFrom" type="text" placeholder="From:" v-model="w_TextFrom" >
                            <input id="w-inputTo" class="w-inputTo"  type="text" placeholder="To:" v-model="w_TextTo">
                            <textarea class="w-inputContent"  id="w-inputContent" cols="30" rows="8" placeholder="Content:請輸入不超過100個字" maxlength="100" v-model="w_TextContent"></textarea>
                            <span class="w-cardWordLimit">0/100</span>
                        </div>
                        <div class="w-newCardPackageBotton-box">
                            <div class="w-packageBotton-wrap">
                                <div id="w-step2BtnCard-pre" class="w-newCard-skipBtn">
                                    略過卡片設計
                                </div>
                                <div @click="w_TextContent='';w_TextTo=''; w_TextFrom=''" id="step2Btn-CardClean" class="w-newCard-skipBtn">
                                    清除內容
                                </div>
                                <div onclick="bgImage()" id="w-step2BtnCard-next" class="w-newCard-skipBtn">
                                    確認內容
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

<!-- ---------------w-newFinishSection---------- -->
        <div class="w-newFinishSection">
            <!-- <div class="w-P-closeSection">
                <div class="w-p-close">
                    <img src="./images/close.svg" alt="">
                </div>
            </div> -->
            <div class="w-new-package-stepWrap">
                    <div class="stepCard">
                        <div id="step1"  class="stepTop1">
                            1
                        </div>
                        <div class="stepBotton">
                            禮物盒
                        </div>
                    </div>
                    <div class="stepLine"></div>
                    <div class="stepCard">
                        <div id="step2"  class="stepTop2">
                            2
                        </div>
                        <div class="stepBotton">
                            禮物卡
                        </div>
                    </div>
                    <div class="stepLine2"></div>
                    <div  class="stepCard">
                        <div id="step3" class="stepTop3">
                            3
                        </div>
                        <div class="stepBotton">
                            完成
                        </div>
                    </div>
            </div> 
            <div  class="w-newFinishShowSection">
                <div class="w-newFinishShowBox">
                    <div class="FinishCard" src="" >
                        <img id="imgCardConverted" src="" alt="">
                        <form action="">
                            <div id="CardShowArea-To" class="ShowCardTextArea-To">
                                
                                <!-- 放即時預覽區 -->
                            </div>
                            <div id="CardShowArea-Content" class="ShowCardTextArea">
                                
                                <!-- 放即時預覽區 -->
                            </div>
                            <div id="CardShowArea-From" class="ShowCardTextArea-From">
                                
                                <!-- 放即時預覽區 -->
                            </div>
                        </form>
                    </div>
                    <div class="FinishPackage">
                        <img id="imgPackageConverted" src="./images/cute_pic_07.png" alt="">
                    </div>
                </div>
            </div>
            <form action="">
                <div class="w-newCardPackageBotton-box">
                    <div class="w-newFinishBotton-wrap">
                        <a style="text-decoration:none;" class="w-newFinish-skipBtn" id="step3Btn-clean" href="./package.html">再做一次
                        </a>
                        <div id="step2Btn-next" class="w-newFinish-skipBtn" onclick="window.close()">
                            完成
                        </div>
                    </div>
                </div>
                <div class="w-newFinishForm">
                    <div class="w-newFinishMainTitle">
                        <div class="w-newFinishMainTitleBox">
                            卡片寄送方式
                        </div>
                    </div>
                    <div class="w-newFinishFromCheck">
                        <div class="w-FinishForm-check">
                            <input class="FinishOption" type="radio" name="CardSent" value="實體寄送">
                            <label class="FinishOption-Lable" for="flexRadioDefault1">實體寄送</label>
                        </div>
                        <div class="w-FinishForm-check">
                            <input class="FinishOption"  type="radio" name="CardSent" value="Email寄送">
                            <label class="FinishOption-Lable"  for="flexRadioDefault2">Email寄送</label>
                            <input class="FinishInput-Email" type="email" placeholder="輸入Email" row="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    
<!---------------- 光箱區 -------------------->
        <div class="giftBoxLightBox">
            <div class="lightBoxBg">
                <div class="lightBoxArea">
                    <div class="lightBoxTop">
                        <img src="./images/error-elf.gif" alt="">
                    </div>
                    <div class="lightBoxText">
                        <p>確定要清除設計嗎？
                            一但清除便無法復原！</p>
                    </div>
                    <div class="lightBoxBottom">
                        <a id="giftLight_cm" style="text-decoration:none;" class="lightBoxBtn-L" href="./package.html">
                            確定
                        </a>
                        <div id="giftLight_cl" class="lightBoxBtn-R">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- --------略過包裝設計--------- -->
        <div class="giftBoxLightBox-Skip">
            <div class="lightBoxBg">
                <div class="lightBoxArea">
                    <div class="lightBoxTop">
                        <img src="./images/error-elf.gif" alt="">
                    </div>
                    <div class="lightBoxText">
                        <p>確定要略過包裝設計嗎？略過將不會有客製化包裝喔！</p>
                    </div>
                    <div class="lightBoxBottom">
                        <div id="giftLightSkip_cm" style="text-decoration:none;" class="lightBoxBtn-L">
                            確定
                        </div>
                        <div id="giftLighSkip_cl" class="lightBoxBtn-R">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- ----- 略過卡片設計---------- -->
        <div class="giftCardLightBox-Skip">
            <div class="lightBoxBg">
                <div class="lightBoxArea">
                    <div class="lightBoxTop">
                        <img src="./images/error-elf.gif" alt="">
                    </div>
                    <div class="lightBoxText">
                        <p>確定要略過卡片設計嗎？略過將不會有客製化卡片喔！</p>
                    </div>
                    <div class="lightBoxBottom">
                        <div id="CardLightSkip_cm" style="text-decoration:none;" class="lightBoxBtn-L">
                            確定
                        </div>
                        <div id="CardLighSkip_cl" class="lightBoxBtn-R">
                            取消
                        </div>
                    </div>
                </div>
            </div>
        </div>



    




    <script src='https://unpkg.com/three@0.127.0/build/three.js'></script>
    <script src='https://cdn.jsdelivr.net/gh/mrdoob/three.js@r92/examples/js/loaders/GLTFLoader.js'></script>
    <script src='https://threejs.org/examples/js/controls/OrbitControls.js'></script>
    <script src="./js/vue.min.js"></script>

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./js/package-main.js"></script>
    <script src="./js/package.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>