* {
    box-sizing: border-box;
}

$super-dark: #000000;
$dark-red: #a31c2d;
$pink: #ca3f68;
$red-pink: #d45a6a;
$light-pink: #ee92ad;
$dark-green: #2f5e36;
$green: #7ea083;
$lake-green: #2d827d;
$light-lake-green: #7cb2af;
$sky-blue: #5292b9;
$light-sky-blue: #9fc8e1;
$dark-blue: #154d7a;
$blue: #548fbe;
$brown: #7a482d;
$khaki: #b28064;
$orange: #cb6b28;
$light-orange: #e1a77e;
$coral: #bd392a;
$light-coral: #f07f72;
$dark-gray: #4c4948;
$gray: #c2c2c2;
$yellow: #ffcd51;
$light-yellow: #ffe39f;
$skin: #d4cfc6;
$white: #ffffff;
$light-brown: #d4cfc6;
$deep-brown: #554d49;

@font-face {
    font-family: "GenSenRounded-M";
    src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"),
        url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
    font-family: "GenSenRounded-B"; // ps-cr
    src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"),
        url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto"; // ps-e
    src: url("../fonts/RobotoFlex.woff") format("woff"),
        url("../fonts/RobotoFlex.ttf") format("truetype");
}

$h1-font-size: 80px;
$h2-font-size: 48px;
$h3-font-size: 36px;
$h4-font-size: 32px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$h7-font-size: 18px;
$p-font-size: 16px;
$ps-font-size: 14px;
$bold: 900;

body {
    background: url(../images/other_bg_paper.png) center center / cover repeat;
}

.header {
    width: 100%;
    height: 56.5px;
    background-color: $super-dark;
    opacity: 80%;
    border-radius: 0 0 20px 20px;
    display: flex;

    .left {
        padding-left: 20px;
        width: 100%;

        h1.logo {
            width: 100%;

            a {
                width: 100%;

                img {
                    width: 75%;
                }
            }
        }
    }

    .right {
        padding-right: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            display: flex;
            align-items: center;

            ul {
                margin: 0 10px;
            }

            ul.cart {
                margin-bottom: 5px;
            }
        }
    }
}

.footer {
    margin-top: 100px;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 257px;

    .footer-logo {
        padding-top: 30px;
        width: 20%;
        margin: auto;
    }

    .footer-nav {
        ul {
            margin: 35px 40px 0 40px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid white;

            li {
                a {
                    color: white;
                    font-family: "GenSenRounded-M";
                    font-size: $p-font-size;
                }
            }
        }
    }

    .footer-social {
        margin: 35px 160px 0 160px;
        display: flex;
        justify-content: space-between;
    }

    .footer-c {
        margin-top: 35px;
        text-align: center;
        color: white;
        font-family: "Roboto";
        font-size: $ps-font-size;
    }
}

.cart1-no-product-wrap {
    .container {
        width: 100%;
        padding: 80px 0 50px;
    }
}

.cart1-no-product-wrap {
    .container {
        width: 100%;

        .row {
            margin: 0;

            .col {
                h3 {
                    font-family: "GenSenRounded-B";
                    font-size: $h3-font-size;
                    font-weight: $bold;
                    text-align: center;
                }

                h5 {
                    font-family: "GenSenRounded-B";
                    font-size: $h7-font-size;
                    font-weight: $bold;
                    text-align: center;
                }
            }

            .cta-info-wrap {
                padding: 0 15px 0 0;

                .cta-btn {
                    button {
                        width: 155px;
                        height: 38px;
                        background-color: $lake-green;
                        border: none;
                        color: white;
                        border-radius: 10px;
                        text-align: center;
                        font-family: "GenSenRounded-B";
                        font-size: $ps-font-size;

                    }
                }
            }
        }
    }
}

.cart1-no-product-tag-wrap {
    .container {
        width: 100%;

        .row {
            .col {
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 5px;

                .hashtag-btn {
                    width: 104px;
                    height: 35px;
                    border: 0;
                    border-radius: 10px;
                    background-color: black;
                    color: white;
                    font-family: "GenSenRounded-M";
                    font-size: $ps-font-size;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5px;
                    margin: 0 10px;
                }
            }
        }
    }
}

.cart1-no-poduct-list-wrap {
    .container {
        width: 100%;
        // overflow: hidden;


        .product-row {
            display: flex;

            .product-grey-bg {
                background: url(../images/index-w-bg-6-reverse.svg) center center no-repeat;
                background-size: contain;
            }

            .product-col {
                padding: 15px;
            }

            .poduct-card {
                .img-wrap {
                    width: 100%;

                    .img-bg {
                        background-color: white;
                        // aspect-ratio: 3/4;
                        width: 100%;
                        border-radius: 10px;

                        img {
                            width: 100%;
                            // height: 125px;
                            object-fit: cover;
                            padding: 15px;
                        }
                    }
                }

                .info-wrap {

                    h3,
                    p {
                        font-family: "Roboto";
                        font-size: $ps-font-size;
                        color: $super-dark;
                        font-weight: 700;
                        text-align: left;
                        align-items: center;
                        justify-content: center;
                    }

                    .info-price-btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button {
                            width: 60px;
                            height: 22px;
                            border: 0;
                            border-radius: 10px;
                            background-color: $lake-green;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:768px) {
    .product-col {
        width: 25%;
    }
}