* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
body {
  background: url(../images/other_bg_paper.png) center center/cover repeat;
}

.cart1-no-product-wrap .container {
  width: 100%;
  padding: 80px 0 50px;
}
.cart1-no-product-wrap .container .row {
  margin: 0;
}
.cart1-no-product-wrap .container .row .col .cta-info-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart1-no-product-wrap .container .row .col .cta-info-wrap .top-title h3 {
  font-family: "GenSenRounded-B";
  font-size: 36px;
  font-weight: 900;
  text-align: left;
  padding: 0 20px;
}
.cart1-no-product-wrap .container .row .col .cta-info-wrap .middle-sub-title h5 {
  font-family: "GenSenRounded-B";
  font-size: 18px;
  font-weight: 900;
  text-align: left;
}
.cart1-no-product-wrap .container .row .col .cta-info-wrap .cta-btn button {
  width: 100%;
  padding: 15px;
  background-color: #2d827d;
  border: none;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  text-decoration: none;
}
.cart1-no-product-wrap .container .row .col .cta-info-wrap .cta-btn a {
  color: white;
  text-decoration: none;
}
.cart1-no-product-wrap .container .row .col .cta-info-wrap .cta-btn:hover {
  -webkit-animation: swing 1s 1;
          animation: swing 1s 1;
  cursor: pointer;
}

@media (min-width: 425px) and (max-width: 512px) {
  .cart1-no-product-wrap .container .row {
    padding: 0 15px;
  }
  .cart1-no-product-wrap .container .row .cta-info-wrap {
    padding-top: 10%;
  }
}
@media (min-width: 513px) and (max-width: 767.98px) {
  .cart1-no-product-wrap .container .row {
    padding: 0 15px;
  }
  .cart1-no-product-wrap .container .row .cta-info-wrap {
    padding-top: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .cart1-no-product-wrap .container .row {
    padding: 0 15px;
  }
  .cart1-no-product-wrap .container .row .col .img-wrap {
    margin-left: 100px;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap {
    padding-top: 30%;
    margin-left: 20px;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap .top-title h3 {
    font-size: 48px;
    font-weight: 900;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap .middle-sub-title h5 {
    font-size: 24px;
    font-weight: 700;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap .cta-btn button {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .cart1-no-product-wrap .container .row {
    padding: 0 15px;
  }
  .cart1-no-product-wrap .container .row .col .img-wrap {
    margin-left: 150px;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap {
    padding-top: 45%;
    margin-left: -30px;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap .top-title h3 {
    font-size: 48px;
    font-weight: 900;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap .middle-sub-title h5 {
    font-size: 24px;
    font-weight: 700;
  }
  .cart1-no-product-wrap .container .row .col .cta-info-wrap .cta-btn button {
    font-size: 16px;
  }
}
.cart1-no-product-tag-wrap .container {
  width: 100%;
}
.cart1-no-product-tag-wrap .container .row .col {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
}
.cart1-no-product-tag-wrap .container .row .col button:hover {
  transform: scale(1.05);
  transition: 2.5;
}
.cart1-no-product-tag-wrap .container .row .hashtag-btn {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .cart1-no-product-tag-wrap .container {
    width: 100%;
  }
  .cart1-no-product-tag-wrap .container .row .col .hashtag-btn {
    margin: 0 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .cart1-no-product-tag-wrap .container {
    width: 100%;
  }
  .cart1-no-product-tag-wrap .container .row .col .hashtag-btn {
    width: 100%;
    height: 40px;
    margin: 0 10px;
    font-size: 16px;
  }
}
.cart1-no-poduct-list-wrap .container {
  width: 100%;
}
.cart1-no-poduct-list-wrap .container .product-grey-bg-wrap {
  background: url(../images/index-w-bg-6-reverse.svg) center center no-repeat;
  background-size: cover;
  background-position-y: 3rem;
}
.cart1-no-poduct-list-wrap .container .pc-product-grey-bg-wrap {
  background: url(../images/index-w-bg-6-pc-reverse.svg) center center no-repeat;
  background-size: cover;
  background-position-y: 5rem;
  margin-bottom: 5rem;
}
.cart1-no-poduct-list-wrap .container .pc-product-grey-bg-wrap .info-wrap button {
  color: white;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  text-align: center;
}
.cart1-no-poduct-list-wrap .container .pc-product-grey-bg-wrap .info-wrap button svg {
  width: 50%;
}
.cart1-no-poduct-list-wrap .container .product-row {
  display: flex;
}
.cart1-no-poduct-list-wrap .container .product-row .product-col {
  padding: 15px;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .img-wrap {
  width: 100%;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .img-wrap .img-bg {
  background-color: white;
  width: 100%;
  border-radius: 10px;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .img-wrap .img-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 12px;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .img-wrap .img-bg:hover {
  -webkit-animation: swing 1s 1;
          animation: swing 1s 1;
  cursor: pointer;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap {
  width: 100%;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap h3,
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap p {
  font-family: "Roboto";
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-align: left;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap .info-price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap .info-price-btn button {
  width: 120px;
  height: 28px;
  border: 0;
  border-radius: 10px;
  background-color: #2d827d;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap .info-price-btn button h6 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
}
.cart1-no-poduct-list-wrap .container .product-row .poduct-card .info-wrap .info-price-btn button svg {
  width: 50%;
}

@-webkit-keyframes swing {
  15% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  65% {
    transform: translateX(2px);
  }
  85% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  65% {
    transform: translateX(2px);
  }
  85% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}
#itemsMbDefault {
  display: flex;
}

#itemsPcDefault {
  display: block;
}

#itemsMbShow0,
#itemsMbShow1,
#itemsMbShow2,
#itemsMbShow3,
#itemsMbShow4,
#itemsMbShow5,
#itemsPcShow0,
#itemsPcShow1,
#itemsPcShow2,
#itemsPcShow3,
#itemsPcShow4,
#itemsPcShow5 {
  display: none;
}/*# sourceMappingURL=cart1-no-product.css.map */