* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
body {
  background: url(../images/other_bg_paper.png) center center/cover repeat;
}

.j-progress-bar {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.j-progress-bar .j-step-up {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.2rem;
}
.j-progress-bar .j-step-up .j-step {
  width: 2.2rem;
  height: 2.2rem;
}
.j-progress-bar .j-step-up .j-step .j-svg-wrap {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.j-progress-bar .j-step-up .j-step .j-svg-wrap svg {
  width: 55%;
  height: 55%;
}
.j-progress-bar .j-step-up .j-line {
  width: 30%;
  height: 0.125rem;
  background-color: #000000;
  margin: 0 5px;
}
.j-progress-bar .j-step-up .j-step1-num,
.j-progress-bar .j-step-up .j-step2-num {
  width: 2.2rem;
  height: 2.2rem;
}
.j-progress-bar .j-step-up .j-step1-num .j-num1,
.j-progress-bar .j-step-up .j-step2-num .j-num1 {
  color: #ffffff;
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
}
.j-progress-bar .j-step-up .j-dash {
  width: 30%;
  height: 0.125rem;
  margin: 0 0.2rem;
  display: flex;
  align-items: center;
}
.j-progress-bar .j-step-up .j-dash div {
  width: 10%;
  height: 100%;
  background-color: #A4A4A4;
  margin-right: 5px;
}
.j-progress-bar .j-step-up .j-dash div:nth-last-child(1) {
  margin-right: 0;
}
.j-progress-bar .j-step-up .j-step2-num,
.j-progress-bar .j-step-up .j-step3-num {
  width: 2.2rem;
  height: 2.2rem;
}
.j-progress-bar .j-step-up .j-step2-num .j-num2,
.j-progress-bar .j-step-up .j-step2-num .j-num3,
.j-progress-bar .j-step-up .j-step3-num .j-num2,
.j-progress-bar .j-step-up .j-step3-num .j-num3 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #A4A4A4;
  color: #A4A4A4;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
}
.j-progress-bar .j-step-down {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.j-progress-bar .j-step-down .j-step-text {
  margin-top: 0.75rem;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
}
.j-progress-bar .j-step-down .j-step3-text {
  color: #A4A4A4;
  margin-top: 0.75rem;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .j-progress-bar {
    width: 60%;
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .j-progress-bar .j-step-up {
    height: 2.8rem;
  }
  .j-progress-bar .j-step-up .j-step,
.j-progress-bar .j-step-up .j-step1-num,
.j-progress-bar .j-step-up .j-step2-num,
.j-progress-bar .j-step-up .j-step3-num {
    width: 2.8rem;
    height: 2.8rem;
  }
  .j-progress-bar .j-step-up .j-step .j-num1,
.j-progress-bar .j-step-up .j-step .j-num2,
.j-progress-bar .j-step-up .j-step .j-num3,
.j-progress-bar .j-step-up .j-step1-num .j-num1,
.j-progress-bar .j-step-up .j-step1-num .j-num2,
.j-progress-bar .j-step-up .j-step1-num .j-num3,
.j-progress-bar .j-step-up .j-step2-num .j-num1,
.j-progress-bar .j-step-up .j-step2-num .j-num2,
.j-progress-bar .j-step-up .j-step2-num .j-num3,
.j-progress-bar .j-step-up .j-step3-num .j-num1,
.j-progress-bar .j-step-up .j-step3-num .j-num2,
.j-progress-bar .j-step-up .j-step3-num .j-num3 {
    font-size: 24px;
  }
  .j-progress-bar .j-step-up .j-step .j-svg-wrap,
.j-progress-bar .j-step-up .j-step1-num .j-svg-wrap,
.j-progress-bar .j-step-up .j-step2-num .j-svg-wrap,
.j-progress-bar .j-step-up .j-step3-num .j-svg-wrap {
    border: 3px solid #000000;
  }
  .j-progress-bar .j-step-up .j-step .j-num3,
.j-progress-bar .j-step-up .j-step1-num .j-num3,
.j-progress-bar .j-step-up .j-step2-num .j-num3,
.j-progress-bar .j-step-up .j-step3-num .j-num3 {
    border: 3px solid #A4A4A4;
  }
  .j-progress-bar .j-step-down .j-step-text,
.j-progress-bar .j-step-down .j-step3-text {
    font-size: 20px;
  }
}
.j-list {
  width: 100%;
  position: relative;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}
.j-list .j-list-bar {
  position: relative;
  transform: translateY(-1rem);
  width: 100%;
}
.j-list .j-list-bar .j-list-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 90px;
  position: absolute;
}
.j-list .j-list-bar .j-list-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  cursor: pointer;
}
.j-list .j-list-bar .j-list-title h5 {
  font-family: "GenSenRounded-B";
  font-size: 20px;
  color: #ffffff;
}
.j-list .j-list-bar .j-list-title .j-list-icon svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.j-list .j-list-bar .j-list-title .j-list-icon svg:nth-child(2) {
  display: none;
}
.j-list .j-list-info {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
  width: 85%;
  margin: 0 auto;
  padding: 4rem 10px 14px 10px;
}
.j-list .j-list-info .j-list-title {
  display: none;
}
.j-list .j-list-info .j-list-item {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #7cb2af;
}
.j-list .j-list-info .j-list-item:nth-last-child(1) {
  border-bottom: none;
}
.j-list .j-list-info .j-list-item .j-list-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  object-fit: cover;
  background-color: #4c4948;
}
.j-list .j-list-info .j-list-item .j-list-img img {
  width: 100%;
  height: 100%;
}
.j-list .j-list-info .j-list-item .j-list-sub {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 900;
  color: #000000;
}
.j-list .j-list-info .j-list-item .j-list-sub p {
  padding-top: 5px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-list-num {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin-top: 5px;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-money-single {
  display: none;
  text-align: center;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-amount {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  vertical-align: baseline;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-amount button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-amount button svg {
  width: 90%;
  cursor: pointer;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-amount .amountNumber {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
}
.j-list .j-list-info .j-list-item .j-list-sub .j-money {
  text-align: center;
}
.j-list .j-list-info .j-list-item .s-list-icon {
  width: 25px;
}
.j-list .j-list-info .j-list-item .s-list-icon svg {
  width: 80%;
  margin-top: 15px;
  cursor: pointer;
}
.j-list .j-list-info .j-list-item .s-list-icon .s-trash {
  margin-top: -5px;
}

.j-list.j-listopen {
  margin-bottom: 3rem;
}
.j-list.j-listopen .j-list-bar .j-list-title .j-list-icon svg:nth-child(1) {
  display: none;
}
.j-list.j-listopen .j-list-bar .j-list-title .j-list-icon svg:nth-child(2) {
  display: block;
}
.j-list.j-listopen .j-list-info {
  display: block;
}

@media only screen and (min-width: 446px) {
  .j-list.j-list-info.j-list-item.s-list-icon svg {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .j-list {
    width: 75%;
    margin-bottom: 4rem;
  }
  .j-list .j-list-bar {
    max-height: 100px;
  }
  .j-list .j-list-bar .j-list-title {
    top: 0;
    transform: translateX(-50%) translateY(40%);
  }
  .j-list .j-list-bar .j-list-title h5 {
    font-size: 24px;
  }
  .j-list .j-list-info {
    padding-top: 5rem;
  }
  .j-list .j-list-info .j-list-title {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    color: #000000;
    border-bottom: 1px solid #7cb2af;
    padding-bottom: 8px;
  }
  .j-list .j-list-info .j-list-title .j-product {
    width: calc(100% - 90px);
    margin-left: 38px;
  }
  .j-list .j-list-info .j-list-item {
    width: 100%;
  }
  .j-list .j-list-info .j-list-item .j-list-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
    background-color: #4c4948;
  }
  .j-list .j-list-info .j-list-item .j-list-img img {
    width: 100%;
    height: 100%;
  }
  .j-list .j-list-info .j-list-item .j-list-sub {
    width: calc(100% - 120px);
    flex-direction: row;
    justify-content: space-evenly;
  }
  .j-list .j-list-info .j-list-item .j-list-sub p {
    width: 40%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .j-list .j-list-info .j-list-item .j-list-sub .j-list-num {
    width: 60%;
    display: inline-flex;
  }
  .j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-money-single {
    display: inline-block;
  }
  .j-list .j-list-info .j-list-item .j-list-sub .j-list-num .j-money {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .j-list {
    width: 75%;
    margin-top: 4rem;
    margin-bottom: 10rem;
  }
  .j-list .j-list-bar {
    max-height: 120px;
  }
  .j-list .j-list-bar .j-list-title {
    top: 0;
    transform: translateX(-50%) translateY(-20%);
  }
  .j-list .j-list-bar .j-list-title h5 {
    font-size: 32px;
  }
  .j-list .j-list-info {
    padding-top: 8rem;
  }
}
.s-package-wrap .container {
  width: 100%;
  margin: 0 auto;
}
.s-package-wrap .container .row {
  margin: 0 15px;
}
.s-package-wrap .container .row .title-text-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #7cb2af;
  border: 3px solid #7cb2af;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.s-package-wrap .container .row .title-text-col h3 {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: white;
  padding: 12px;
}
.s-package-wrap .container .row .package-col {
  justify-content: center;
  align-items: center;
  border: 3px solid #7cb2af;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.s-package-wrap .container .row .package-col button {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  width: 55%;
  line-height: 0.8rem;
  text-align: center;
  margin-left: 20%;
}
.s-package-wrap .container .row .package-col .package-radio label {
  margin-left: 20%;
  margin-top: 20px;
}
.s-package-wrap .container .row .package-col .package-radio label h3 {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #000000;
}

.s-discount-wrap {
  margin-top: 30px;
}
.s-discount-wrap .container {
  width: 100%;
  margin: 0 auto;
}
.s-discount-wrap .container .row {
  margin: 0 15px;
}
.s-discount-wrap .container .row .title-text-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #7cb2af;
  border: 3px solid #7cb2af;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.s-discount-wrap .container .row .title-text-col h3 {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: white;
  padding: 12px;
}
.s-discount-wrap .container .row .discount-col {
  padding-top: 20px;
  border-left: 3px solid #7cb2af;
  border-right: 3px solid #7cb2af;
}
.s-discount-wrap .container .row .discount-col .col-6 {
  padding: 0;
  padding: 10px 0 10px 15px;
}
.s-discount-wrap .container .row .discount-col .col-6 .discount-radio {
  padding-left: 20%;
}
.s-discount-wrap .container .row .discount-col .col-6 h3 {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #000000;
}
.s-discount-wrap .container .row .coupon-col {
  border-left: 3px solid #7cb2af;
  border-right: 3px solid #7cb2af;
  border-bottom: 3px solid #7cb2af;
  border-radius: 0 0 10px 10px;
  padding: 20px 0;
}
.s-discount-wrap .container .row .coupon-col h3 {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #000000;
  padding-top: 10px;
}
.s-discount-wrap .container .row .coupon-col button {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  line-height: 0.8rem;
  text-align: center;
  margin-left: 10px;
}

.s-mb-subtitle-wrap {
  margin-top: 80px;
}
.s-mb-subtitle-wrap .container {
  width: 100%;
  margin: 0 auto;
}
.s-mb-subtitle-wrap .container .s-mb-subtitle-area {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-mb-subtitle-wrap .container .row {
  margin: 0;
}
.s-mb-subtitle-wrap .container .row .col button {
  background-color: none;
  border: 3px solid #7cb2af;
  color: #2d827d;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  line-height: 0.8rem;
  text-align: center;
}
.s-mb-subtitle-wrap .container .row .col .cart1-check {
  background-color: #2d827d;
  border: 3px solid #2d827d;
  color: white;
}

.s-pc-btn-wrap {
  margin-top: 80px;
  margin-left: 10%;
}
.s-pc-btn-wrap .container {
  width: 100%;
}
.s-pc-btn-wrap .container .s-pc-btn-area {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-pc-btn-wrap .container .row {
  margin: 0;
}
.s-pc-btn-wrap .container .row .col button {
  background-color: none;
  border: 3px solid #7cb2af;
  color: #2d827d;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  line-height: 0.8rem;
  text-align: center;
}
.s-pc-btn-wrap .container .row .col .cart1-check {
  background-color: #2d827d;
  border: 3px solid #2d827d;
  color: white;
}

.s-package-card-item {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.s-package-card-item .s-package-card-icon {
  width: 60px;
}
.s-package-card-item .s-package-card-icon svg {
  width: 50%;
}
.s-package-card-item .s-package-card-title {
  display: flex;
  padding: 20px 0 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
  align-items: center;
}
.s-package-card-item .s-package-card-title p {
  padding: 5px 5px 5px 10px;
}
.s-package-card-item .s-package-card-title .s-package-card-btn button {
  align-items: center;
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
  border-radius: 10px;
  width: 50%;
  line-height: 0.8rem;
  padding: 10px 20px;
  text-align: center;
}
.s-package-card-item .s-package-card-title .s-package-card-btn .money-discount {
  color: #7cb2af;
}
.s-package-card-item .s-package-card-title .s-package-card-btn .s-package-card-radio label {
  cursor: pointer;
}

/* Hide the browser's default checkbox */
/* Create a custom radio button */
.j-checkmark-r {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
}

/* On mouse-over */
.j-point:hover input ~ .j-checkmark-r {
  background-color: #D4CFC6;
}

/* When the radio button is checked*/
.j-point input:checked ~ .j-checkmark-r {
  background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.j-checkmark-r:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.j-point input:checked ~ .j-checkmark-r:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.j-point .j-checkmark-r:after {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
}

.s-subtitle-list-wrap {
  margin-top: 50px;
}
.s-subtitle-list-wrap .container {
  width: 100%;
  margin: 0 auto;
}
.s-subtitle-list-wrap .container .row {
  padding: 10px 15px;
}
.s-subtitle-list-wrap .container .row .subtitle-col {
  display: flex;
  justify-content: start;
  align-items: start;
}
.s-subtitle-list-wrap .container .row .price-col {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.s-subtitle-list-wrap .container .row .col {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #000000;
}
.s-subtitle-list-wrap .container .subtitle-col-boder {
  border-bottom: 1px solid #000000;
}
.s-subtitle-list-wrap .container .subtitle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.s-subtitle-list-wrap .container .subtitle-btn button {
  background-color: none;
  border: 3px solid #7cb2af;
  color: #2d827d;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  line-height: 0.8rem;
  text-align: center;
}
.s-subtitle-list-wrap .container .subtitle-btn .cart1-check {
  background-color: #2d827d;
  border: 3px solid #2d827d;
  color: white;
}

@media only screen and (min-width: 768px) {
  .s-package-card-area {
    width: 70%;
  }
  .s-discount-area {
    width: 70%;
    padding-top: 1.5rem;
  }
}
.j-subtotal {
  position: relative;
  width: 100%;
}
.j-subtotal .j-subtotal-f {
  width: 100%;
  position: fixed;
  border-radius: 20px 20px 0 0;
  background: url("../images/other_bg_paper.png") center center/cover no-repeat;
  box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.25);
  z-index: 100;
  bottom: 0;
  left: 0;
}
.j-subtotal .j-subtotal-f .j-sum-item {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-upicon {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  min-height: 1rem;
  text-align: center;
  cursor: pointer;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-upicon svg {
  width: 100%;
  position: absolute;
  transform: translate(-50%);
}
.j-subtotal .j-subtotal-f .j-sum-item .j-upicon svg:nth-child(2) {
  display: none;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-amount-detail {
  padding: 0.5rem;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 900;
  width: 85%;
  border-bottom: 1px solid #4c4948;
  display: none;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-amount-detail .j-detail {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-amount-detail .j-detail .j-pl {
  padding-left: 0.6rem;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-total {
  padding: 1rem 0 2rem;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-total a {
  display: block;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-total a button {
  border: none;
  background-color: #2d827d;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: "GenSenRounded-B";
  font-size: 18px;
  font-weight: 900;
}
.j-subtotal .j-subtotal-f .j-sum-item .j-total a button span {
  margin-left: 0.5rem;
}
.j-subtotal .j-fixed-bg {
  display: none;
  z-index: 30;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.j-subtotal.j-open .j-subtotal-f .j-sum-item .j-upicon svg:nth-child(1) {
  display: none;
}
.j-subtotal.j-open .j-subtotal-f .j-sum-item .j-upicon svg:nth-child(2) {
  display: inline-block;
}
.j-subtotal.j-open .j-subtotal-f .j-sum-item .j-amount-detail {
  display: flex;
  flex-direction: column;
}
.j-subtotal.j-open .j-fixed-bg {
  display: block;
}

@media only screen and (min-width: 768px) {
  .j-subtotal {
    display: none;
  }
}
.j-summary-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .j-summary-list {
    display: block;
    outline: 2px solid #554d49;
    position: fixed;
    top: 40vh;
    right: 3vw;
    width: 25%;
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.25);
  }
  .j-summary-list .j-bling-img {
    position: absolute;
    transform: translateY(-33%);
    right: -5vw;
    z-index: -1;
  }
  .j-summary-list .j-summary-title {
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
    text-align: center;
    font-family: "GenSenRounded-B";
    font-size: 24px;
    color: #ffffff;
    background-color: #554d49;
  }
  .j-summary-list .j-summary-info {
    background: url("../images/other_bg_paper.png") center center/cover no-repeat;
    padding: 30px 5% 0px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
  }
  .j-summary-list .j-summary-info .j-summary-items {
    padding-bottom: 30px;
    border-bottom: 2px solid #554d49;
  }
  .j-summary-list .j-summary-info .j-summary-items .j-summary-item {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .j-summary-list .j-summary-info .j-summary-items .j-summary-item .j-pl {
    padding-left: 0.8rem;
  }
  .j-summary-list .j-total-kv {
    background: url("../images/other_bg_paper.png") center center/cover no-repeat;
    border-radius: 0 0 10px 10px;
    padding: 30px 5% 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
  }
  .j-summary-list .j-total-kv .j-pl {
    padding-left: 0.8rem;
  }
}
.s-summary-list-fixed {
  position: fixed;
  top: 0;
}

.s-additional-title-wrap {
  margin-top: 9.5rem;
}
.s-additional-title-wrap .container {
  width: 100%;
}
.s-additional-title-wrap .container .row {
  margin: 0 auto;
}
.s-additional-title-wrap .container .row .col {
  display: flex;
  justify-content: start;
  align-items: start;
}
.s-additional-title-wrap .container .row .col h3 {
  font-family: "GenSenRounded-B";
  font-size: 20px;
  color: #000000;
}
.s-additional-title-wrap .container .row .col .svg-col {
  margin-left: -20%;
}

.s-additional-product-section {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  padding-left: 100px;
  background: url(../images/cart1-add-mb-bn.svg) left bottom no-repeat, url(../images/cart1-ribbon.svg) left top -100% no-repeat;
  padding-bottom: 10px;
}
.s-additional-product-section .additional-product-wrap {
  overflow-x: scroll;
}
.s-additional-product-section .additional-product-wrap::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}
.s-additional-product-section .additional-product-wrap .additional-product-box {
  width: 2340px;
  padding-top: 50px;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card {
  margin-right: 10px;
  width: 200px;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .img-wrap {
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .img-wrap img:hover {
  animation: swing 1s 1;
  cursor: pointer;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .info-wrap {
  padding-top: 10px;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .info-wrap h3 {
  text-align: left;
  padding: 0 10px;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #000000;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 30px;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .info-wrap .cta-btn {
  padding: 10px 10px 0;
  align-items: center;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .info-wrap .cta-btn .additionalPrice {
  text-align: left;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  width: 50%;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .info-wrap .cta-btn .additionalPrice::before {
  content: "NT$ ";
  color: #000000;
}
.s-additional-product-section .additional-product-wrap .additional-product-box .additional-product-card .info-wrap .cta-btn button {
  width: 40%;
  padding: 5px;
  border-radius: 10px;
  background-color: #2d827d;
  border: 1px solid #2d827d;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  65% {
    transform: translateX(2px);
  }
  85% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media only screen and (min-width: 576px) {
  .s-additional-product-section {
    padding-left: 130px;
  }
}
@media only screen and (min-width: 768px) {
  .s-additional-product-section {
    background: url(../images/cart1-add-pc-bn.svg) left bottom no-repeat, url(../images/cart1-ribbon.svg) left top -160px no-repeat;
    padding-bottom: 35px;
    padding-left: 300px;
  }
  .s-additional-product-section .additional-product-box {
    width: 2655px;
    padding-top: 50px;
  }
  .s-additional-title-wrap .container {
    width: 100%;
    margin-top: 13.5rem;
  }
  .s-additional-title-wrap .container .row {
    margin: 0;
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  .s-additional-title-wrap .container {
    width: 100%;
  }
  .s-additional-title-wrap .container .row {
    width: 60%;
  }
  .s-additional-title-wrap .container .row .col h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1600px) {
  .s-additional-title-wrap .container {
    width: 100%;
  }
  .s-additional-title-wrap .container .row {
    margin: 0 -15px;
    width: 60%;
  }
  .s-additional-title-wrap .container .row .col h3 {
    font-size: 32px;
  }
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox {
  display: none;
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-black {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-bg {
  z-index: 21;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-42%);
  width: 90%;
  max-width: 400px;
  font-family: "GenSenRounded-B";
  font-weight: 900;
  text-align: center;
  background: url("../images/cart1-coupon-bg.png") center center/100% 100% no-repeat;
  padding: 30px 0;
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-bg button {
  border: 1px solid #000000;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  text-align: center;
  padding: 10px 40px;
  cursor: pointer;
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-bg .s-coupon-select {
  padding: 0 20px;
  position: relative;
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-bg .s-coupon-select .coupon-radio-card {
  padding-bottom: 1.1rem;
  margin-left: 1.1rem;
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-bg .s-coupon-select .coupon-radio-card .coupon-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 85%;
  cursor: pointer;
}
.s-package-wrap .container .j-list .j-list-info .s-coupon-pc-lightbox .s-coupon-lightbox-bg .s-coupon-select .coupon-radio-card label {
  cursor: pointer;
}

.s-discount-wrap .container .s-coupon-lightbox {
  display: none;
}

.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-black {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-bg {
  z-index: 21;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 400px;
  font-family: "GenSenRounded-B";
  font-weight: 900;
  text-align: center;
  background: url("../images/cart1-coupon-bg.png") center center/100% 100% no-repeat;
  padding: 30px 0;
}
.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-bg button {
  border: 1px solid #000000;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  text-align: center;
  padding: 10px 40px;
}
.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-bg .s-coupon-select {
  padding: 0 20px;
  position: relative;
}
.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-bg .s-coupon-select .coupon-radio-card {
  padding-bottom: 1.1rem;
  margin-left: 1.1rem;
}
.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-bg .s-coupon-select .coupon-radio-card .coupon-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 85%;
  cursor: pointer;
}
.s-discount-wrap .container .s-coupon-lightbox .s-coupon-lightbox-bg .s-coupon-select .coupon-radio-card label {
  cursor: pointer;
}/*# sourceMappingURL=cart1.css.map */