* {
    box-sizing: border-box;
}

$super-dark: #000000;
$dark-red: #a31c2d;
$pink: #ca3f68;
$red-pink: #d45a6a;
$light-pink: #ee92ad;
$dark-green: #2f5e36;
$green: #7ea083;
$lake-green: #2d827d;
$light-lake-green: #7cb2af;
$sky-blue: #5292b9;
$light-sky-blue: #9fc8e1;
$dark-blue: #154d7a;
$blue: #548fbe;
$brown: #7a482d;
$khaki: #b28064;
$orange: #cb6b28;
$light-orange: #e1a77e;
$coral: #bd392a;
$light-coral: #f07f72;
$dark-gray: #4c4948;
$gray: #c2c2c2;
$yellow: #ffcd51;
$light-yellow: #ffe39f;
$skin: #d4cfc6;
$white: #ffffff;
$light-brown: #d4cfc6;
$deep-brown: #554d49;

@font-face {
    font-family: "GenSenRounded-M";
    src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"),
        url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
    font-family: "GenSenRounded-B"; // ps-cr
    src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"),
        url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto"; // ps-e
    src: url("../fonts/RobotoFlex.woff") format("woff"),
        url("../fonts/RobotoFlex.ttf") format("truetype");
}

$h1-font-size: 80px;
$h2-font-size: 48px;
$h3-font-size: 36px;
$h4-font-size: 32px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$h7-font-size: 18px;
$p-font-size: 16px;
$ps-font-size: 14px;
$bold: 900;

body {
    background: url(../images/other_bg_paper.png) center center / cover repeat;
}

//--------------------------progress-bar--------
.j-progress-bar {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .j-step-up {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 2.2rem;

        .j-step {
            width: 2.2rem;
            height: 2.2rem;

            .j-svg-wrap {
                background-color: $white;
                border: 2px solid $super-dark;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 55%;
                    height: 55%;
                }
            }
        }

        .j-line {
            width: 30%;
            height: 0.125rem;
            background-color: $super-dark;
            margin: 0 5px;
        }

        .j-step1-num,
        .j-step2-num {
            width: 2.2rem;
            height: 2.2rem;

            .j-num1 {
                color: $white;
                background-color: $super-dark;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Roboto";
                font-weight: $bold;
                font-size: $h6-font-size;
            }
        }

        .j-dash {
            width: 30%;
            height: 0.125rem;
            margin: 0 0.2rem;
            display: flex;
            align-items: center;

            div {
                width: 10%;
                height: 100%;
                background-color: #A4A4A4;
                margin-right: 5px;

                &:nth-last-child(1) {
                    margin-right: 0;
                }
            }
        }

        .j-step2-num,
        .j-step3-num {
            width: 2.2rem;
            height: 2.2rem;

            .j-num2,
            .j-num3 {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border: 2px solid #A4A4A4;
                color: #A4A4A4;
                font-family: "Roboto";
                font-weight: $bold;
                font-size: $h6-font-size;
            }
        }
    }

    .j-step-down {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .j-step-text {
            margin-top: 0.75rem;
            font-family: "Roboto";
            font-weight: $bold;
            font-size: $p-font-size;

        }

        .j-step3-text {
            color: #A4A4A4;
            margin-top: 0.75rem;
            font-family: "Roboto";
            font-weight: $bold;
            font-size: $p-font-size;
        }
    }
}

@media only screen and (min-width: 768px) {
    .j-progress-bar {
        // margin-top: 5rem;
        width: 60%;
        margin-left: 4rem;
    }
}


@media only screen and (min-width: 1400px) {
    .j-progress-bar {
        .j-step-up {
            height: 2.8rem;

            .j-step,
            .j-step1-num,
            .j-step2-num,
            .j-step3-num {
                width: 2.8rem;
                height: 2.8rem;

                .j-num1,
                .j-num2,
                .j-num3 {
                    font-size: $h5-font-size;
                }

                .j-svg-wrap {
                    border: 3px solid $super-dark;
                }

                .j-num3 {
                    border: 3px solid #A4A4A4;
                }
            }
        }

        .j-step-down {

            .j-step-text,
            .j-step3-text {
                font-size: $h6-font-size;
            }
        }
    }
}

//------------------------list--------------------
.j-list {
    width: 100%;
    position: relative;
    margin-top: 3.5rem;
    margin-bottom: 3rem;

    .j-list-bar {
        position: relative;
        transform: translateY(-1rem);
        width: 100%;

        .j-list-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 90px;
            position: absolute;
        }

        .j-list-title {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            cursor: pointer;

            h5 {
                font-family: "GenSenRounded-B";
                font-size: $h6-font-size;
                color: $white;
                // padding-right: 2rem;
            }

            .j-list-icon {
                svg {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

    }

    .j-list-info {
        // display: none;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
        width: 85%;
        margin: 0 auto;
        padding: 4rem 10px 14px 10px;

        .j-list-title {
            display: none;
        }

        .j-list-item {
            padding: 8px 0px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: 1px solid $light-lake-green;

            &:nth-last-child(1) {
                border-bottom: none;
            }

            .j-list-img {
                width: 60px;
                height: 60px;
                overflow: hidden;
                object-fit: cover;
                background-color: $dark-gray;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .j-list-sub {
                width: calc(100% - 100px);
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                margin-right: 10px;
                font-family: "Roboto";
                font-size: $ps-font-size;
                font-weight: $bold;
                color: $super-dark;

                p {
                    padding-top: 5px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

                .j-list-num {
                    display: flex;
                    align-items: center;
                    padding: 5px 0;
                    margin-top: 5px;

                    .j-money-single {
                        display: none;
                        text-align: center;
                    }

                    .j-amount {
                        text-align: center;

                        svg {
                            margin-left: -15px; // 電腦版要刪掉
                        }
                    }
                }

                .j-money {
                    text-align: center;
                }
            }

            .s-list-icon {
                width: 25px;

                svg {
                    width: 80%;
                    margin-top: 15px;
                }

                .s-trash {
                    margin-top: -5px;
                }
            }
        }
    }

}

.j-list.j-listopen {
    margin-bottom: 3rem;

    .j-list-bar {

        // .j-list-wrap{
        .j-list-title {
            .j-list-icon {
                svg {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }

    }

    .j-list-info {
        display: block;
    }
}

@media only screen and (min-width:446px) {
    .j-list.j-list-info.j-list-item.s-list-icon svg {
        margin-left: 0;
    }
}


@media only screen and (min-width: 768px) {
    .j-list {
        width: 75%;
        margin-bottom: 4rem;

        .j-list-bar {
            max-height: 100px;

            .j-list-title {
                top: 0;
                transform: translateX(-50%) translateY(40%);

                h5 {
                    font-size: $h5-font-size;
                }
            }
        }

        .j-list-info {
            padding-top: 5rem;

            .j-list-title {
                display: flex;
                justify-content: space-between;
                text-align: justify;
                font-family: "Roboto";
                font-size: $ps-font-size;
                font-weight: $bold;
                color: $super-dark;
                border-bottom: 1px solid $light-lake-green;
                padding-bottom: 8px;

                .j-product {
                    width: calc(100% - 90px);
                    margin-left: 38px;

                }
            }

            .j-list-item {
                width: 100%;

                .j-list-img {
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    object-fit: cover;
                    background-color: $dark-gray;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .j-list-sub {
                    width: calc(100% - 120px);
                    flex-direction: row;
                    justify-content: space-evenly;

                    p {
                        width: 40%;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                    }

                    .j-list-num {
                        width: 60%;
                        display: inline-flex;

                        .j-money-single {
                            display: inline-block;
                        }

                        .j-money {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .j-list {
        width: 75%;
        margin-top: 4rem;
        margin-bottom: 10rem;

        .j-list-bar {
            max-height: 120px;

            .j-list-title {
                top: 0;
                transform: translateX(-50%) translateY(-20%);

                h5 {
                    font-size: $h4-font-size;
                }

            }
        }

        .j-list-info {
            padding-top: 8rem;
        }
    }
}

// ------------------------加購包裝卡片------------------------------
.s-package-wrap {
    // margin-top: 50px;

    .container {
        width: 100%;
        margin: 0 auto;

        .row {
            margin: 0 15px;

            .title-text-col {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                background-color: $light-lake-green;
                border: 3px solid $light-lake-green;
                border-radius: 10px 10px 0 0;
                text-align: center;

                h3 {
                    font-family: "GenSenRounded-B";
                    font-size: $p-font-size;
                    color: white;
                    padding: 12px;

                }
            }

            .package-col {
                justify-content: center;
                align-items: center;
                border: 3px solid $light-lake-green;
                border-radius: 0 0 10px 10px;
                padding: 20px;

                button {
                    background-color: black;
                    border: 1px solid black;
                    color: white;
                    font-family: "GenSenRounded-M";
                    font-size: $ps-font-size;
                    border-radius: 10px;
                    padding: 10px;
                    width: 55%;
                    line-height: 0.8rem;
                    text-align: center;
                    margin-left: 20%;
                }

                .package-radio label {
                    margin-left: 20%;
                    margin-top: 20px;

                    h3 {
                        font-family: "GenSenRounded-B";
                        font-size: $ps-font-size;
                        color: $super-dark;
                    }
                }
            }
        }
    }
}

.s-discount-wrap {
    margin-top: 30px;

    .container {
        width: 100%;
        margin: 0 auto;

        .row {
            margin: 0 15px;

            .title-text-col {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                background-color: $light-lake-green;
                border: 3px solid $light-lake-green;
                border-radius: 10px 10px 0 0;
                text-align: center;

                h3 {
                    font-family: "GenSenRounded-B";
                    font-size: $p-font-size;
                    color: white;
                    padding: 12px;

                }
            }

            .discount-col {
                padding-top: 20px;
                border-left: 3px solid $light-lake-green;
                border-right: 3px solid $light-lake-green;

                .col-6 {
                    padding: 0;
                    padding: 10px 0 10px 15px;

                    .discount-radio {
                        padding-left: 20%;
                    }

                    h3 {
                        font-family: "GenSenRounded-B";
                        font-size: $ps-font-size;
                        color: $super-dark;
                    }
                }

            }

            .coupon-col {
                border-left: 3px solid $light-lake-green;
                border-right: 3px solid $light-lake-green;
                border-bottom: 3px solid $light-lake-green;
                border-radius: 0 0 10px 10px;
                padding: 20px 0;

                h3 {
                    font-family: "GenSenRounded-B";
                    font-size: $ps-font-size;
                    color: $super-dark;
                    padding-top: 10px;
                }

                button {
                    background-color: black;
                    border: 1px solid black;
                    color: white;
                    font-family: "GenSenRounded-M";
                    font-size: $ps-font-size;
                    border-radius: 10px;
                    padding: 10px;
                    width: 50%;
                    line-height: 0.8rem;
                    text-align: center;
                    margin-left: 10px;
                }
            }
        }
    }
}

.s-mb-subtitle-wrap {
    margin-top: 80px;

    .container {
        width: 100%;
        margin: 0 auto;

        .s-mb-subtitle-area {
            width: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row {
            margin: 0;

            .col {
                button {
                    background-color: none;
                    border: 3px solid $light-lake-green;
                    color: $lake-green;
                    font-family: "GenSenRounded-B";
                    font-size: $ps-font-size;
                    border-radius: 10px;
                    width: 100%;
                    padding: 10px;
                    line-height: 0.8rem;
                    text-align: center;
                }

                .cart1-check {
                    background-color: $lake-green;
                    border: 3px solid $lake-green;
                    color: white;
                }
            }
        }
    }
}

.s-pc-btn-wrap {
    margin-top: 80px;
    margin-left: 10%;

    .container {
        width: 100%;

        .s-pc-btn-area {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .row {
            margin: 0;

            .col {
                button {
                    background-color: none;
                    border: 3px solid $light-lake-green;
                    color: $lake-green;
                    font-family: "GenSenRounded-B";
                    font-size: $ps-font-size;
                    border-radius: 10px;
                    width: 100%;
                    padding: 15px;
                    line-height: 0.8rem;
                    text-align: center;
                }

                .cart1-check {
                    background-color: $lake-green;
                    border: 3px solid $lake-green;
                    color: white;
                }
            }
        }
    }
}

// --------------------------電腦版卡片包裝展開 ------------------------------ //
.s-package-card-item {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .s-package-card-icon {
        width: 60px;

        svg {
            width: 50%;
        }
    }

    .s-package-card-title {
        // width: calc(100% - 70px);
        display: flex;
        // flex-direction: column;
        padding: 20px 0 10px;
        // margin-left: 10px;
        font-family: "Roboto";
        font-size: $p-font-size;
        font-weight: 700;
        color: $super-dark;
        white-space: nowrap;
        align-items: center;

        p {
            padding: 5px 5px 5px 10px;
        }

        .s-package-card-btn {
            button {
                align-items: center;
                background-color: $super-dark;
                border: 1px solid $super-dark;
                color: white;
                border-radius: 10px;
                width: 50%;
                line-height: 0.8rem;
                padding: 10px 20px;
                text-align: center;
            }

            .money-discount {
                color: $light-lake-green;
            }

            // .s-package-card-radio {
            //     .j-point {
            //         @extend %point-shared;
            //         @extend %point-input-shared;
            //     }
            // }
        }
    }
}

// ---------------------------------- custom radio ----------------------------- //
// custom checkbox
%point-shared {
    cursor: pointer;
    font-size: $h7-font-size;
    display: block;
    position: relative;
    user-select: none;
    padding-left: 1.75rem;
}

/* Hide the browser's default checkbox */
%point-input-shared {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.j-checkmark-r {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: $white;
    border: 2px solid $super-dark;
    border-radius: 50%;
}

/* On mouse-over */
.j-point:hover input~.j-checkmark-r {
    background-color: #D4CFC6;
}

/* When the radio button is checked*/
.j-point input:checked~.j-checkmark-r {
    background-color: $white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.j-checkmark-r:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.j-point input:checked~.j-checkmark-r:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.j-point .j-checkmark-r:after {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
}

// --------------------------小計區 ------------------------------ //
.s-subtitle-list-wrap {
    margin-top: 50px;

    .container {
        width: 100%;
        margin: 0 auto;

        .row {
            padding: 10px 15px;

            .subtitle-col {
                display: flex;
                justify-content: start;
                align-items: start;
            }

            .price-col {
                display: flex;
                justify-content: end;
                align-items: flex-end;
            }

            .col {
                font-family: "GenSenRounded-B";
                font-size: $p-font-size;
                color: $super-dark;
            }
        }

        .subtitle-col-boder {
            border-bottom: 1px solid $super-dark;
        }

        .subtitle-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;

            button {
                background-color: none;
                border: 3px solid $light-lake-green;
                color: $lake-green;
                font-family: "GenSenRounded-B";
                font-size: $ps-font-size;
                border-radius: 10px;
                width: 100%;
                padding: 10px;
                line-height: 0.8rem;
                text-align: center;
            }

            .cart1-check {
                background-color: $lake-green;
                border: 3px solid $lake-green;
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .s-package-card-area {
        width: 70%;
        // padding-top: 2rem;
    }

    .s-discount-area {
        width: 70%;
        padding-top: 1.5rem;
    }
}

//--------------------------------------fixed subtotal-----------
.j-subtotal {
    position: relative;
    width: 100%;

    .j-subtotal-f {
        width: 100%;
        position: fixed;
        border-radius: 20px 20px 0 0;
        background: url("../images/other_bg_paper.png") center center/cover no-repeat;
        box-shadow: 0px -1px 14px rgba($color: $super-dark, $alpha: 0.25);
        z-index: 100;
        bottom: 0;
        left: 0;

        .j-sum-item {
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .j-upicon {
                position: relative;
                margin-top: 1rem;
                width: 100%;
                min-height: 1rem;
                text-align: center;
                cursor: pointer;

                svg {
                    width: 100%;
                    position: absolute;
                    transform: translate(-50%);

                    &:nth-child(2) {
                        display: none;
                    }
                }
            }

            .j-amount-detail {
                padding: 0.5rem;
                font-family: "Roboto";
                font-size: $p-font-size;
                font-weight: $bold;
                width: 85%;
                border-bottom: 1px solid $dark-gray;
                display: none;

                .j-detail {
                    padding: 0.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .j-pl {
                        padding-left: 0.6rem;
                    }
                }
            }

            .j-total {
                padding: 1rem 0 2rem;

                a {
                    display: block;

                    button {
                        border: none;
                        background-color: $lake-green;
                        color: $white;
                        padding: 10px 30px;
                        border-radius: 10px;
                        font-family: "GenSenRounded-B";
                        font-size: $h7-font-size;
                        font-weight: $bold;

                        span {
                            margin-left: 0.5rem;
                        }
                    }
                }

            }
        }
    }

    .j-fixed-bg {
        display: none;
        z-index: 30;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.j-subtotal.j-open {
    .j-subtotal-f {
        .j-sum-item {
            .j-upicon {
                svg {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: inline-block;
                    }
                }
            }

            .j-amount-detail {
                display: flex;
                flex-direction: column;

            }
        }
    }

    .j-fixed-bg {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .j-subtotal {
        display: none;
    }
}

//-------------------------------fixed subtotal-kv-------
.j-summary-list {
    display: none;
}

@media only screen and (min-width: 768px) {
    .j-summary-list {
        display: block;
        outline: 2px solid $deep-brown;
        position: fixed;
        top: 40vh;
        right: 3vw;
        width: 25%;
        max-width: 320px;
        border-radius: 10px;
        box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.25);

        // overflow: hidden;
        .j-bling-img {
            position: absolute;
            transform: translateY(-33%);
            right: -5vw;
            z-index: -1;
        }

        .j-summary-title {
            border-radius: 10px 10px 0 0;
            padding: 15px 0;
            text-align: center;
            font-family: "GenSenRounded-B";
            font-size: $h5-font-size;
            color: $white;
            background-color: $deep-brown;
        }

        .j-summary-info {
            background: url("../images/other_bg_paper.png") center center/cover no-repeat;
            padding: 30px 5% 0px;
            // margin: 0 5%;
            font-family: "Roboto";
            font-size: $ps-font-size;
            font-weight: $bold;

            .j-summary-items {
                padding-bottom: 30px;
                border-bottom: 2px solid $deep-brown;

                .j-summary-item {
                    padding: 0.5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    .j-pl {
                        padding-left: 0.8rem;
                    }
                }
            }
        }

        .j-total-kv {
            background: url("../images/other_bg_paper.png") center center/cover no-repeat;
            border-radius: 0 0 10px 10px;
            padding: 30px 5% 40px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: "Roboto";
            font-size: $ps-font-size;
            font-weight: $bold;

            .j-pl {
                padding-left: 0.8rem;
            }
        }
    }
}

.s-summary-list-fixed {
    position: fixed;
    top: 0;
}

// ------------------------ 加購商品區 ------------------------- //
.s-additional-title-wrap {
    margin-top: 9.5rem;

    .container {
        width: 100%;

        .row {
            margin: 0 auto;

            .col {
                display: flex;
                justify-content: start;
                align-items: start;

                h3 {
                    font-family: "GenSenRounded-B";
                    font-size: $h6-font-size;
                    color: $super-dark;
                }

                .svg-col {
                    margin-left: -20%;
                }
            }
        }
    }
}

.s-additional-product-section {
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 100px;
    background: url(../images/cart1-add-mb-bn.svg) left bottom no-repeat, url(../images/cart1-ribbon.svg) left top -100% no-repeat;
    padding-bottom: 10px;

    .additional-product-wrap {
        overflow-x: scroll;

        &::-webkit-scrollbar {
            -webkit-overflow-scrolling: touch;
            width: 0;
            height: 0;
            display: none;
        }

        .additional-product-box {
            width: 2340px;
            padding-top: 50px;


            .additional-product-card {
                margin-right: 10px;
                width: 200px;

                .img-wrap {
                    background-color: white;
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px;
                }

                .info-wrap {
                    padding-top: 10px;

                    h3 {
                        text-align: left;
                        padding: 0 10px;
                        font-family: "GenSenRounded-B";
                        font-size: $ps-font-size;
                        color: $super-dark;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        min-height: 30px;

                    }

                    .cta-btn {
                        padding: 10px 10px 0;
                        align-items: center;


                        .additionalPrice {
                            text-align: left;
                            font-family: "Roboto";
                            font-size: $ps-font-size;
                            font-weight: 700;
                            width: 50%;
                        }

                        .additionalPrice::before {
                            content: 'NT$ ';
                            color: $super-dark;
                        }

                        button {
                            width: 40%;
                            padding: 5px;
                            border-radius: 10px;
                            background-color: $lake-green;
                            border: 1px solid $lake-green;
                        }
                    }
                }

            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .s-additional-product-section {
        padding-left: 130px;
    }
}

@media only screen and (min-width: 768px) {
    .s-additional-product-section {
        background: url(../images/cart1-add-pc-bn.svg) left bottom no-repeat, url(../images/cart1-ribbon.svg) left top -160px no-repeat;
        padding-bottom: 35px;
        padding-left: 300px;

        .additional-product-box {
            width: 2655px;
            padding-top: 50px;
        }
    }

    .s-additional-title-wrap {
        .container {
            width: 100%;
            margin-top: 13.5rem;

            .row {
                margin: 0;
                width: 70%;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .s-additional-title-wrap {
        .container {
            width: 100%;

            .row {
                // margin: 0 -15px;
                width: 60%;

                .col {
                    h3 {
                        font-size: $h5-font-size;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    .s-additional-title-wrap {
        .container {
            width: 100%;

            .row {
                margin: 0 -15px;
                width: 60%;

                .col {
                    h3 {
                        font-size: $h4-font-size;
                    }
                }
            }
        }
    }
}

// -----------------------電腦版優惠券光箱----------------------------------------- //
.s-package-wrap {
    .container {
        .j-list {
            .j-list-info {
                .s-coupon-pc-lightbox {
                    display: none;

                    .s-coupon-lightbox-black {
                        z-index: 20;
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                    }

                    .s-coupon-lightbox-bg {
                        z-index: 21;
                        position: fixed;
                        top: 50vh;
                        left: 50vw;
                        transform: translateX(-50%) translateY(-42%);
                        width: 90%;
                        max-width: 400px;
                        font-family: "GenSenRounded-B";
                        font-weight: $bold;
                        text-align: center;
                        background: url("../images/cart1-coupon-bg.png")center center/100% 100% no-repeat;
                        padding: 50px 0;

                        button {
                            border: 1px solid $super-dark;
                            background-color: $super-dark;
                            border-radius: 10px;
                            color: $white;
                            font-family: "GenSenRounded-M";
                            font-size: $p-font-size;
                            text-align: center;
                            padding: 10px 40px;
                        }

                        .s-coupon-select {
                            padding: 0 20px;
                            position: relative;

                            .coupon-radio-card {
                                padding-bottom: 1.1rem;

                                .coupon-close-icon {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    left: 85%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// -----------------------手機版優惠券光箱----------------------------------------- //
.s-discount-wrap {
    .container {
        .s-coupon-lightbox {
            display: none;
        }
    }
}

.s-discount-wrap {
    .container {

        .s-coupon-lightbox {
            .s-coupon-lightbox-black {
                z-index: 20;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.7);
            }

            .s-coupon-lightbox-bg {
                z-index: 21;
                position: fixed;
                top: 50vh;
                left: 50vw;
                transform: translateX(-50%) translateY(-50%);
                width: 90%;
                max-width: 400px;
                font-family: "GenSenRounded-B";
                font-weight: $bold;
                text-align: center;
                background: url("../images/cart1-coupon-bg.png")center center/100% 100% no-repeat;
                padding: 50px 0;

                button {
                    border: 1px solid $super-dark;
                    background-color: $super-dark;
                    border-radius: 10px;
                    color: $white;
                    font-family: "GenSenRounded-M";
                    font-size: $p-font-size;
                    text-align: center;
                    padding: 10px 40px;
                }

                .s-coupon-select {
                    padding: 0 20px;
                    position: relative;

                    .coupon-radio-card {
                        padding-bottom: 1.1rem;
                        // position: relative;

                        .coupon-close-icon {
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 85%;
                        }
                    }
                }
            }
        }
    }
}