* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}

.openingArea {
  width: 100%;
  height: 100vh;
  background-image: url(../images/star_bg_3.png);
  background-color: #154d7a;
  background-position: center;
  background-size: 100%;
  -webkit-mask: url(../images/open_face.svg) no-repeat center;
  -webkit-mask-size: 350% 350%;
  mask: url(../images/open_face.svg) no-repeat center;
  mask-size: 350% 350%;
  -webkit-animation: openBg 2s infinite alternate;
          animation: openBg 2s infinite alternate;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  z-index: 30;
}

@-webkit-keyframes openBg {
  from {
    background-size: 100%;
  }
  to {
    background-size: 105%;
  }
}

@keyframes openBg {
  from {
    background-size: 100%;
  }
  to {
    background-size: 105%;
  }
}

.openingArea .giftBoxArea {
  width: 100%;
  height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .openingArea .giftBoxArea {
    width: 70%;
  }
}

.openingArea .giftBoxArea .giftAnimateArea {
  width: 100%;
  padding-top: 260px;
}

@media (min-width: 768px) {
  .openingArea .giftBoxArea .giftAnimateArea {
    padding-top: 100px;
  }
}

#openArea.animation-start {
  -webkit-animation: openingAnimate 3s both;
          animation: openingAnimate 3s both;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes openingAnimate {
  0% {
    -webkit-mask-size: 350% 350%;
    mask-size: 350% 350%;
    height: 100vh;
  }
  80% {
    -webkit-mask-size: 30% 30%;
    mask-size: 30% 30%;
    height: 100vh;
  }
  100% {
    -webkit-mask-size: 0% 0%;
    mask-size: 0% 0%;
    height: 0vh;
  }
}

@keyframes openingAnimate {
  0% {
    -webkit-mask-size: 350% 350%;
    mask-size: 350% 350%;
    height: 100vh;
  }
  80% {
    -webkit-mask-size: 30% 30%;
    mask-size: 30% 30%;
    height: 100vh;
  }
  100% {
    -webkit-mask-size: 0% 0%;
    mask-size: 0% 0%;
    height: 0vh;
  }
}

.indexContainer {
  width: 100%;
  height: 100%;
  background-image: url(../images/m-indexBg-02.png);
  background-size: 100%;
  background-repeat: repeat-y;
}

@media (min-width: 576px) {
  .indexContainer {
    background-image: url(../images/w-indexbg-02.png);
    background-size: 100%;
    -webkit-transition: background .4s ease-in;
    transition: background .4s ease-in;
    background-repeat: repeat;
  }
}

.indexContainer .w-indexHeader-menu_fixed {
  position: fixed;
  z-index: 20;
  top: 42px;
  width: 100%;
  display: none;
}

@media (min-width: 768px) {
  .indexContainer .w-indexHeader-menu_fixed {
    display: block;
  }
}

.indexContainer .w-indexHeader-menu_fixed .w-indexHeader-menu {
  position: absolute;
  right: 100px;
  width: 5%;
  -webkit-transition: .5s;
  transition: .5s;
}

.indexContainer .w-indexHeader-menu_fixed .w-indexHeader-menu img {
  width: 76%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.indexContainer .w-indexHeader-menu_fixed .w-indexHeader-menu img:hover {
  -webkit-transform: rotate(1.2);
          transform: rotate(1.2);
}

.indexContainer .w-indexHeader-menuSection {
  position: absolute;
  width: 300px;
  height: 340px;
  top: 100px;
  right: 60px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.indexContainer .w-indexHeader-menuSection .menuSection_top {
  position: absolute;
  width: 20%;
  height: 25px;
  top: -25px;
  right: 75px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_top img {
  width: 100%;
  height: 100%;
  opacity: .8;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.854);
  border-radius: 10%;
  padding: 20px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_top {
  font-family: "GenSenRounded-B";
  color: #2d827d;
  font-size: 20px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  border-bottom: 2px solid #2d827d;
  margin-bottom: 10px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainLeft {
  width: 50%;
  height: 100%;
  margin-left: 5px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainLeft a {
  text-decoration: none;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainLeft a .mainLeftWrap {
  padding-left: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  -webkit-transition: .5s;
  transition: .5s;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainLeft a .mainLeftWrap:hover {
  background-color: #2d827c48;
  border-radius: 5%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainLeft a .mainLeftWrap img {
  width: 20%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainLeft a .mainLeftWrap .menuBox_item {
  margin-left: 10px;
  font-family: "GenSenRounded-B";
  color: #4c4948;
  font-size: 16px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainRight {
  width: 50%;
  height: 100%;
  margin-left: 10px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainRight a {
  text-decoration: none;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainRight a .mainLeftWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainRight a .mainLeftWrap:hover {
  background-color: #2d827c48;
  border-radius: 5%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainRight a .mainLeftWrap img {
  width: 20%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_main .menuSectionBox_mainRight a .mainLeftWrap .menuBox_item {
  margin-left: 10px;
  font-family: "GenSenRounded-B";
  color: #4c4948;
  font-size: 16px;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_botton {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_botton .menuSectionBox_bottonWrap {
  width: 30%;
  height: 100%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_botton .menuSectionBox_bottonWrap img {
  width: 100%;
  height: 90%;
}

.indexContainer .w-indexHeader-menuSection .menuSection_box .menuSection_box_botton .menuSectionBox_bottonWrap img:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.08));
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.08));
}

.indexContainer .w-indexScrollTop {
  position: fixed;
  z-index: 19;
  bottom: 2%;
  right: 2%;
  width: 70px;
  height: 70px;
}

.indexContainer .w-indexScrollTop .scrollBtn {
  width: 100%;
  height: 100%;
}

.indexContainer .w-indexScrollTop .scrollBtn img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-index-container {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
}

@media (min-width: 768px) {
  .p-index-container {
    margin-top: 150px;
    padding-bottom: 50px;
  }
}

.p-index-container::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}

.card-wrap {
  margin: 10px;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-wrap:hover .card-info:after {
  -webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-wrap:hover .card-bg {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
}

.card-wrap:hover .card {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.card {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-image: url(../images/story_paper_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.08);
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (min-width: 768px) {
  .card {
    width: 320px;
    height: 480px;
    margin-right: 20px;
  }
}

.card-bg {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
  background-image: url(../images/story_paper_02.jpg);
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info p {
  opacity: 0;
  font-family: "GenSenRounded-B";
  font-size: 16px;
  line-height: 20px;
  color: #554d49;
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: "GenSenRounded-B";
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 40px;
  color: #554d49;
}

.indexBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.I-mainSection {
  padding-top: 56.5px;
  width: 100%;
  overflow: hidden;
}

.I-mainSection .w-indexHeader {
  display: none;
}

@media (min-width: 768px) {
  .I-mainSection .w-indexHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .I-mainSection .w-indexHeader .w-indexHeaderBox {
    width: 12%;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .I-mainSection .w-indexHeader .w-indexHeaderBox .w-indexHeader-item1 {
    margin-right: 30px;
    width: 60%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .I-mainSection .w-indexHeader .w-indexHeaderBox .w-indexHeader-item1 img {
    width: 100%;
    -webkit-filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.16));
    filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.16));
  }
  .I-mainSection .w-indexHeader .w-indexHeaderBox .w-indexHeader-item1 img:hover {
    -webkit-transform: scale(105%);
            transform: scale(105%);
  }
}

.I-mainSection .mainTop {
  margin: auto;
  width: 100%;
  height: 30%;
}

.I-mainSection .mainTop .mainLogo {
  width: 40%;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .I-mainSection .mainTop .mainLogo {
    width: 17%;
    padding-top: 0px;
  }
}

.I-mainSection .mainTop .mainLogo .mainLogo img {
  width: 100%;
}

.I-mainSection .mainTop .mainNav {
  padding-top: 30px;
  width: 100%;
  display: none;
}

@media (min-width: 1200px) {
  .I-mainSection .mainTop .mainNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    width: 100%;
  }
}

.I-mainSection .mainTop .mainNav .mainNav-wrap {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 22%;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a {
  text-decoration: none;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-1 .nav-1L {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  padding-right: 10px;
  color: #000000;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-1 .nav-1L:hover {
  color: #2d827d;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-1 .nav-1R {
  width: 18px;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-1 .nav-1R svg {
  fill: #ca3f68;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a {
  text-decoration: none;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-2 .nav-2box {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  padding-right: 10px;
  color: #000000;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-2 .nav-2box:hover {
  color: #2d827d;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a {
  text-decoration: none;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-3 .nav-3box {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  padding-right: 10px;
  color: #000000;
}

.I-mainSection .mainTop .mainNav .mainNav-wrap a .nav-3 .nav-3box:hover {
  color: #2d827d;
}

.I-mainSection {
  width: 100%;
  background-image: url(../images/ribbon-4.svg), url(../images/ribbon-3.svg), url(../images/ribbon-5.svg);
  background-repeat: no-repeat;
  background-size: 50px,90px,23px;
  background-position-y: 80px,280px,230px;
  background-position-x: 20px,-30px,360px;
  -webkit-animation-name: mainBg;
          animation-name: mainBg;
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  .I-mainSection {
    background-size: 150px,240px,90px;
    background-position-y: 150px,600px,500px;
    background-position-x: 60px,-40px,1800px;
    -webkit-animation-name: mainBg2;
            animation-name: mainBg2;
  }
  @-webkit-keyframes mainBg2 {
    0% {
      background-position-y: 150px,600px,500px;
      background-position-x: 60px,-40px,1800px;
    }
    50% {
      background-position-y: 200px,580px,520px;
      background-position-x: 60px,-40px,1800px;
    }
    100% {
      background-position-y: 150px,600px,500px;
      background-position-x: 60px,-40px,1800px;
    }
  }
  @keyframes mainBg2 {
    0% {
      background-position-y: 150px,600px,500px;
      background-position-x: 60px,-40px,1800px;
    }
    50% {
      background-position-y: 200px,580px,520px;
      background-position-x: 60px,-40px,1800px;
    }
    100% {
      background-position-y: 150px,600px,500px;
      background-position-x: 60px,-40px,1800px;
    }
  }
}

.mainBotton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media (max-width: 375px) {
  .mainBotton {
    margin-bottom: 10vh;
  }
}

.mainBotton .mainRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-animation: mainCard 10s linear infinite;
          animation: mainCard 10s linear infinite;
}

@media (max-width: 375px) {
  .mainBotton .mainRow {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    padding-left: -30px;
  }
}

.mainBotton .mainRow .mainCard {
  margin: auto;
  width: 100%;
  text-align: center;
}

@media (max-width: 375px) {
  .mainBotton .mainRow .mainCard {
    width: 100%;
  }
}

.mainBotton .mainRow .mainCard img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainBotton .mainRow:hover .mainCard img {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.I-storySection {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  width: 100%;
  padding-bottom: 100px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 768px) {
  .I-storySection {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
  }
}

@media (min-width: 1000px) {
  .I-storySection {
    padding-left: 270px;
    padding-right: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1400px) {
  .I-storySection {
    padding-left: 350px;
    padding-right: 350px;
  }
}

.I-storySection .storyTitle {
  width: 100%;
}

@media (min-width: 768px) {
  .I-storySection .storyTitle {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1400px) {
  .I-storySection .storyTitle {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1600px) {
  .I-storySection .storyTitle {
    -ms-flex: 0 0 40%;
    -webkit-box-flex: 0;
            flex: 0 0 40%;
    max-width: 40%;
    padding-right: 20px;
  }
}

.I-storySection .storyTitle h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 36px;
}

@media (min-width: 1400px) {
  .I-storySection .storyTitle h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

.I-storySection .storyTitle .I-story-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.I-storySection .storyTitle .I-story-text h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #d4cfc6;
  background-color: #000000;
  border-radius: 60px;
  padding: 0px 15px 5px 15px;
}

@media (min-width: 1400px) {
  .I-storySection .storyTitle .I-story-text h3 {
    font-size: 36px;
  }
}

.I-storySection .storyInfor {
  margin-top: 15px;
  margin-left: 5px;
}

.I-storySection .storyInfor .storyInfor-text {
  font-family: "GenSenRounded-M";
  text-align: justify;
  text-justify: distribute;
  font-size: 13px;
  line-height: 20px;
  color: #4c4948;
}

@media (min-width: 768px) {
  .I-storySection .storyInfor .storyInfor-text {
    font-size: 16px;
    line-height: 24px;
  }
}

.I-populerSection {
  -webkit-transition: .5s;
  transition: .5s;
  background-image: url(../images/elf_06_border.png);
  background-repeat: no-repeat;
  background-position: 105%;
  background-position-y: -10px;
  margin-bottom: 200px;
  background-size: 40%;
  padding-top: 30px;
  width: 100%;
  -webkit-animation: populerElf 2s infinite alternate;
          animation: populerElf 2s infinite alternate;
}

@-webkit-keyframes populerElf {
  from {
    background-position-x: 105%;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes populerElf {
  from {
    background-position-x: 105%;
  }
  to {
    background-position-x: 100%;
  }
}

@media (min-width: 768px) {
  .I-populerSection {
    padding-top: 250px;
    background-size: 20%;
    background-position-y: 0px;
    background-position-x: 100%;
  }
  @-webkit-keyframes populerElf {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: 95%;
    }
  }
  @keyframes populerElf {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: 95%;
    }
  }
}

.I-populerSection .populerTitle {
  width: 100%;
  height: 20%;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .I-populerSection .populerTitle {
    padding-left: 350px;
    padding-right: 350px;
  }
}

.I-populerSection .populerTitle h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
}

@media (min-width: 1400px) {
  .I-populerSection .populerTitle h2 {
    font-size: 48px;
    line-height: 60px;
  }
}

.I-populerSection .populerTitle .poupler-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.I-populerSection .populerTitle .poupler-text h3 {
  margin-top: 10px;
  font-family: "GenSenRounded-B";
  font-size: 20px;
  color: #d4cfc6;
  background-color: #000000;
  border-radius: 60px;
  padding: 5px 15px;
}

@media (min-width: 1400px) {
  .I-populerSection .populerTitle .poupler-text h3 {
    font-size: 24px;
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    padding: 8px 15px;
  }
}

@media (min-width: 1400px) {
  .I-populerSection .populerTitle .poupler-text h2 {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
}

.I-populerSection .populerInfor {
  margin-top: 50px;
  width: 100%;
  position: relative;
}

@media (min-width: 1400px) {
  .I-populerSection .populerInfor {
    margin-top: 100px;
  }
}

.I-populerSection .populerInfor .populerInfor-line {
  margin-left: 30px;
  width: 50%;
  position: absolute;
  top: -15px;
}

@media (min-width: 1400px) {
  .I-populerSection .populerInfor .populerInfor-line {
    width: 30%;
    margin-left: 300px;
    display: none;
  }
}

.I-populerSection .populerInfor .populerInforBox {
  padding-left: -30px;
  padding-right: -30px;
  width: 100%;
  overflow: hidden;
  padding-top: 0px;
}

@media (min-width: 1400px) {
  .I-populerSection .populerInfor .populerInforBox {
    background-color: #ffffff00;
  }
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
  margin: 0px 5px;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row:hover .populerCardPrice {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #c2c2c2;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row:hover .populerCardTop {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

@media (min-width: 1400px) {
  .I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row {
    -ms-flex: 0 0 17%;
    -webkit-box-flex: 0;
            flex: 0 0 17%;
    max-width: 17%;
  }
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s {
  width: 85%;
  margin: auto;
  cursor: pointer;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s .populerCardTop {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s .populerCardInfor .populerCardTitle {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

@media (min-width: 768px) {
  .I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s .populerCardInfor .populerCardTitle {
    padding-bottom: 5px;
  }
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s .populerCardInfor .populerCardPrice {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  width: 48%;
  margin: 0;
  border: 1px solid #000000;
  padding: 2px 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s .populerCardInfor .populerCardPrice {
    width: 38%;
    padding: 2px 5px;
  }
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-s .populerCardInfor .populerCardPrice::before {
  content: 'TWD ';
  color: #000000;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b {
  width: 100%;
  cursor: pointer;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b .populerCardTop {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b .populerCardInfor .populerCardTitle {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

@media (min-width: 768px) {
  .I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b .populerCardInfor .populerCardTitle {
    padding-bottom: 5px;
  }
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b .populerCardInfor .populerCardPrice {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  width: 40%;
  margin: 0;
  border: 1px solid #000000;
  padding: 2px 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b .populerCardInfor .populerCardPrice {
    width: 35%;
    padding: 2px 5px;
  }
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton .populerInfor-row .populerCard-b .populerCardInfor .populerCardPrice::before {
  content: 'TWD ';
  color: #000000;
}

.I-populerSection .populerInfor .populerInforBox .populerInfor-botton::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}

.I-FestivalSection {
  width: 100%;
  background-image: url(../images/festival-text.svg), url(../images/recommend-text.svg), url(../images/elf_05_border.png);
  background-repeat: no-repeat;
  background-size: 10%,10%,70%;
  background-position-x: 0%,100%,90%;
  background-position-y: 120px, 300px,0px;
  background-attachment: fixed,fixed,local;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: FestivalAnimate 1.5s alternate infinite;
          animation: FestivalAnimate 1.5s alternate infinite;
}

@-webkit-keyframes FestivalAnimate {
  0% {
    background-position-y: 120px, 300px,0px;
  }
  100% {
    background-position-y: 120px, 300px,15px;
  }
}

@keyframes FestivalAnimate {
  0% {
    background-position-y: 120px, 300px,0px;
  }
  100% {
    background-position-y: 120px, 300px,15px;
  }
}

@media (min-width: 1400px) {
  .I-FestivalSection {
    background-size: 5%,4%,32%;
    background-position-x: 0%,100%,80%;
    background-position-y: 150px, 280px,200px;
    background-attachment: fixed,fixed,local;
    margin-top: 300px;
    -webkit-animation: FestivalAnimate 10s linear alternate infinite;
            animation: FestivalAnimate 10s linear alternate infinite;
  }
  @-webkit-keyframes FestivalAnimate {
    0% {
      background-position-y: -50px, 1600px,200px;
    }
    100% {
      background-position-y: 1500px, 0px,170px;
    }
  }
  @keyframes FestivalAnimate {
    0% {
      background-position-y: -50px, 1600px,200px;
    }
    100% {
      background-position-y: 1500px, 0px,170px;
    }
  }
}

.I-FestivalSection .FestivalBox {
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.I-FestivalSection .FestivalBox .Festival-TextL {
  margin-top: 100px;
  width: 10%;
  top: 10px;
}

@media (min-width: 1400px) {
  .I-FestivalSection .FestivalBox .Festival-TextL {
    width: 5%;
  }
}

.I-FestivalSection .FestivalBox .Festival-TextR {
  margin-top: 300px;
  width: 10%;
  top: 20%;
}

@media (min-width: 1400px) {
  .I-FestivalSection .FestivalBox .Festival-TextR {
    width: 5%;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox {
  margin: auto;
  margin-top: 150px;
  width: 80%;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox {
    width: 60%;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow {
  width: 100%;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 250px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow {
  margin-bottom: 30px;
  margin: auto;
  padding-bottom: 30px;
}

@media (min-width: 1400px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 0px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard {
  position: relative;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Top .img-wrap {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.293), 9px 11px 3px 1px rgba(12, 13, 15, 0.215);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.293), 9px 11px 3px 1px rgba(12, 13, 15, 0.215);
  background-color: #000000;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Top .img-wrap {
    -webkit-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.293), 20px 20px 3px 1px rgba(12, 13, 15, 0.215);
            box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.293), 20px 20px 3px 1px rgba(12, 13, 15, 0.215);
    border-radius: 40px;
    width: 100%;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Top .img-wrap img {
  width: 100%;
  opacity: 0.85;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Top .Top-text p {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 10px 0 0 0;
  background-color: #ffffff;
  top: 0;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Top .Top-text p {
    font-size: 24px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Infor {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 0px;
  padding: 10px 15px;
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Infor .FestivalCard-InforL {
  width: 70%;
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Infor .FestivalCard-InforL p {
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  margin: 0;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard .FestivalCard-Infor .FestivalCard-InforL p {
    font-size: 16px;
    margin-left: 20px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR {
  width: 30%;
  padding-left: 8px;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR .FestivalCard-PriceBox {
  width: 70px;
  height: 70px;
  padding: 7px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.696);
  margin-left: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR .FestivalCard-PriceBox {
    width: 90px;
    height: 90px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR .FestivalCard-PriceBox .FestivalCard-Price {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  padding-top: 13px;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR .FestivalCard-PriceBox .FestivalCard-Price {
    padding-top: 19px;
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR .FestivalCard-PriceBox .FestivalCard-Price p {
  margin: 0;
  line-height: 16px;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  font-weight: 900;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard-InforR .FestivalCard-PriceBox .FestivalCard-Price p {
    font-size: 16px;
    line-height: 20px;
    font-family: "GenSenRounded-M";
  }
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard:hover .FestivalCard-PriceBox {
  background-color: #2d827cc2;
  -webkit-transition: .5s;
  transition: .5s;
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRow .FestivalCard:hover .img-wrap img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .5s;
  transition: .5s;
}

.I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRowDown {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .I-FestivalSection .FestivalBox .FestivalMainBox .FestivalRow .FestivalCardRowDown {
    margin-top: 150px;
  }
}

.I-newSection {
  width: 100%;
}

@media (min-width: 768px) {
  .I-newSection {
    padding-left: 100px;
    margin-top: 300px;
  }
}

@media (min-width: 1000px) {
  .I-newSection {
    padding-top: 50px;
    padding-left: 270px;
  }
}

@media (min-width: 1400px) {
  .I-newSection {
    padding-left: 350px;
  }
}

.I-newSection .newSection-Top {
  width: 100%;
  margin-top: 100px;
}

.I-newSection .newSection-Top .newTitle {
  width: 100%;
  height: 20%;
  padding-left: 30px;
  padding-top: 40px;
  margin-right: 40px;
}

@media (min-width: 768px) {
  .I-newSection .newSection-Top .newTitle {
    margin-right: 0px;
    width: 50%;
  }
}

.I-newSection .newSection-Top .newTitle h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
}

@media (min-width: 768px) {
  .I-newSection .newSection-Top .newTitle h2 {
    font-size: 48px;
  }
}

.I-newSection .newSection-Top .newTitle .new-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.I-newSection .newSection-Top .newTitle .new-text h3 {
  margin-top: 10px;
  font-family: "GenSenRounded-B";
  font-size: 20px;
  color: #d4cfc6;
  background-color: #000000;
  border-radius: 60px;
  padding: 5px 15px 5px 15px;
}

@media (min-width: 768px) {
  .I-newSection .newSection-Top .newTitle .new-text h3 {
    font-size: 24px;
    padding: 8px 15px;
  }
}

.I-newSection .newSection-Top .newRow-Top {
  width: 90%;
  height: 90%;
  overflow: hidden;
}

@media (min-width: 376px) {
  .I-newSection .newSection-Top .newRow-Top {
    width: 100%;
    height: 100%;
  }
}

.I-newSection .newSection-Top .newRow-Top .newCardBox {
  overflow-x: scroll;
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  height: 90%;
}

@media (min-width: 768px) {
  .I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow {
    width: 1300px;
  }
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow .newCard {
  width: 180px;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow .newCard:hover .newCardImg img {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow .newCard .newCardImg {
  width: 100%;
  height: 230px;
  overflow: hidden;
  margin: auto;
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow .newCard .newCardImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow .newCard .newCardInfor {
  padding-top: 5px;
  margin: auto;
  width: 100%;
  height: 20%;
}

.I-newSection .newSection-Top .newRow-Top .newCardBox .newCardRow .newCard .newCardInfor p {
  font-family: "GenSenRounded-B";
  color: #4c4948;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.I-newSection .newSection-Top .newCardBox::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}

.I-newSection .newSection-botton {
  padding-left: 100px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .I-newSection .newSection-botton {
    padding-top: 100px;
    margin-bottom: 200px;
  }
}

.I-newSection .newSection-botton .newRow-botton {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.I-newSection .newSection-botton .newRow-botton .newCardBox {
  overflow-x: scroll;
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2150px;
  height: 90%;
}

@media (min-width: 768px) {
  .I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton {
    width: 2150px;
  }
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton .newCard {
  width: 180px;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton .newCard:hover .newCardImg img {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton .newCard .newCardImg {
  width: 100%;
  height: 230px;
  overflow: hidden;
  margin: auto;
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton .newCard .newCardImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton .newCard .newCardInfor {
  padding-top: 5px;
  margin: auto;
  width: 100%;
  height: 20%;
}

.I-newSection .newSection-botton .newRow-botton .newCardBox .newCardRow-botton .newCard .newCardInfor p {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  line-height: 18px;
  color: #4c4948;
  margin: 0;
}

.I-newSection .newCardBox::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}

.I-NEWSsection {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (min-width: 768px) {
  .I-NEWSsection {
    padding-top: 200px;
    margin-bottom: 300px;
  }
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer {
    overflow: hidden;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWScontainer {
  height: 100vh;
  margin-left: 8vw;
  margin-right: 8vw;
  background-image: url(../images/index-w-bg-6.svg);
  background-repeat: no-repeat;
  background-size: 440%;
  border-radius: 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer {
    background-size: 120%;
    margin-left: 170px;
    margin-right: 170px;
  }
}

@media (min-width: 1400px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer {
    background-size: 120%;
    margin-left: 350px;
    margin-right: 350px;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle {
    padding-left: 50px;
    padding-top: 130px;
  }
}

@media (min-width: 1400px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle {
    padding-left: 50px;
    padding-top: 100px;
  }
}

@media (min-width: 1600px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle {
    padding-left: 50px;
    padding-top: 150px;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  font-size: 36px;
  margin: 0;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle h2 {
    font-size: 48px;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle .NEWSinfor {
  margin-top: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle .NEWSinfor {
    width: 30%;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWScontainer .NEWStitle .NEWSinfor p {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 65%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWSbotton {
    height: 55%;
    width: 50%;
    top: 27%;
    left: 42%;
    overflow: hidden;
  }
}

@media (min-width: 1400px) {
  .I-NEWSsection .w-NEWScontainer .NEWSbotton {
    height: 100%;
    top: 25%;
    left: 42%;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox .NEWScardRow {
  width: 100%;
  height: 100%;
  padding: 0 2vh;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox .NEWScardRow .NEWScard {
  width: 100%;
  height: 100%;
  padding: 15px 0;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox .NEWScardRow .NEWScard .NEWScardImg {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox .NEWScardRow .NEWScard .NEWScardImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox .NEWScardRow .NEWScard .NEWScardInfor {
  width: 100%;
  height: 10%;
}

.I-NEWSsection .w-NEWScontainer .NEWSbotton .NEWSbox .NEWScardRow .NEWScard .NEWScardInfor p {
  margin-top: 5px;
  font-family: "GenSenRounded-M";
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
}

.I-NEWSsection .w-NEWScontainer .NEWSmore {
  position: absolute;
  top: 78%;
  width: 100%;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWSmore {
    top: 68%;
  }
}

@media (min-width: 1400px) {
  .I-NEWSsection .w-NEWScontainer .NEWSmore {
    top: 53%;
  }
}

@media (min-width: 1550px) {
  .I-NEWSsection .w-NEWScontainer .NEWSmore {
    top: 65%;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn {
  background-color: #2d827d;
  margin: auto;
  width: 60vw;
  border-radius: 10px;
  padding: 5px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn {
    width: 15%;
    margin-left: 18%;
  }
}

@media (min-width: 1400px) {
  .I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn {
    width: 13%;
    margin-left: 26%;
    padding: 10px 25px;
  }
}

@media (min-width: 1550px) {
  .I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn {
    width: 13%;
    margin-left: 21%;
    padding: 10px 25px;
  }
}

.I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn .NEWSbtn-L {
  color: #ffffff;
}

.I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn .NEWSbtn-L p {
  margin: 0;
  font-family: "GenSenRounded-M";
  font-weight: 900;
  font-size: 14px;
}

.I-NEWSsection .w-NEWScontainer .NEWSmore .NEWSbtn .NEWSbtn-R {
  width: 40%;
}

.I-NEWSsection .w-NEWScontainer .NEWSbtn:hover .NEWSbtn-R {
  -webkit-transition: .5s;
  transition: .5s;
  width: 30%;
}

.I-NEWSsection .w-NEWScontainer .NEWSbtn:hover {
  background-color: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}

.I-NEWSsection input[type=radio] {
  display: none;
}

.I-NEWSsection .p-NEWScontainer {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.I-NEWSsection .p-NEWScontainer .p-NEWScards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.I-NEWSsection .p-NEWScontainer .p-NEWScards .p-NEWScard {
  position: absolute;
  width: 60%;
  height: 70%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 768px) {
  .I-NEWSsection .p-NEWScontainer .p-NEWScards .p-NEWScard {
    height: 90%;
  }
}

@media (min-width: 1400px) {
  .I-NEWSsection .p-NEWScontainer .p-NEWScards .p-NEWScard {
    height: 90%;
  }
}

.I-NEWSsection .p-NEWScontainer .p-NEWScards .p-NEWScard .p-NEWScard-text {
  color: #ffffff;
  padding: 5px 10px;
  width: 100%;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  position: absolute;
  bottom: 0%;
  line-height: 20px;
  background-color: #000000a1;
}

@media (min-width: 768px) {
  .I-NEWSsection .p-NEWScontainer .p-NEWScards .p-NEWScard .p-NEWScard-text {
    font-family: "GenSenRounded-M";
    font-size: 16px;
  }
}

.I-NEWSsection .p-NEWScontainer .p-NEWScards .p-NEWScard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.I-NEWSsection #item-1:checked ~ .p-NEWScards #song-3, .I-NEWSsection #item-2:checked ~ .p-NEWScards #song-1, .I-NEWSsection #item-3:checked ~ .p-NEWScards #song-2 {
  -webkit-transform: translatex(-40%) scale(0.8);
          transform: translatex(-40%) scale(0.8);
  opacity: .4;
  z-index: 0;
}

.I-NEWSsection #item-1:checked ~ .p-NEWScards #song-2, .I-NEWSsection #item-2:checked ~ .p-NEWScards #song-3, .I-NEWSsection #item-3:checked ~ .p-NEWScards #song-1 {
  -webkit-transform: translatex(40%) scale(0.8);
          transform: translatex(40%) scale(0.8);
  opacity: .4;
  z-index: 0;
}

.I-NEWSsection #item-1:checked ~ .p-NEWScards #song-1, .I-NEWSsection #item-2:checked ~ .p-NEWScards #song-2, .I-NEWSsection #item-3:checked ~ .p-NEWScards #song-3 {
  -webkit-transform: translatex(0) scale(1);
          transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.I-NEWSsection #item-1:checked ~ .p-NEWScards #song-1 img, .I-NEWSsection #item-2:checked ~ .p-NEWScards #song-2 img, .I-NEWSsection #item-3:checked ~ .p-NEWScards #song-3 img {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
          box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.I-brandSection {
  width: 100%;
  height: 45vh;
}

@media (min-width: 768px) {
  .I-brandSection {
    height: 600px;
  }
}

.I-brandSection .brandBox {
  width: 100%;
  height: 100%;
  margin-top: 30%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .I-brandSection .brandBox {
    margin-top: 10px;
  }
}

.I-brandSection .brandBox .brandSlide {
  width: 200%;
  height: 40%;
  margin-top: -20px;
}

@media (min-width: 768px) {
  .I-brandSection .brandBox .brandSlide {
    width: 110%;
  }
}

.I-brandSection .brandBox .brandSlide .brandTop {
  width: calc(100px * 20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-animation: brandSlide 30s linear alternate;
          animation: brandSlide 30s linear alternate;
}

@-webkit-keyframes brandSlide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 10));
            transform: translateX(calc(-100px * 10));
  }
}

@keyframes brandSlide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-100px * 10));
            transform: translateX(calc(-100px * 10));
  }
}

@media (min-width: 768px) {
  .I-brandSection .brandBox .brandSlide .brandTop {
    width: calc(200px * 20);
  }
  @-webkit-keyframes brandSlide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-200px * 10));
              transform: translateX(calc(-200px * 10));
    }
  }
  @keyframes brandSlide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-200px * 10));
              transform: translateX(calc(-200px * 10));
    }
  }
}

.I-brandSection .brandBox .brandSlide .brandTop .brandImgWarp {
  width: 100px;
  margin: 0 -5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .I-brandSection .brandBox .brandSlide .brandTop .brandImgWarp {
    text-align: center;
    width: 200px;
    margin: 0 30px;
  }
}

.I-brandSection .brandBox .brandSlide .brandTop .brandImgWarp img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .I-brandSection .brandBox .brandSlide .brandTop .brandImgWarp img {
    text-align: center;
    width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.I-brandSection .brandBox .brandSlide .brandTop::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}

.I-brandSection .brandBox .brandSlide .brandTop2 {
  width: 100%;
  overflow-x: scroll;
  -webkit-animation: brandSlide2 10s linear infinite;
          animation: brandSlide2 10s linear infinite;
}

@-webkit-keyframes brandSlide2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes brandSlide2 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.I-brandSection .brandBox .brandSlide .brandTop2 .brandImgWarp {
  width: 100%;
  -ms-flex: 0 0 22%;
  -webkit-box-flex: 0;
          flex: 0 0 22%;
  max-width: 22%;
  margin: 0 -5px;
}

@media (min-width: 768px) {
  .I-brandSection .brandBox .brandSlide .brandTop2 .brandImgWarp {
    width: 70%;
  }
}

.I-brandSection .brandBox .brandSlide .brandTop2 .brandImgWarp img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .I-brandSection .brandBox .brandSlide .brandTop2 .brandImgWarp img {
    width: 70%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.I-brandSection .brandBox .brandSlide .brandTop2::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  width: 0;
  height: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */