* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
body {
  background: url(../images/index-bg_paper.png) center center;
  background-repeat: repeat-y;
  background-size: 100%;
}

.header-hidden {
  display: none;
  transition: 0.5s;
}

.container {
  width: 100%;
  padding: 50px 30px 0;
}
.container .article-tag-wrap {
  margin-top: 3.5rem;
}
.container .article-tag-wrap .row {
  justify-content: start;
  align-items: flex-start;
}
.container .article-tag-wrap .row .col {
  padding: 5px;
}
.container .article-tag-wrap .row .col .kol-tag {
  width: 94px;
  height: 30px;
  border: 3px solid #2d827d;
  border-radius: 100px;
  margin: 0;
  color: #2d827d;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .article-tag-wrap .row .col .kol-tag h6 {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  font-weight: 900;
}
.container .article-tag-wrap .row .col .kol-tag:hover {
  background-color: #2d827d;
  color: white;
  cursor: pointer;
}

.kol-title {
  padding-top: 5px;
  width: 50%;
}
.kol-title h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: black;
}

@media only screen and (min-width: 768px) {
  .container .article-tag-wrap {
    margin-top: 5rem;
  }
  .container .article-tag-wrap .row {
    padding: 20px 0;
  }
  .container .article-tag-wrap .row .col {
    padding: 10px;
  }
  .container .article-tag-wrap .row .col .kol-tag {
    width: 100%;
    height: 40px;
    margin: 0;
  }
  .container .article-tag-wrap .row .col .kol-tag h6 {
    font-size: 16px;
  }
  .container .article-tag-wrap .row .col .kol-tag:hover {
    font-size: 16px;
  }
}
.article-container {
  width: 100%;
}

.article-wrap .article-title {
  font-family: "GenSenRounded-B";
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 10px;
  line-height: 2rem;
}
.article-wrap .article-ribbon .col img {
  width: 50%;
}
.article-wrap .kol-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.article-wrap .kol-wrap .swiper-wrap {
  width: 500%;
}
.article-wrap .kol-wrap .swiper-wrap .swiper-train {
  width: 100%;
  transform: translateX(0px);
  transition: 0.8s;
}
.article-wrap .kol-wrap .swiper-wrap .swiper-train .img-wrap img {
  width: 100%;
}
.article-wrap .kol-wrap .swiper-wrap .swiper-train button {
  position: absolute;
  top: 20%;
  left: 35%;
  right: 0%;
  width: 35%;
  background-color: #000000;
  border: 1px solid #000000;
  opacity: 0.8;
  border-radius: 10px;
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.article-wrap .kol-wrap .swiper-wrap .swiper-train:hover {
  display: block;
  text-decoration: none;
  color: white;
}

.article-wrap .article-title {
  font-family: "GenSenRounded-B";
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 10px;
  line-height: 2rem;
}
.article-wrap .article-ribbon .col img {
  width: 50%;
}
.article-wrap .kol-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.article-wrap .kol-wrap .none-swiper-wrap {
  width: 100%;
}
.article-wrap .kol-wrap .none-swiper-wrap .none-swiper-train {
  width: 100%;
}
.article-wrap .kol-wrap .none-swiper-wrap .none-swiper-train .img-wrap img {
  width: 100%;
}
.article-wrap .kol-wrap .none-swiper-wrap .none-swiper-train .article-content-wrap {
  width: 83%;
  height: auto;
  right: 0;
  left: 0;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  transform: translateY(-35px);
}
.article-wrap .kol-wrap .none-swiper-wrap .none-swiper-train .article-content-wrap .sub-content {
  padding: 15px;
}
.article-wrap .kol-wrap .none-swiper-wrap .none-swiper-train .article-content-wrap .sub-content h6 {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #000000;
  text-align: justify;
  padding-top: 5px;
  line-height: 1.5rem;
}
.article-wrap .kol-wrap .none-swiper-wrap .none-swiper-train .article-content-wrap .sub-content p {
  font-family: "GenSenRounded-M";
  font-size: 13px;
  color: #000000;
  text-align: justify;
  padding: 20px 0 0;
  height: 150px;
  overflow-y: hidden;
  line-height: 1rem;
}

.arrow-svg {
  transform: scaleX(-1);
}

.article-content-wrap {
  width: 83%;
  height: auto;
  right: 0;
  left: 0;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  transform: translateY(-35px);
}
.article-content-wrap .sub-content {
  padding: 15px;
}
.article-content-wrap .sub-content h6 {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #000000;
  text-align: justify;
  padding-top: 5px;
  line-height: 1.5rem;
}
.article-content-wrap .sub-content p {
  font-family: "GenSenRounded-M";
  font-size: 13px;
  color: #000000;
  text-align: justify;
  padding: 20px 0 0;
  height: 110px;
  overflow-y: hidden;
  line-height: 1.5rem;
}

@media (min-width: 375px) and (max-width: 767.98px) {
  .article-container .article .kol-wrap .swiper-wrap,
.article-container .article .kol-wrap .none-swiper-wrap {
    position: relative;
  }
  .article-container .article .kol-wrap .swiper-wrap .swiper-train .article-content-wrap,
.article-container .article .kol-wrap .swiper-wrap .none-swiper-train .article-content-wrap,
.article-container .article .kol-wrap .none-swiper-wrap .swiper-train .article-content-wrap,
.article-container .article .kol-wrap .none-swiper-wrap .none-swiper-train .article-content-wrap {
    width: 83%;
    height: auto;
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
    transform: translateY(-20px);
  }
  .article-container .article .kol-wrap .swiper-wrap .swiper-train .article-content-wrap .sub-content p,
.article-container .article .kol-wrap .swiper-wrap .none-swiper-train .article-content-wrap .sub-content p,
.article-container .article .kol-wrap .none-swiper-wrap .swiper-train .article-content-wrap .sub-content p,
.article-container .article .kol-wrap .none-swiper-wrap .none-swiper-train .article-content-wrap .sub-content p {
    font-family: "GenSenRounded-M";
    font-size: 13px;
    color: #000000;
    text-align: justify;
    padding: 10px 0 0;
    height: 150px;
    overflow-y: hidden;
    line-height: 1rem;
  }
  .article-container .article .kol-wrap .article-page {
    position: absolute;
    top: 90%;
    left: 13%;
    width: 90%;
    margin: -20px;
  }
  .article-container .article .kol-wrap .article-page .col ul li {
    width: 10px;
    height: 10px;
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: none;
    margin: 0 5px;
  }
  .article-container .article .kol-wrap .article-page .col ul li.active {
    background-color: #2d827d;
    border: 2px solid #2d827d;
  }
  .article-container .article .kol-wrap .article-page .col svg {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .article-container {
    padding: 60px 30px;
  }
  .article-container .article .article-wrap .article-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 2rem;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train .img-wrap button {
    display: none;
    text-decoration: none;
    color: white;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train:hover button {
    display: block;
    cursor: pointer;
    top: 30%;
    left: 40%;
    right: 0%;
    width: 25%;
    border-radius: 10px;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    transition: 0.5s all ease;
    opacity: 0.7;
    text-decoration: none;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train:hover:hover {
    text-decoration: none;
    color: white;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train .article-content-wrap {
    width: 60%;
    height: 250px;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train .article-content-wrap h6 {
    font-size: 20px;
    padding-top: 15px;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train .article-content-wrap p {
    font-size: 14px;
    padding: 30px 0;
    height: 140px;
  }
  .article-container .article .article-wrap .kol-wrap .swiper-wrap .swiper-train .article-content-wrap .article-page {
    padding: 0 15px;
  }
}
@media only screen and (min-width: 992px) {
  .article-container {
    padding: 50px 80px;
  }
  .article-container .article .article-wrap .article-title {
    font-size: 36px;
    font-weight: 900;
    line-height: 2rem;
  }
  .article-container .article .article-wrap .article-ribbon .col img {
    width: 30%;
  }
  .article-container .article .article-wrap .kol-wrap button {
    width: 20%;
    text-decoration: none;
    color: white;
  }
  .article-container .article .article-wrap .kol-wrap .article-content-wrap {
    width: 60%;
    height: 280px;
  }
  .article-container .article .article-wrap .kol-wrap .article-content-wrap .sub-content h6 {
    font-size: 24px;
    line-height: 1.5rem;
  }
  .article-container .article .article-wrap .kol-wrap .article-content-wrap .sub-content p {
    height: 165px;
    font-size: 14px;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .kol-text-bg-section {
    background-image: url(../images/kol-text-bg.svg), url(../images/kol-bg.svg);
    background-size: 7%, 16%;
    background-repeat: no-repeat;
    background-position-x: 100%, -2%;
    background-position-y: 10%, 70%;
    background-attachment: local, fixed;
    -webkit-animation: upDown 3s linear infinite alternate;
            animation: upDown 3s linear infinite alternate;
  }
  .container .article-tag-wrap .row {
    padding: 20px 30px;
  }
  .container .article-tag-wrap .row .col {
    padding: 5px;
  }
  .container .article-tag-wrap .row .col .kol-tag h6 {
    font-size: 15px;
  }
  .container .article-tag-wrap .row .col .kol-tag:hover {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .article-container .article .article-wrap {
    padding: 0 120px;
  }
  .article-container .article .article-wrap .article-ribbon .col img {
    width: 20%;
  }
}
@media only screen and (min-width: 1400px) {
  .article-container {
    padding: 80px 0;
  }
  .article-tag-wrap .article-pc-section .row .col .kol-tag {
    width: 100%;
    height: 45px;
  }
  .article-tag-wrap .article-pc-section .row .col .kol-tag h6 {
    font-size: 18px;
  }
  .article-tag-wrap .article-pc-section .row .col .kol-tag:hover {
    font-size: 18px;
  }
}
@media (min-width: 1201px) and (max-width: 1980px) {
  .article-container .article .article-wrap .kol-wrap .article-content-wrap .article-page .arrow-left,
.article-container .article .article-wrap .kol-wrap .article-content-wrap .article-page .arrow-right {
    margin-left: 1.5rem;
  }
  .article-container .article .article-wrap .kol-wrap .article-content-wrap .article-page .arrow-left svg,
.article-container .article .article-wrap .kol-wrap .article-content-wrap .article-page .arrow-right svg {
    width: 60%;
  }
}
.article-page {
  position: absolute;
  top: 90%;
  left: 25%;
  right: 50%;
  width: 55%;
  margin: -15px;
}
.article-page .col ul {
  display: flex;
  justify-content: space-around;
}
.article-page .col ul li {
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: none;
  margin: 0 8px;
}
.article-page .col ul li.active {
  background-color: #2d827d;
  border: 2px solid #2d827d;
}
.article-page .arrow-left.active svg {
  color: #000000;
}

.turn-page-container {
  margin: 80px 0;
}
.turn-page-container .kol-turn-page {
  color: black;
  text-align: center;
  border-radius: 50%;
}
.turn-page-container .kol-turn-page ul {
  display: flex;
  justify-content: center;
}
.turn-page-container .kol-turn-page ul li {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: none;
  margin: 0 8px;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.turn-page-container .kol-turn-page ul li:hover {
  background-color: black;
  color: white;
}
.turn-page-container .kol-turn-page ul li.kol-page-span {
  background-color: black;
  color: white;
}

@-webkit-keyframes upDown {
  from {
    background-size: 7%, 16%;
    background-repeat: no-repeat;
    background-position-x: 100%, -2%;
    background-position-y: 10%, 70%;
    background-attachment: local, fixed;
  }
  to {
    background-size: 7%, 16%;
    background-repeat: no-repeat;
    background-position-x: 100%, -2%;
    background-position-y: 10%, 95%;
    background-attachment: local, fixed;
  }
}

@keyframes upDown {
  from {
    background-size: 7%, 16%;
    background-repeat: no-repeat;
    background-position-x: 100%, -2%;
    background-position-y: 10%, 70%;
    background-attachment: local, fixed;
  }
  to {
    background-size: 7%, 16%;
    background-repeat: no-repeat;
    background-position-x: 100%, -2%;
    background-position-y: 10%, 95%;
    background-attachment: local, fixed;
  }
}
#defaultAllSection {
  display: block;
}

#beautySection,
#fashionSection,
#momSection,
#houseSection,
#livingSection,
#petSection {
  display: none;
}

.article-page .col svg:hover {
  cursor: pointer;
}

.ctaBtn a {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=kol.css.map */