* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
body {
  height: 100vh;
  overflow: hidden;
}

.mb-login .login {
  width: 100%;
  height: 165px;
  justify-content: center;
}
.mb-login .login .login-bg {
  width: 100%;
  height: 165px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.mb-login .login .login-logo {
  width: 200px;
  height: 117px;
  position: absolute;
  z-index: 2;
  top: 30px;
}
.mb-login .mb-login-bg2 {
  width: 100%;
  height: 502px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
  position: absolute;
  z-index: 3;
}
.mb-login .mb-login-bg2 .login-containerr {
  text-align: left;
  margin: 0 8%;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-title {
  width: 100%;
  margin-left: 10%;
  padding-top: 50px;
  font-family: "GenSenRounded-B";
  font-size: 24px;
  color: #000000;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info {
  text-align: center;
  padding-top: 30px;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info input {
  width: 80%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #c2c2c2;
  border: none;
  border-bottom: 2px solid #4c4948;
  outline: none;
  padding-bottom: 10px;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info input ::-webkit-input-placeholder {
  color: #c2c2c2;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .mail-input {
  padding-top: 35px;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .password-input {
  padding-top: 35px;
  position: relative;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .password-input .eye-close {
  position: absolute;
  right: 8%;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .forget-pw {
  text-align: left;
  padding-left: 12%;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .forget-pw p {
  padding-top: 2px;
  font-weight: bold;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .forget-pw p a {
  text-align: left;
  font-family: "Roboto";
  font-size: 12px;
  color: #7cb2af;
}
.mb-login .mb-login-bg2 .login-containerr .bg2-info .login-btn {
  width: 263px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  background-color: #2d827d;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
.mb-login .mb-login-bg2 .login-containerr .or {
  text-align: center;
  padding-top: 40px;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
  padding-bottom: 10px;
}
.mb-login .mb-login-bg2 .login-containerr .orwith-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mb-login .mb-login-bg2 .login-containerr .orwith-icon .fb-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(194, 194, 194, 0.2901960784);
  border-radius: 10px;
  margin-right: 10px;
}
.mb-login .mb-login-bg2 .login-containerr .orwith-icon .google-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(194, 194, 194, 0.2901960784);
  border-radius: 10px;
}
.mb-login .mb-login-bg2 .login-containerr .not-member {
  padding-top: 20px;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  text-align: center;
  color: #4c4948;
}
.mb-login .mb-login-bg2 .login-containerr .not-member a {
  color: #7cb2af;
}/*# sourceMappingURL=login.css.map */