* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}

.wrap {
  width: 100%;
  height: 100vh;
}

.wrap .container .main .row {
  height: 100vh;
}

.wrap .container .main .row .col {
  background-color: #2d827d;
  padding: 0;
}

.wrap .container .main .row .col .myName {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .container .main .row .col .myName .photoborder {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #7cb2af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .container .main .row .col .myName .photoborder .myphoto {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.wrap .container .main .row .col .myName .photoborder .myphoto img.photo {
  width: 110%;
}

.wrap .container .main .row .col .myName h5 {
  font-family: "GenSenRounded-B";
  font-size: 24px;
  color: #000000;
  padding: 13px 0 13px 0;
}

.wrap .container .main .row .col .myName a.coin {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7px;
  text-decoration: none;
}

.wrap .container .main .row .col .myName a.coin svg {
  margin-right: 10px;
}

.wrap .container .main .row .col .memberbutton {
  width: 100%;
  padding: 0px 30px;
}

.wrap .container .main .row .col .memberbutton ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap .container .main .row .col .memberbutton ul li.btn {
  border: none;
  padding: 10px 0;
}

.wrap .container .main .row .col .memberbutton ul li.btn a {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  text-decoration: none;
  font-family: "GenSenRounded-M";
  font-size: 14px;
  color: #4c4948;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .container .main .row .col .memberbutton ul li.btn a svg {
  margin-bottom: 5px;
}

.wrap .container .main .row .col .whiteBg {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 -10px 19px #4c4948;
          box-shadow: 0 -10px 19px #4c4948;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
  margin-top: 15px;
}

.wrap .container .main .row .col .whiteBg .member-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 36px;
}

.wrap .container .main .row .col .whiteBg .member-card img.memberCard {
  width: 280px;
  height: 380px;
  border-radius: 10px;
  background-color: #f07f72;
}

.wrap .container .main .row .col .whiteBg .member-card .memberLevel {
  width: 220px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.wrap .container .main .row .col .whiteBg .member-card .memberLevel .diamondicon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

.wrap .container .main .row .col .whiteBg .member-card .memberLevel .progress {
  width: 204px;
  height: 8px;
  background-color: #d4cfc6;
}

.wrap .container .main .row .col .whiteBg .member-card .memberLevel .progress .progress-bar {
  background-color: #7cb2af;
}

.wrap .container .main .row .col .whiteBg .myIntro {
  width: 100%;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-title {
  width: 40%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-info {
  width: 60%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}

.wrap .container .main .row .col .whiteBg .myIntro .userName .myIntro-info p {
  width: 100%;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-title {
  width: 40%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-info {
  width: 60%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}

.wrap .container .main .row .col .whiteBg .myIntro .gender .myIntro-info p {
  width: 100%;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-title {
  width: 40%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-info {
  width: 60%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}

.wrap .container .main .row .col .whiteBg .myIntro .birthday .myIntro-info p {
  width: 100%;
}

.wrap .container .main .row .col .whiteBg .myIntro .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-title {
  width: 40%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-info {
  width: 60%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}

.wrap .container .main .row .col .whiteBg .myIntro .email .myIntro-info p {
  width: 100%;
  line-height: 18px;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-title {
  width: 40%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-info {
  width: 60%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}

.wrap .container .main .row .col .whiteBg .myIntro .phone .myIntro-info p {
  width: 100%;
}

.wrap .container .main .row .col .whiteBg .myIntro .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-title {
  width: 40%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-info {
  width: 60%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}

.wrap .container .main .row .col .whiteBg .myIntro .address .myIntro-info p {
  width: 100%;
  line-height: 18px;
}

.wrap .container .main .row .col .whiteBg button.editMyInfo {
  width: 130px;
  height: 38px;
  border-radius: 10px;
  border: 3px solid #000000;
  background-color: #ffffff00;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .container .main .row .col .whiteBg button.editMyInfo p.edit {
  font-family: "GenSenRounded-B";
  font-size: 14px;
}

.wrap .container .main .row .col .whiteBg button.editMyInfo svg {
  padding-left: 5px;
}
/*# sourceMappingURL=member-myIntro.css.map */