* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
.wrap {
  width: 100%;
  height: 100vh;
}
.wrap .containerr .main .row {
  height: 100vh;
}
.wrap .containerr .main .row .col {
  background-color: #2d827d;
  padding: 0;
}
.wrap .containerr .main .row .col .left .myName {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrap .containerr .main .row .col .left .myName .photo {
  display: flex;
  position: relative;
}
.wrap .containerr .main .row .col .left .myName .photo .photoborder {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #7cb2af;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .containerr .main .row .col .left .myName .photo .photoborder .myphoto {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.wrap .containerr .main .row .col .left .myName .photo .photoborder .myphoto img.photo {
  width: 110%;
}
.wrap .containerr .main .row .col .left .myName .photo .photoedit {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ffcd51;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  right: -3px;
  bottom: 0;
}
.wrap .containerr .main .row .col .left .myName h5 {
  font-family: "GenSenRounded-B";
  font-size: 24px;
  color: #000000;
  padding: 13px 0 13px 0;
}
.wrap .containerr .main .row .col .left .myName a.coin {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
  display: flex;
  align-items: center;
  padding-bottom: 7px;
  text-decoration: none;
}
.wrap .containerr .main .row .col .left .myName a.coin svg {
  margin-right: 10px;
}
.wrap .containerr .main .row .col .left .memberbutton {
  width: 100%;
  padding: 0px 30px;
}
.wrap .containerr .main .row .col .left .memberbutton ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrap .containerr .main .row .col .left .memberbutton ul li.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 0;
}
.wrap .containerr .main .row .col .left .memberbutton ul li.btn a {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
}
.wrap .containerr .main .row .col .left .memberbutton ul li.btn a .btnsvg svg {
  margin-bottom: 5px;
}
.wrap .containerr .main .row .col .left .memberbutton ul li.btn a .btnP {
  font-family: "GenSenRounded-M";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -10px 19px #4c4948;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  margin-top: 15px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .member-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 36px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .member-card .membercardimg {
  width: 280px;
  height: 380px;
  border-radius: 10px;
  background-color: #f07f72;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .member-card .memberLevel {
  width: 220px;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .member-card .memberLevel .diamondicon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .member-card .memberLevel .progress {
  width: 204px;
  height: 8px;
  background-color: #d4cfc6;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .member-card .memberLevel .progress .progress-bar {
  background-color: #7cb2af;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro {
  width: 100%;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-title {
  width: 40%;
  align-items: left;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-info {
  width: 60%;
  align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .userName .myIntro-info p {
  width: 100%;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-title {
  width: 40%;
  align-items: left;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-info {
  width: 60%;
  align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .gender .myIntro-info p {
  width: 100%;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-title {
  width: 40%;
  align-items: left;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-info {
  width: 60%;
  align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .birthday .myIntro-info p {
  width: 100%;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-title {
  width: 40%;
  align-items: left;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-info {
  width: 60%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .email .myIntro-info p {
  width: 100%;
  line-height: 18px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-title {
  width: 40%;
  align-items: left;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-info {
  width: 60%;
  align-items: left;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .phone .myIntro-info p {
  width: 100%;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-title {
  width: 40%;
  align-items: left;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-title .myIntro-title-ch {
  font-family: "GenSenRounded-M";
  font-size: 16px;
  color: #2d827d;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-title .myIntro-title-ch p {
  padding: 0 12px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-title .myIntro-title-en {
  font-family: "Roboto";
  font-size: 14px;
  color: #d4cfc6;
  padding-top: 5px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-title .myIntro-title-en p {
  border-left: 2px solid #c2c2c2;
  display: inline-block;
  padding: 0 10px;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-info {
  width: 60%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
}
.wrap .containerr .main .row .col .whiteBg .mydetailstop .myIntro .address .myIntro-info p {
  width: 100%;
  line-height: 18px;
}
.wrap .containerr .main .row .col .whiteBg button.editMyInfo {
  width: 130px;
  height: 38px;
  border-radius: 10px;
  border: 3px solid #000000;
  background-color: rgba(255, 255, 255, 0);
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrap .containerr .main .row .col .whiteBg button.editMyInfo p.edit {
  font-family: "GenSenRounded-B";
  font-size: 14px;
}
.wrap .containerr .main .row .col .whiteBg button.editMyInfo svg {
  padding-left: 5px;
}

@media screen and (min-width: 992px) {
  .wrap {
    background-image: url(../images/other_bg_paper.png);
  }
  .wrap .containerr {
    margin: 0 5%;
  }
  .wrap .containerr .main .row .col {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    padding-top: 90px;
  }
  .wrap .containerr .main .row .col .col-lg-3 {
    height: 70%;
    border-radius: 10px;
    background-color: #2d827d;
    padding-right: 0;
    padding-left: 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo {
    top: -50px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoborder {
    width: 100px;
    height: 100px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoborder .myphoto {
    width: 86px;
    height: 86px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoborder .myphoto img.photo {
    width: 120%;
    position: static;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoedit {
    right: -5px;
    bottom: 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName h5 {
    color: #ffffff;
    margin-top: -30px;
    padding: 13px 0 15px 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName a.coin {
    color: #ffffff;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton {
    padding: 0 0 0 10px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul {
    width: 100%;
    flex-wrap: none;
    justify-content: right;
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn {
    width: 100%;
    padding: 0;
    margin: 6px 0 6px 0;
    display: flex;
    flex-direction: column;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a {
    width: 100%;
    height: 54px;
    border-radius: 100px 0 0 100px;
    background-color: #ffffff;
    flex-direction: row;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a .btnsvg {
    width: 35%;
    text-align: right;
    padding-right: 20px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a .btnsvg svg {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a .btnP {
    width: 65%;
    font-family: "GenSenRounded-B";
    font-size: 20px;
    text-align: left;
    display: flex;
  }
  .wrap .containerr .main .row .col .col-lg-9 {
    height: 70%;
    box-shadow: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop {
    width: 100%;
    display: flex;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .member-card {
    width: 90%;
    padding-top: 0;
    padding-right: 5%;
    border: none;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .member-card .membercardimg {
    width: 90%;
    height: 90%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .userName {
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .userName .myIntro-title {
    width: 35%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .userName .myIntro-info {
    width: 65%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .gender {
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .gender .myIntro-title {
    width: 35%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .gender .myIntro-info {
    width: 65%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .birthday {
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .birthday .myIntro-title {
    width: 35%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .birthday .myIntro-info {
    width: 65%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .email {
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .email .myIntro-title {
    width: 35%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .email .myIntro-info {
    width: 65%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .phone {
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .phone .myIntro-title {
    width: 35%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .phone .myIntro-info {
    width: 65%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .address {
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .address .myIntro-title {
    width: 35%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .mydetailstop .myIntro .address .myIntro-info {
    width: 65%;
  }
  .wrap .containerr .main .row .col .col-lg-9 button.editMyInfo {
    margin: 35px 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .wrap .containerr {
    margin: 0 10%;
  }
}
@media screen and (min-width: 1400px) {
  .wrap .containerr {
    margin: 0 15%;
  }
}
@media screen and (min-width: 1600px) {
  .wrap .containerr {
    margin: 0 18%;
  }
  .wrap .containerr .main .row .col .col-xl-3 .memberbutton ul li.col-lg-12 .btnP {
    padding-left: 20px;
  }
}
.lightbox-myDetails {
  width: 700px;
  height: auto;
  border-radius: 32px;
  border: 4px solid #2d827d;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.lightbox-myDetails p.editTitle {
  font-family: "GenSenRounded-B";
  font-size: 24px;
  color: #4c4948;
  padding-bottom: 50px;
}
.lightbox-myDetails .my-details {
  width: 100%;
}
.lightbox-myDetails .my-details .detail {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.lightbox-myDetails .my-details .detail .detail-text {
  width: 30%;
  padding-right: 40px;
}
.lightbox-myDetails .my-details .detail .detail-text p {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #4c4948;
  text-align: right;
}
.lightbox-myDetails .my-details .detail .detail-text p span {
  color: #d45a6a;
}
.lightbox-myDetails .my-details .detail .detail-input {
  width: 70%;
}
.lightbox-myDetails .my-details .detail .detail-input input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #2d827d;
  padding: 0 10px;
  font-family: "GenSenRounded-B";
  font-size: 16px;
}
.lightbox-myDetails .my-details .detail .detail-input ::-webkit-input-placeholder {
  color: #c2c2c2;
}
.lightbox-myDetails .my-details .detail .detail-input select {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #2d827d;
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #4c4948;
}
.lightbox-myDetails .my-details .detail .detail-input select option {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #4c4948;
  text-align: center;
}
.lightbox-myDetails .my-details .detail .detail-input input.birthmd {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #2d827d;
  padding: 0 10px;
  color: #c2c2c2;
  font-family: "GenSenRounded-B";
  font-size: 16px;
  text-align: center;
  margin-right: 20px;
}
.lightbox-myDetails .detailsbtn {
  margin-top: 20px;
}
.lightbox-myDetails .detailsbtn button.true {
  width: 140px;
  height: 48px;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-family: "GenSenRounded-B";
  font-size: 16px;
  margin: 0 20px;
}
.lightbox-myDetails .detailsbtn button.false {
  width: 140px;
  height: 48px;
  border-radius: 10px;
  border: 3px solid #000000;
  color: #000000;
  background-color: rgba(255, 255, 255, 0);
  font-family: "GenSenRounded-B";
  font-size: 16px;
  margin: 0 20px;
}/*# sourceMappingURL=member-myIntro.css.map */