* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}

.wrap {
  width: 100%;
  height: 100vh;
}

.wrap .containerr .main .row {
  height: 100vh;
}

.wrap .containerr .main .row .col {
  background-color: #2d827d;
  padding: 0;
}

.wrap .containerr .main .row .col .left .myName {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .containerr .main .row .col .left .myName .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrap .containerr .main .row .col .left .myName .photo .photoborder {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #7cb2af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .containerr .main .row .col .left .myName .photo .photoborder .myphoto {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.wrap .containerr .main .row .col .left .myName .photo .photoborder .myphoto img.photo {
  width: 110%;
}

.wrap .containerr .main .row .col .left .myName .photo .photoedit {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ffcd51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: absolute;
  right: -3px;
  bottom: 0;
}

.wrap .containerr .main .row .col .left .myName h5 {
  font-family: "GenSenRounded-B";
  font-size: 24px;
  color: #000000;
  padding: 13px 0 13px 0;
}

.wrap .containerr .main .row .col .left .myName a.coin {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7px;
  text-decoration: none;
}

.wrap .containerr .main .row .col .left .myName a.coin svg {
  margin-right: 10px;
}

.wrap .containerr .main .row .col .left .memberbutton {
  width: 100%;
  padding: 0px 30px;
}

.wrap .containerr .main .row .col .left .memberbutton ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap .containerr .main .row .col .left .memberbutton ul li.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 10px 0;
}

.wrap .containerr .main .row .col .left .memberbutton ul li.btn a {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .containerr .main .row .col .left .memberbutton ul li.btn a .btnsvg svg {
  margin-bottom: 5px;
}

.wrap .containerr .main .row .col .left .memberbutton ul li.btn a .btnP {
  font-family: "GenSenRounded-M";
  font-size: 14px;
  color: #4c4948;
}

.wrap .containerr .main .row .col .whiteBg {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 -10px 19px #4c4948;
          box-shadow: 0 -10px 19px #4c4948;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
  margin-top: 15px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -10px 19px #4c4948;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  margin-top: 15px;
}

.wrap .containerr .main .row .col .whiteBg .newFriend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 25px;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background-color: #7ea08330;
}

.wrap .containerr .main .row .col .whiteBg .newFriend p {
  font-family: "GenSenRounded-B";
  font-size: 16px;
  color: #2d827d;
  padding: 20px 0 20px;
}

.wrap .containerr .main .row .col .whiteBg .newFriend button.uploadNewFriend {
  width: 130px;
  height: 38px;
  border-radius: 10px;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #ffffff;
  background-color: #2d827d;
  border: none;
  margin-bottom: 20px;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup {
  width: 100%;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 18px;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .friendName {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .friendName p {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
  text-align: left;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .friendBirth {
  width: 20%;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .friendBirth p {
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
  text-align: left;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .birthdayIcon {
  width: 10%;
  text-align: center;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .watchFriendIcon {
  width: 15%;
  text-align: right;
}

.wrap .containerr .main .row .col .whiteBg .myFriendsGroup .friendList .deleteFriendIcon {
  width: 15%;
  text-align: right;
}

@media screen and (min-width: 700px) {
  .wrap .containerr .main .row .col .whiteBg {
    padding: 0 100px;
  }
}

@media screen and (min-width: 992px) {
  .wrap {
    background-image: url(../images/other_bg_paper.png);
  }
  .wrap .containerr {
    margin: 0 5%;
  }
  .wrap .containerr .main .row .col {
    background-color: #00000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 90px;
  }
  .wrap .containerr .main .row .col .col-lg-3 {
    height: 70%;
    border-radius: 10px;
    background-color: #2d827d;
    padding-right: 0;
    padding-left: 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo {
    top: -50px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoborder {
    width: 100px;
    height: 100px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoborder .myphoto {
    width: 86px;
    height: 86px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoborder .myphoto img.photo {
    width: 120%;
    position: static;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName .photo .photoedit {
    right: -5px;
    bottom: 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName h5 {
    color: #ffffff;
    margin-top: -30px;
    padding: 13px 0 15px 0;
  }
  .wrap .containerr .main .row .col .col-lg-3 .myName a.coin {
    color: #ffffff;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton {
    padding: 0 0 0 10px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul {
    width: 100%;
    -ms-flex-wrap: none;
        flex-wrap: none;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding-top: 30px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn {
    width: 100%;
    padding: 0;
    margin: 6px 0 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a {
    width: 100%;
    height: 54px;
    border-radius: 100px 0 0 100px;
    background-color: #ffffff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a .btnsvg {
    width: 35%;
    text-align: right;
    padding-right: 20px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a .btnsvg svg {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
  }
  .wrap .containerr .main .row .col .col-lg-3 .memberbutton ul li.btn a .btnP {
    width: 65%;
    font-family: "GenSenRounded-B";
    font-size: 20px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrap .containerr .main .row .col .col-lg-9 {
    height: 70%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5%;
  }
  .wrap .containerr .main .row .col .col-lg-9 .newFriend {
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 20px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .newFriend p {
    font-size: 20px;
    padding-right: 40px;
  }
  .wrap .containerr .main .row .col .col-lg-9 .newFriend button.uploadNewFriend {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .wrap .containerr {
    margin: 0 10%;
  }
}

@media screen and (min-width: 1400px) {
  .wrap .containerr {
    margin: 0 15%;
  }
}

@media screen and (min-width: 1600px) {
  .wrap .containerr {
    margin: 0 18%;
  }
  .wrap .containerr .main .row .col .col-xl-3 .memberbutton ul li.col-lg-12 .btnP {
    padding-left: 20px;
  }
}
/*# sourceMappingURL=member-myFriend.css.map */