@media screen and (min-width:992px) {
    .wrap {
        .containerr {
            .main {
                .row {
                    .col {
                        .col-lg-3 {
                            .memberbutton {
                                ul {
                                    li.btn {
                                        a#btn6 {
                                            width: 100%;
                                            background-color: #ffffff;
                                            .btnsvg {
                                                svg {
                                                    path {
                                                        fill: #4c4948;
                                                    }
                                                }
                                            }
                                            .btnP {
                                                color: #4c4948;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}