* {
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// 顏色設定
$super-dark: #000000;
$dark-red: #a31c2d;
$pink: #ca3f68;
$red-pink: #d45a6a;
$light-pink: #ee92ad;
$dark-green: #2f5e36;
$green: #7ea083;
$lake-green: #2d827d;
$light-lake-green: #7cb2af;
$sky-blue: #5292b9;
$light-sky-blue: #9fc8e1;
$dark-blue: #154d7a;
$blue: #548fbe;
$brown: #7a482d;
$khaki: #b28064;
$orange: #cb6b28;
$light-orange: #e1a77e;
$coral: #bd392a;
$light-coral: #f07f72;
$dark-gray: #4c4948;
$gray: #c2c2c2;
$yellow: #ffcd51;
$light-yellow: #ffe39f;
$skin: #d4cfc6;
$white: #ffffff;
$light-brown: #d4cfc6;
$deep-brown: #554d49;

// 字體設定
@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"),
    url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"),
    url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"),
    url("../fonts/RobotoFlex.ttf") format("truetype");
}

// 字體大小設定
// 不分字型
$h1-font-size: 80px;
$h2-font-size: 48px;
$h3-font-size: 36px;
$h4-font-size: 32px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$p-font-size: 16px;
$ps-font-size: 14px;

// 字體粗細
// 細字體不用下font-weight，粗字體再用下列變數
// ex: font-weight: $bold;
$bold: 900;

// 以下兩種範例

// h2.chinese {
//   font-family: "GenSenRounded-M";
//   font-size: 48px;
//   font-weight: $bold;
//   color: $coral;
// }

// h3.english {
//   font-family: "Roboto";
//   font-weight: $bold;
//   font-size: 110px;
//   color: $lake-green;
// }

//-----------------------------------------------------------
body,
html {
  overflow: hidden;
  background-color: 0xeeeeee;

}



.package-lightBoxBg {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.389);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// ---------package-step------------
.P-closeSection {
  width: 375px;
  height: 30px;
  // display: flex;
  // overflow: hidden;

  .p-close {
    margin-left: auto;
    width: 15px;
    margin-top: 5px;
    margin-right: 5px;

    img {
      width: 100%;
    }
  }
}

//---------packageMainSection-------------------
.packageMainSection {
  background-color: $white;
  // overflow: hidden;
  z-index: 2;
  position: fixed;
  margin-top: 15px;

  .package-container {
    width: 375px;
    padding-left: 30px;
    padding-right: 30px;

    .package-stepWrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .stepCard {
        text-align: center;

        .stepTop1 {
          text-align: center;
          font-family: "GenSenRounded-B";
          font-size: $ps-font-size;
          margin: auto;
          border: 1.5px solid $super-dark;
          border-radius: 100%;
          line-height: 32px;
          width: 35px;
          height: 35px;
          background-color: $lake-green;
          color: $white;
          
        }
        .stepTop2 {
          text-align: center;
          font-family: "GenSenRounded-B";
          font-size: $ps-font-size;
          margin: auto;
          border: 1.5px solid $super-dark;
          border-radius: 100%;
          line-height: 32px;
          width: 35px;
          height: 35px;
          background-color: $white;
          color: $super-dark;
          transition: .5s;
        }
        .stepTop3 {
          text-align: center;
          font-family: "GenSenRounded-B";
          font-size: $ps-font-size;
          margin: auto;
          border: 1.5px solid $super-dark;
          border-radius: 100%;
          line-height: 32px;
          width: 35px;
          height: 35px;
          background-color: $white;
          color: $super-dark;
          transition: .5s;
        }
        .stepBotton {
          font-family: "GenSenRounded-B";
          font-size: $ps-font-size;
        }
      }
      .stepLine{
        height: 1.5px;
        width: 28%;
        margin-top: -20px;
        margin-right: 1%;
        background-color: $super-dark;
      }
      .stepLine2{
        height: 1.5px;
        width: 28%;
        margin-top: -20px;
        margin-right: 1%;
        background-color: $super-dark;
      }
    }
  }
}

// ------packageShowSection--------------

.packageShowSection {
  height: 250px;
  margin-top: 50px;

  .packageShow {
    justify-content: center;
    margin: auto;
    margin-left: 20px;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      // height: 100%;
    }
  }
}
//--------cardShowSection------------
.cardShowSection {
  width: 375px;
  height: 250px;
  margin-top: 50px;

  .cardShow {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-left: 0px;
    width: 80%;
    // height: 100%;

    img {
      width: 100%;
      // height: 100%;
    }
  }
}

//--------FinishShowSection------------
.FinishShowSection {
  width: 375px;
  height: 330px;
  margin-top: 40px;

  .FinishShow {
    // display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 0px;
    width: 80%;
    // height: 100%;

    img {
      width: 75%;
      margin-bottom: 20px;
      // height: 100%;
    }
  }
}



// ------decorateSection--------------
.decorateSection {
  background-color: $lake-green;
  border-radius: 20px 20px 0 0;
  width: 375px;
  height: 210px;
  box-shadow:  0 -4px 6px  rgba(0, 0, 0, 0.22);

  .decorateSection-container {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    .mainSector {
      justify-self: center;
      margin-bottom: 10px;
      position: absolute;
      top:-25px;
      margin:0 5%;
      .mainSector-wrap {
        width: 280px;
        display: flex;
        margin: auto;
        justify-content: space-around;
        .decorateBox {
          width: 50px;
          height: 50px;
          background-color: $gray;
          border-radius: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          padding: 5px;

          svg {
            width: 90%;
          }

        }
        .decorateBoxClick{
          fill:$white;
      }

        .decoratePaper {
          width: 50px;
          height: 50px;
          background-color: $gray;
          border-radius: 100%;
          justify-content: center;
          padding: 5px;
          text-align: center;
          display: flex;
          justify-content: center;

          svg {
            width: 70%;
          }
        }

        .decorateRibbon {
          width: 50px;
          height: 50px;
          background-color: $gray;
          border-radius: 100%;
          text-align: center;
          padding: 5px;
          display: flex;
          justify-content: center;

          svg {
            margin: auto;
            width: 90%;
          }
        }
      }
    }
    .mainTitle {
      padding: 35px 0px 0px;
      .mainTitleBox{
        width: 40%;
        background-color: $super-dark;
        border-radius: 10px;
        color: $white;
        font-family: "GenSenRounded-M";
        font-size: $ps-font-size;
        justify-content: center;
        margin:auto;
  
        text-align: center;
        padding: 3px;
      }
    }
    .boxStyle{
      width: 375px;
      height: 100px;
      margin-left:-25px;
     // align-items: center;
      // text-align: center;
      justify-content: center;
      .boxStyle-wrap{
        width: 375px;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        padding: 20px 20px;
        .boxStyle-1{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          
          justify-content: center;
          img{
            width: 100%;
          }
        }
        .boxStyle-2{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          justify-content: center;
          img{
            width: 80%;
            opacity: .5;
          }
        }
        .boxStyle-3{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          justify-content: center;
          img{
            width: 100%;
            opacity: .5;
          }
        }
      }
    }
  }
}

// ------cardDecorateSection--------------
.cardDecorateSection {
  background-color: $lake-green;
  border-radius: 20px 20px 0 0;
  width: 375px;
  height: 210px;
  box-shadow:  0 -4px 6px  rgba(0, 0, 0, 0.22);

  .cardDecorateSection-container {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    .cardMainSector {
      justify-self: center;
      margin-bottom: 10px;
      position: absolute;
      top:-25px;
      margin:0 5%;
      .cardMainSector-wrap {
        width: 280px;
        display: flex;
        margin: auto;
        justify-content: space-around;
        .cardStyle {
          width: 50px;
          height: 50px;
          background-color: $gray;
          border-radius: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          padding: 5px;
          svg{
            width: 90%;
          }

        }
        .cardBoxClick{
          fill:$white;
      }

        .cardText {
          width: 50px;
          height: 50px;
          background-color: $gray;
          border-radius: 100%;
          justify-content: center;
          padding: 5px;
          text-align: center;
          display: flex;
          justify-content: center;

          svg {
            width: 85%;
          }
        }
      }
    }
    .mainTitle {
      padding: 35px 0px 0px;
      .mainTitleBox{
        width: 40%;
        background-color: $super-dark;
        border-radius: 10px;
        color: $white;
        font-family: "GenSenRounded-M";
        font-size: $ps-font-size;
        justify-content: center;
        margin:auto;
  
        text-align: center;
        padding: 3px;
      }
    }
    .boxStyle{
      width: 375px;
      height: 100px;
      margin-left:-25px;
     // align-items: center;
      // text-align: center;
      justify-content: center;
      .boxStyle-wrap{
        width: 375px;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        padding: 20px 20px;
        .boxStyle-1{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          
          justify-content: center;
          img{
            width: 100%;
          }
        }
        .boxStyle-2{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          justify-content: center;
          img{
            width: 80%;
            opacity: .5;
          }
        }
        .boxStyle-3{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          justify-content: center;
          img{
            width: 100%;
            opacity: .5;
          }
        }
      }
    }
    .cardStyleBox{
      width: 375px;
      height: 100px;
      margin-left:-25px;
     // align-items: center;
      // text-align: center;
      justify-content: center;
      .cardStyle-wrap{
        width: 375px;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        padding: 20px 20px;
        .cardStyle-1{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          
          justify-content: center;
          img{
            width: 100%;
          }
        }
        .cardStyle-2{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          justify-content: center;
          img{
            width: 100%;
            opacity: .5;
          }
        }
        .cardStyle-3{
          margin-right: 10px;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          display: flex;
          justify-content: center;
          img{
            width: 100%;
            opacity: .5;
          }
        }
      }
    }
  }
}

// ------FinishDecorateSection--------------
.FinishDecorateSection {
  background-color: $lake-green;
  border-radius: 20px 20px 0 0;
  width: 375px;
  height: 130px;
  box-shadow:  0 -4px 6px  rgba(0, 0, 0, 0.22);
  .FinishDecorateSection-container {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    .FinishMainTitle{
      padding: 12px 0px 0px;
      .FinishMainTitleBox{
        width: 40%;
        background-color: $super-dark;
        border-radius: 10px;
        color: $white;
        font-family: "GenSenRounded-M";
        font-size: $ps-font-size;
        justify-content: center;
        margin:auto;
        text-align: center;
        padding: 3px;
      }
    }
    .FinishSentSection{
      .FinishSent-wrap{
        padding-top: 5px;
        .FinishForm-check {
          margin-bottom: 10px;
          align-items: center;
          padding-right: 10px;
          display: flex;
          padding-left: 1.25rem;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
        }
      }
    }

  }
}


//--packageBotton----------------
.packageBotton{
  // margin: auto;
  background-color: $white;
  width: 375px;
  height:55px;
  padding-left: 30px;
  padding-right: 30px;
  .packageBotton-box{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    .packageBotton-wrap{
      display: flex;
      justify-content: center;
      padding-top: 12px;
      text-align: center;
      .p-skipBtn{
        width: 90px;
        text-align: center;
        margin-right: 10px;
        -ms-flex: 0 0 33.3%;
        flex: 0 0 33.3%;
        max-width: 33.3%;
        padding: 2px 5px;
        background-color: $white;
        border-radius: 10px;
        border: 1px solid $lake-green;
        font-family: "GenSenRounded-M";
        font-size: $ps-font-size;
        color: $lake-green;
                @media (min-width:376px) {
          margin-right: 20px;
          font-size: $p-font-size;
          padding: 6px 5px;
          width: 90px;
        }
      }
      .p-skipBtn:hover{
        color: $white;
        background-color: $lake-green;
        transition: .5s;
      }
    }
  }

}

//----

.packageSection{
  z-index: 3;
  position: fixed;
  left:0px;  
  transition: .3s;
}
.cardSection{
  z-index: 4;
  position: fixed;
  left:-400px;
  transition: .3s;
}
.FinishSection{
  z-index: 5;
  position: fixed;
  left: -400px;
  transition: .3s;
}

//-------RWD--------
.m-packageSection{
  display: none;
  @media (min-width:376px) {
    display: none;
  }
}

//--------windowSection---------------------

.w-package-lightBoxBg{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.606);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.w-packageSection{
  width: 80%;
  height:90% ;
  background-color: $white;
  box-shadow: 0 10px 36px 0 rgba(0,0,0,0.16), 0 0 10px  rgba(0,0,0,0.06), 0 10px 36px 0 rgba(0,0,0,0.16);
  z-index: 2;
  position: fixed;
  top: 5%;
  left: 10%;
  @media (max-width:376px) {
    display: none;
  }

  .w-packageMainSection{
    .w-package-container {
      width: 93%;
      height:100%;
      justify-content: center;
      margin: auto;
      // background-color: $lake-green;
      padding-left: 30px;
      padding-right: 30px;
      .w-package-stepWrap {
        width: 40%;
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        // background-color: $pink;
  
        .stepCard {
          text-align: center;
  
          .stepTop1 {
            text-align: center;
            font-family: "GenSenRounded-B";
            font-size: $ps-font-size;
            margin: auto;
            border: 1.5px solid $super-dark;
            border-radius: 100%;
            line-height: 32px;
            width: 35px;
            height: 35px;
            background-color: $lake-green;
            color: $white;
            
          }
          .stepTop2 {
            text-align: center;
            font-family: "GenSenRounded-B";
            font-size: $ps-font-size;
            margin: auto;
            border: 1.5px solid $super-dark;
            border-radius: 100%;
            line-height: 32px;
            width: 35px;
            height: 35px;
            background-color: $white;
            color: $super-dark;
            transition: .5s;
          }
          .stepTop3 {
            text-align: center;
            font-family: "GenSenRounded-B";
            font-size: $ps-font-size;
            margin: auto;
            border: 1.5px solid $super-dark;
            border-radius: 100%;
            line-height: 32px;
            width: 35px;
            height: 35px;
            background-color: $white;
            color: $super-dark;
            transition: .5s;
          }
          .stepBotton {
            font-family: "GenSenRounded-B";
            font-size: $ps-font-size;
          }
        }
        .stepLine{
          height: 1.5px;
          width: 28%;
          margin-top: -20px;
          margin-right: 1%;
          background-color: $super-dark;
        }
        .stepLine2{
          height: 1.5px;
          width: 28%;
          margin-top: -20px;
          margin-right: 1%;
          background-color: $super-dark;
        }
      }
      .w-packageMainbox{
        width: 100%;
        height: 70vh;
        // background-color: $pink;
        display: flex;
        .w-packageLeft{
          width: 25%;
          height: 100%;
          // background-color: $pink;
          background-image: url(../images/w-packageLine.svg);
          background-size: 60px;
          background-position-x: 60%;
          background-position-y:43%;
          background-repeat:no-repeat;
          .w-mainSector {
            margin: auto;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            .w-mainSector-wrap {
              justify-content: center;
              margin: auto;
              
              .w-decorateCard1{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 50%;
                .w-decorateName{
                  margin-right: 10px;
                  font-family: "GenSenRounded-B";
                  font-size: $p-font-size;
                }
                .w-decorateBox {
                  width: 60px;
                  height: 60px;
                  background-color: $gray;
                  border-radius: 100%;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  padding: 5px;
        
                  svg {
                    width: 90%;
                  }
        
                }
              }
              .decorateBoxClick{
                fill:$white;
            }
              .w-decorateCard2{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 50%;
                margin-left: -30px;
                .w-decorateName{
                  margin-right: 10px;
                  font-family: "GenSenRounded-B";
                  font-size: $p-font-size;
                }
                .w-decoratePaper {
                  width: 60px;
                  height: 60px;
                  background-color: $gray;
                  border-radius: 100%;
                  padding: 5px;
                  text-align: center;
                  display: flex;
                  justify-content: center;
        
                  svg {
                    width: 70%;
                  }
                }
              }
              
              .w-decorateCard3{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 50%;
                // margin-left: -100px;
                .w-decorateName{
                  margin-right: 10px;
                  font-family: "GenSenRounded-B";
                  font-size: $p-font-size;
                }
                .w-decorateRibbon {
                  width: 60px;
                  height: 60px;                background-color: $gray;
                  border-radius: 100%;
                  text-align: center;
                  padding: 5px;
                  display: flex;
                  justify-content: center;
        
                  svg {
                    margin: auto;
                    width: 90%;
                  }
                }
              }
            }
          }

        }
        .w-packageShowSection{
          width: 45%;
          height: 100%;
          // background-color: $pink;
          .w-packageShow {
            width: 100%;
            height: 100%;
            margin: auto;
            text-align: center;
            padding-top: 10%;
            align-items: center;
            
            .w-packageShow-top{
              width: 90%;
              margin: auto;
              img {
                width: 90%;
                // height: 100%;
              }
            }
            .w-packageShow-botton{
              padding-top: 50px;
              margin: auto;
              width: 50%;
              // background-color: $pink;
              img {
                width: 55%;
                // height: 100%;
              }
            }
          }
        }
        .w-packageStyleSection{
          width: 25%;
          height: 100%;
          
          .w-mainTitle{
            padding: 15% 0px 0px;
            .w-mainTitleBox{
              width: 37%;
              background-color: $super-dark;
              border-radius: 10px;
              color: $white;
              font-family: "GenSenRounded-M";
              font-size: $ps-font-size;
              justify-content: center;
              margin:auto;
              text-align: center;
              padding: 3px;
            }
          }
          .w-decorateSection{
            padding-top: 18%;
            // background-color: $pink; 
            .w-boxStyle{
              width: 100%;
              height:100%;
              margin: auto;
            //  align-content: center;
              .w-boxStyle-wrap{
                // background-color: $pink; 
                width: 80%;
                align-content: center;
                margin: auto;
                @media (min-width:900px) {
                  width: 60%;
                }
                .w-boxStyle-1{
                  width: 75%;
                  padding-bottom: 50px;
                  margin: auto;
                  display: flex;
                  justify-content: center;
                  cursor: pointer;
                  @media (min-width:900px) {
                    width: 60%;
                  }
                  img{
                    width: 100%;
                  }
                }
                .w-boxStyle-2{
                  width: 60%;
                  margin: auto;
                  padding-bottom: 50px;
                  display: flex;
                  justify-content: center;
                  cursor: pointer;
                  img{
                    width: 80%;
                    opacity: .3;
                  }
                }
                .w-boxStyle-3{
                  margin: auto;
                  width: 60%;
                  display: flex;
                  justify-content: center;
                  img{
                    width: 100%;
                    opacity: .3;
                  }
                }
              }
            }
          }
        }
      }
      .w-packageBotton{
        margin: auto;
        // background-color: $white;
        width: 50%;
        height: 9vh;
        .w-packageBotton-box{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
          .w-packageBotton-wrap{
            display: flex;
            justify-content: center;
            padding-top: 12px;
            text-align: center;
            .w-p-skipBtn{
              width: 130px;
              text-align: center;
              margin-right: 30px;
              -ms-flex: 0 0 33.3%;
              flex: 0 0 33.3%;
              max-width: 33.3%;
              padding: 6px 5px;
              background-color: $white;
              border-radius: 10px;
              border: 1px solid $lake-green;
              font-family: "GenSenRounded-M";
              font-size: $p-font-size;
              color: $lake-green;
            }
            .w-p-skipBtn:hover{
              color: $white;
              background-color: $lake-green;
              transition: .5s;
            }
          }
        }
      
      }
    }
  }
}



//-----------新客製化包裝--------------------------
.w-newpackageSection{
  z-index: 10;
  width: 100%;
  height: 50%;
  display: flex;
  transition: .5s;
  // height: 90%;
  .w-P-closeSection {
    width: 100%;
    position: fixed;
    top:-1%;
    height: 20px;
  
    .w-p-close {
      margin-left: auto;
      width: 4%;
      margin-top: 1%;
      margin-right: 1%;
      @media (min-width:768px) {
        width: 1.2%;
      }
  
      img {
        width: 100%;
      }
    }
  }
  
}

.w-newCardSection{
  z-index: 5;
  width: 100%;
  height: 50%;
  // opacity: 0;

  .w-P-closeSection {
    width: 100%;
    position: fixed;
    top:0%;
    height: 20px;
    @media  (min-width:768px)  {
      top:-1%;
    }
  
    .w-p-close {
      margin-left: auto;
      width: 4%;
      margin-top: 1%;
      margin-right: 1%;
      @media (min-width:768px) {
        width: 1.2%;
      }
      img {
        width: 100%;
      }
    }
  }
}


.loading {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    -webkit-perspective: 120px;
    -moz-perspective: 120px;
    -ms-perspective: 120px;
    perspective: 120px;
    width: 100px;
    height: 100px;
  }
}
.loader::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: $lake-green;
  animation: flip 1s infinite;
}
@keyframes flip {
  0% {
      transform: rotate(0);
  }

  50% {
      transform: rotateY(180deg);
  }

  100% {
      transform: rotateY(180deg) rotateX(180deg);
  }
}


#c {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  transition: .5s;
  // z-index:;
}

.w-new-packageBotton{
  margin: auto;
  // background-color: $lake-green;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  @media (min-width:375px) {
    
  }
  .w-packageBotton-box{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      // background-color: #154d7a;
    .w-packageBotton-wrap{
      display: flex;
      justify-content: center;
      text-align: center;
      // background-color: #154d7a;
      position: fixed;
      bottom: 10%;
      .w-p-new-skipBtn{
        width: 90px;
        text-align: center;
        margin-right: 10px;
        -ms-flex: 0 0 33.3%;
        flex: 0 0 33.3%;
        max-width: 33.3%;
        padding: 3px 5px;
        background-color: $super-dark;
        border-radius: 10px;
        border: 2px solid $super-dark;
        font-family: "GenSenRounded-M";
        font-size: $ps-font-size;
        color: $white;
        transition: .5s;
        @media (min-width:376px) {
          margin-right: 20px;
          font-size: $p-font-size;
          padding: 6px 5px;
          width: 95px;
        }
      }
      .w-p-new-skipBtn:hover{
        color: $white;
        background-color: $lake-green;
        border: 2px solid $light-lake-green;
        transition: .5s;
      }
    }
  }
}

.w-new-package-stepWrap {
  width: 90%;
  position: fixed;
  top:5%;
  right: 4%;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  // background-color: $pink;
  @media (min-width:768px) {
    width: 50%;
    right: 2%;
  }
  .stepCard {
    text-align: center;

    .stepTop1 {
      text-align: center;
      font-family: "GenSenRounded-B";
      font-size: $p-font-size;
      margin: auto;
      border: 1.5px solid $super-dark;
      border-radius: 100%;
      line-height: 32px;
      width: 35px;
      height: 35px;
      background-color: $lake-green;
      color: $white;
      
    }
    .stepTop2 {
      text-align: center;
      font-family: "GenSenRounded-B";
      font-size: $p-font-size;
      margin: auto;
      border: 1.5px solid $super-dark;
      border-radius: 100%;
      line-height: 32px;
      width: 35px;
      height: 35px;
      background-color: $white;
      color: $super-dark;
      transition: .5s;
    }
    .stepTop3 {
      text-align: center;
      font-family: "GenSenRounded-B";
      font-size: $p-font-size;
      margin: auto;
      border: 1.5px solid $super-dark;
      border-radius: 100%;
      line-height: 32px;
      width: 35px;
      height: 35px;
      background-color: $white;
      color: $super-dark;
      transition: .5s;
    }
    .stepBotton {
      font-family: "GenSenRounded-B";
      font-size: $ps-font-size;
    }
  }
  .stepLine{
    height: 1.5px;
    width: 28%;
    margin-top: -20px;
    margin-right: 1%;
    background-color: $super-dark;
  }
  .stepLine2{
    height: 1.5px;
    width: 28%;
    margin-top: -20px;
    margin-right: 1%;
    background-color: $super-dark;
  }
}
.w-new-mainTitle{
  position: fixed;
  bottom: 30%;
  left:20%;
  @media (min-width:768px) {
    bottom:75%;
    left:85%;

  }
  .w-new-mainTitleBox{
    width: 100%;
    background-color: $super-dark;
    border-radius: 10px;
    color: $white;
    font-family: "GenSenRounded-M";
    font-size: $ps-font-size;
    justify-content: center;
    margin:auto;
    text-align: center;
    padding: 5px 10px;
    @media (min-width:768px) {
      top:20%;
      right:5%;
    }
  }
}

.w-new-decorateSection{
  position:fixed;
  top: 30%;
  right:3%;
  width: 12%;
  @media (min-width:1000px){
    right:5%;
  }
  // background-color: $pink; 
  .w-boxStyle{
    width: 100%;
    height:100%;
    margin: auto;
  //  align-content: center;
    .w-boxStyle-wrap{
      // background-color: $pink; 
      width: 100%;
      align-content: center;
      margin: auto;
      .w-boxStyle-1{
        width: 80%;
        padding-bottom: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
        @media (min-width:1000px) {
          width: 60%;
        }
        img{
          width: 100%;
        }
      }
      .w-boxStyle-2{
        width: 80%;
        margin: auto;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        @media (min-width:1000px) {
          width: 60%;
        }
        img{
          width: 80%;
          opacity: .3;
        }
      }
      .w-boxStyle-3{
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: center;
        @media (min-width:1000px) {
          width: 60%;
        }
        img{
          width: 100%;
          opacity: .3;
        }
      }
    }
  }
}


.controls {
  position: absolute;
  bottom: 0%;
  width: 100%;
  // left: 5%;
  .info {
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
    .info p {
    margin-top: 0;
    }
  }
  .tray {
    width: 100%;
    height: 50px;
    position: relative;
    overflow-x: hidden;
    .tray__slide {
      position: absolute;
      display: flex;
      left: 0;
      /*   transform: translateX(-50%);
    animation: wheelin 1s 2s ease-in-out forwards; */ 
    }
  }
}



.tray__swatch {
  transition: 0.1s ease-in;
  height: 50px;
  min-width: 50px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}

.tray__swatch:nth-child(5n+5) {
  margin-right: 20px;
}

.drag-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 10em;
  height: 10em;
  box-sizing: border-box;
  font-size: 0.9em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5em;
  background: white;
  position: absolute;
  top:40%;
  left:33%;
  @media (min-width:768px) {
    left:46%;
  }
}

.drag-notice.start {
  -webkit-animation: popout 0.25s 3s forwards;
  animation: popout 0.25s 3s forwards;
}

.options {
  position: fixed;
  left: 0;
  top:25%;
  
  .option {
    background-size: cover;
    background-position: 50%;
    background-color: white;
    margin-bottom: 3px;
    padding: 10px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .option.--is-active {
    border-right: 3px solid $lake-green;
    width: 58px;
    cursor: default;
  }
}
.option img {
  height: 100%;
  width: auto;
  pointer-events: none;
}
.option:hover {
  border-left: 5px solid white;
  width: 58px;
}
.option.--is-active:hover {
  border-left: none;
}



@-webkit-keyframes popout {
  to {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
}

@keyframes popout {
  to {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
}

@-webkit-keyframes wheelin {
  to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@keyframes wheelin {
  to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@media (max-width: 960px) {
  .options {
      top: 30%;
  }

  .info {
      padding: 0 1em 1em 0;
  }

  .info__message {
      display: flex;
      align-items: flex-end;
  }

  .info__message p {
      margin: 0;
      font-size: 0.7em;
  }

  .frame {
      left: auto;
      right: 0;
      padding-left: 6rem;
  }

  .frame__links {
      display: block;
      margin: 0;
      text-align: right;
  }
}

@media (max-width: 720px) {
  .info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1em 1em;
  }

  .info__message {
      margin-bottom: 1em;
  }
}

@media (max-width: 680px) {
  .info {
      padding: 1em 2em;
  }

  .info__message {
      display: none;
  }

  .options {
      bottom: 50px;
  }

  .option {
      margin-bottom: 1px;
      padding: 5px;
      height: 45px;
      width: 45px;
      display: flex;
  }

  .option.--is-active {
      border-right: 2px solid $lake-green;
      width: 47px;
  }

  .option img {
      height: 100%;
      width: auto;
      pointer-events: none;
  }
}

//------newCardSection--------------------
.w-newCardSection{
  display: none;
  // background-color: #154d7a;
  @media (min-width:376px) {
    position: fixed;
    top: 20%;
    height: 60%;
    left: 52%;
    width: 50%;
    background-color: $lake-green;
    box-shadow:  4px 6px 0 0 rgba(0, 0, 0, 0.21);
    border-radius: 30px;
    display: none;
  }
  .w-P-closeSection {
    width: 100%;
    position: fixed;
    top:-1%;
    height: 20px;
  
    .w-p-close {
      margin-left: auto;
      width: 4%;
      margin-top: 2%;
      margin-right: 2%;
      @media (min-width:768px) {
        width: 1.2%;
        margin-top: 1%;
        margin-right: 1%;
      }
  
      img {
        width: 100%;
      }
    }
  }
  .w-newCardSectionControl{
    position: fixed;
    width: 50%;
    left: 10%;
    background-color: #4c4948;
  }
}
.w-new-CardMainTitle{
  position: fixed;
  bottom: 24%;
  left:5.5%;
  @media (min-width:768px) {
    bottom:73%;
    left:56.1%;

}
  .w-new-mainTitleBox{
    width: 100%;
    background-color: $super-dark;
    border-radius: 10px;
    color: $white;
    font-family: "GenSenRounded-M";
    font-size: $ps-font-size;
    justify-content: center;
    margin:auto;
    text-align: center;
    padding: 3px 10px;
    @media (min-width:768px) {
      top:20%;
      right:5%;
      padding: 5px 10px;
    }
  }
}

.w-newCardTextSection{
  position: fixed;
  width: 100%;
  .w-new-CardMainTitle2{
    position: fixed;
    bottom: 73%;
    left:60%;
    @media (min-width:376px) {
      bottom:73%;
      left:70%;
    }
    @media (min-width:768px) {
      bottom:73%;
      left:70%;
    }
    .w-new-mainTitleBox{
      width: 100%;
      background-color: $super-dark;
      border-radius: 10px;
      color: $white;
      font-family: "GenSenRounded-M";
      font-size: $ps-font-size;
      justify-content: center;
      margin:auto;
      text-align: center;
      padding: 3px 10px;
      @media (min-width:768px) {
        top:20%;
        right:5%;
        padding: 5px 10px;
      }
    }
  }
  .w-newCardTextArea{
    position: fixed;
    width:32%;
    top:30%;
    right: 8%;
    // background-color: #154d7a;
    @media (min-width:376px){
      width:15%;
      top:30%;
      right: 15%;
    } 
    @media (min-width:1100px) {
      width:15%;
      top:30%;
      right: 15%;
    }
    input[type="text"]{
      outline: 0;
      width: 100%;
      // height: 100%;
      border-radius: 10px;
      margin-bottom: 6%;
      border: 2px solid $super-dark;
      padding: 5px 10px;
      color: $lake-green;
      font-size: $ps-font-size;
      font-family:"GenSenRounded-M";
      @media (min-width:376px) {
        width: 100%;
        margin-bottom: 6%;
        border: 2px solid $super-dark;
        padding: 10px;
        font-size: $p-font-size;
      }
      @media (min-width:768px) {
        width: 100%;
        margin-bottom: 6%;
        border: 2px solid $super-dark;
        padding: 10px;
        font-size: $p-font-size;
      }
    }
    textarea{
      width: 100%;
      border-radius: 10px;
      padding: 5px 10px;
      border: 2px solid $super-dark;
      outline: 0;
      color: $lake-green;
      font-size: $ps-font-size;
      font-family:"GenSenRounded-M" ;
      @media (min-width:376px){
        font-size: $p-font-size;
        padding: 10px;
      }
      @media (min-width:1100px){
        font-size: $p-font-size;
        padding: 10px;
        
      }
    }
    .w-cardWordLimit{
      color: $dark-gray;
      font-size: $ps-font-size;
      font-family:"GenSenRounded-M" ;
      display: flex;
      justify-content: flex-end;
      @media (min-width:376px) {
        color: $white;
        font-size: $p-font-size;
      }
    }
      
    }
  }


.w-new-CardDecorateSection{
  position:fixed;
  top: 78%;
  right:42%;
  width: 50%;
  @media (min-width:1000px) {
    right: 35%;
    width: 12%;
    top: 31%;
  }
  // background-color: $pink; 
  .w-boxStyle{
    width: 100%;
    height:100%;
    margin: auto;

    .w-boxStyle-wrap{
      // background-color: $pink; 
      width: 100%;
      align-content: center;
      margin: auto;
      display: flex;
      @media (min-width:376px) {
        display: block;
      }
      .w-CardStyle-1{
        width: 100%;
        padding-bottom: 0px;
        margin-right: 15px;
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        @media  (min-width:376px) {
          padding-bottom: 50px;
          margin: auto;
          width: 60%;
          flex: 100%;
        }
        img{
          width: 100%;
          transition: .3s;
          cursor:pointer;
          &:hover{
            opacity: 1;
            transform:scale(110%);
          }
        }
      }
      .w-CardStyle-2{
        width: 100%;
        margin-right: 15px;
        padding-bottom: 0px;
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        @media  (min-width:376px) {
          padding-bottom: 50px;
          margin: auto;
          width: 60%;
          flex: 100%;
        }
        img{
          width: 100%;
          opacity: .3;
          transition: .3s;
          cursor:pointer;
          &:hover{
            opacity: 1;
            transform:scale(110%);
          }
        }
      }
      
      .w-CardStyle-3{
        margin: auto;
        width: 100%;
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        @media (min-width:376px) {
          width: 60%;
          flex: 100%;
        }
        
        img{
          width: 100%;
          opacity: .3;
          transition: .3s;
          cursor:pointer;
          &:hover{
            opacity: 1;
            transform:scale(110%);
          }
        }
      }
    }
  }
}
.w-newCardShowSection{
  position: fixed;
  top:36%;
  left: 7%;
  width: 47%;
  animation: cards 1.5s ;
  img{
    width:100% ;
    box-shadow:  0 2px 8px 0 rgba(99,99,99,0.2);
    transition: .5s;
  }
  @media (min-width:1100px) {
    position: fixed;
    top:22%;
    left: 9%;
  // background-color: $lake-green;
    width: 35%;
  }
}

.CardTextArea-To{
  position: fixed;
  top:37%;
  left:12%;
  width: 30%;
  height: 8%;
  color: #000000;
  font-size: 13px;
  font-family: "GenSenRounded-B";
  font-style: italic;
  @media (min-width:376px) {
    top:28%;
    left:12%;
    width: 30%;
    height: 8%;
    font-size: $h4-font-size;
  }
  @media (min-width:768px) {
    top:28%;
    left:12%;
    width: 30%;
    height: 8%;
    font-size: $h4-font-size;

  }
}
.CardTextArea{
  position: fixed;
  top:40.5%;
  left:15%;
  width: 35%;
  height: 14%;
  // overflow: scroll;
  // background-color: #154d7a;
  color: $dark-gray;
  line-height: 12px;
  font-size: 4px;
  font-family: "GenSenRounded-M";
  word-break: break-all;
  @media (min-width:376px) {
    line-height: 35px;
    top:37%;
    left:18%;
    width: 22%;
    height: 25%;
    font-size: $h5-font-size;
  }
  @media (min-width:768px){
    line-height: 35px;
    top:37%;
    left:18%;
    width: 22%;
    height: 25%;
    font-size: $h5-font-size;
  }
}
.CardTextArea-From{
  position: fixed;
  top:51%;
  left:20%;
  width: 29%;
  height: 8%;
  color: #000000;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  font-family: "GenSenRounded-B";
  // background-color: #2d827d;
  @media (min-width:376px) {
    top:66%;
    left:12%;
    width: 29%;
    height: 8%;
    font-size: $h5-font-size;
  }
  @media (min-width:768px){
    top:62%;
    left:12%;
    width: 29%;
    height: 8%;
    font-size: $h5-font-size;
  }
}
.w-newCardPackageBotton-box{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #154d7a;
.w-packageBotton-wrap{
  display: flex;
  justify-content: center;
  // padding-top: 12px;
  text-align: center;
  // background-color: #154d7a;
  position: fixed;
  bottom: 5%;
  right: 10%;

  @media (min-width:376px) {
    right: 29%;
    bottom: 10%;
  }
  @media (min-width:768px) {
    right: 28%;
    bottom: 10%;
  }
  .w-newCard-skipBtn{
    cursor:pointer;
    width: 90px;
    text-align: center;
    margin-right: 10px;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 3px 5px;
    background-color: $super-dark;
    border-radius: 10px;
    border: 2px solid $super-dark;
    font-family: "GenSenRounded-M";
    font-size: $ps-font-size;
    color: $white;
    transition: .5s;
    @media (min-width:376px) {
      margin-right: 20px;
      font-size: $p-font-size;
      padding: 6px 5px;
      width: 95px;
    }
  }
  .w-newCard-skipBtn:hover{
    color: $white;
    background-color: $lake-green;
    border: 2px solid $light-lake-green;
    transition: .5s;
  }
}
}

//----------w-NewFinishSection-----------------
.w-newFinishSection{
  display: none;
  // background-color: #154d7a;
  @media (min-width:376px) {
    position: fixed;
    top: 10%;
    // height: 60%;
    // left: 52%;
    width: 100%;
    border-radius: 30px;
    // display: none;
  }
}
.w-P-closeSection {
  width: 100%;
  position: fixed;
  top:-1%;
  height: 20px;

  .w-p-close {
    margin-left: auto;
    width: 4%;
    margin-top: 2%;
    margin-right: 2%;
    @media (min-width:768px) {
      width: 1.2%;
      margin-top: 1%;
      margin-right: 1%;
    }

    img {
      width: 100%;
    }
  }
}
.w-newFinishBotton-wrap{
  display: flex;
  justify-content: center;
  // padding-top: 12px;
  text-align: center;
  // background-color: #154d7a;
  position: fixed;
  bottom: 5%;
  right: 20%;
  @media (min-width:768px) {
    bottom: 10%;
    right: 23%;
  }

  .w-newFinish-skipBtn{
    cursor:pointer;
    width: 90px;
    text-align: center;
    margin-right: 10px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 3px 5px;
    background-color: $super-dark;
    border-radius: 10px;
    border: 2px solid $super-dark;
    font-family: "GenSenRounded-M";
    font-size: 14px;
    color: $white;
    transition: .5s;
    @media (min-width:376px) {
      margin-right: 20px;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 6px 5px;
      font-size: $p-font-size; 
    }
    @media (min-width:768px) {
      margin-right: 20px;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 6px 5px;
      font-size: $p-font-size;
    }
  }
  .w-newFinish-skipBtn:hover{
    color: $white;
    background-color: $lake-green;
    border: 2px solid $light-lake-green;
    transition: .5s;
  }
}

.w-newFinishShowSection{
    width: 100%;
    height: 68vh;
    margin-top: 3%;
    // background-color: #154d7a;
  .w-newFinishShowBox{
    width: 90%;
    height: 100%;
    // background-color: #2d827d;
    margin: auto;
    display: flex;
    @media (min-width:768px) {
      width: 85%;
    }
    .FinishPackage{
      width: 50%;
      margin: 5px;
      @media (min-width:768px) {
        margin: 60px 60px 100px 60px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .FinishCard{
      width: 55%;
      background-image: "";
      // background-color: $deep-brown;
      margin: 5px;
      @media (min-width:768px) {
        margin: 60px 60px 100px 60px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
form{
  width: 100%;
  position: fixed;
  .w-newFinishForm{
    position: fixed;
    bottom:20%;
    width: 100%;
    margin-left:3% ;
    // background-color: #154d7a;
    @media (min-width:768px) {
      bottom:10%;
      margin-left:15% ;
      width: 50%;
    }
    .w-newFinishFromCheck{
      // text-align: center;
      // align-items: center;
      .w-FinishForm-check { 
        align-items: center;
        padding-right: 10px;
        display: flex;
        padding-left: 1.25rem;
        font-family: "GenSenRounded-B";
        font-size: $p-font-size;
        .FinishOption{
          margin-right: 10px;
          // margin-bottom: 8px;
        }
        .FinishOption-Lable{
          margin-right: 15px;
          margin-bottom: 0;
        }
        .FinishInput-Email{
          width: 200px;
          color: $super-dark;
          outline-style: none;
          // outline-color: $light-lake-green;
          @media (min-width:768px) {
            width: 250px;
          }
        }
        input{
          padding-left: 10px;
          border-radius: 10px;
          cursor: pointer;
          
        }
        input[name="CardSent"] {
          accent-color:$brown;
          cursor: pointer;
        }
      }
    }
  }
  .w-newFinishMainTitle{
    width: 100%;
    padding-bottom: 20px;
    // padding: 12px 0px 0px;
    .w-newFinishMainTitleBox{
      width: 28%;
      background-color: $super-dark;
      border-radius: 10px;
      color: $white;
      font-family: "GenSenRounded-M";
      font-size: $ps-font-size;
      justify-content: center;
      margin-left: 20px;
      text-align: center;
      padding: 3px;
      @media (min-width:768px) {
        width: 16%;
      }
    }
  }
}

.ShowCardTextArea-To{
  position: fixed;
  top:28%;
  left:13%;
  width: 33%;
  height: 4%;
  color: #000000;
  font-size: 12px;
  font-family: "GenSenRounded-B";
  font-style: italic;
  // background-color: $pink;
  @media (min-width:376px) {
    font-size: $h4-font-size;
    top:26%;
    left:15%;
    width: 30%;
    height: 8%;
  }
  @media (min-width:768px) {
    font-size: $h4-font-size;
    top:26%;
    left:15%;
    width: 30%;
    height: 8%;
  }

}
.ShowCardTextArea{
  position: fixed;
  top:32%;
  left:17%;
  width: 32%;
  height: 15%;
  // background-color: #154d7a;
  color: $dark-gray;
  line-height: 13px;
  font-size: 4px;
  font-family: "GenSenRounded-M";
  word-break: break-all;
  // overflow: scroll;
  @media (min-width:376px) {
    top:36%;
    left:20%;
    width: 22%;
    height: 25%;
    line-height: 35px;
    font-size: $h5-font-size;
  }

  @media (min-width:768px) {
    top:36%;
    left:20%;
    width: 22%;
    height: 25%;
    line-height: 35px;
    font-size: $h5-font-size;
  }

}
.ShowCardTextArea-From{
  position: fixed;
  top:40%;
  left:14%;
  width: 29%;
  height: 5%;
  color: #000000;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  font-family: "GenSenRounded-B";
  // background-color: #2d827d;
  @media (min-width:376px){
    top:63%;
    left:14%;
    width: 29%;
    font-size: $h5-font-size;
  }
  @media (min-width:768px){
    top:65%;
    left:14%;
    width: 29%;
    font-size: $h5-font-size;
  }
}

// --------光箱區包裝清除設計------------------
.giftBoxLightBox{
  display: none;
  z-index:20;
  background-color: rgba($color: $super-dark, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s;
  .lightBoxBg{
    position: absolute;
    width: 90%;
    height: 40%;
    top:50%;
    left: 50%;
    border-radius: 25px;
    transform-origin:center;
    transform: translate(-50%, -50%);
    background-color: $lake-green;
    @media (min-width:768px) {
      width: 30%;
      height: 35%;
      top:45%;
      left: 50%;
      transform: translate(-47%, -50%);
    }
    .lightBoxArea{
      position: absolute;
      top:-3%;
      left: -1.5%;
      background-color: $white;
      border: 5px solid $light-lake-green;
      box-shadow:  0 6px 6px  rgba(0,0,0,0.08);
      width:100%;
      height: 100%;
      border-radius: 25px;
      padding: 0px 5%;

      .lightBoxTop{
        width: 100%;
        height: 50%;
        text-align: center;
        // background-color: #154d7a;
        img{
          margin: auto;
          padding:6% 4% 4% 4%;
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
          width: 40%;
          height: 100%;
          object-fit: contain;
        }
      }
      .lightBoxText{
        text-align: center;
        margin-top: 3%;
        @media (min-width:768px) {
        margin-top: 1%;
        }
        p{
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          @media (min-width:768px) {
            font-family: "GenSenRounded-B";
          font-size: $h6-font-size;
          }
        }
      }
      .lightBoxBottom{
        margin-top: 8%;
        display: flex;
        justify-content: center;
        .lightBoxBtn-L{
          background-color: $super-dark;
          color: $white;
          border-radius: 10px;
          border: 2px solid $super-dark;
          padding: 1% 7%;
          margin-right: 5%;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          transition: .5s;
          cursor: pointer;
          &:hover{
            background-color: $lake-green;
            border-color: $light-lake-green;
          }
        }
        .lightBoxBtn-R{
          // background-color: $super-dark;
          border: 2px solid $super-dark;
          color: $super-dark;
          border-radius: 10px;
          padding: 1% 7%;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          transition: .5s;
          cursor: pointer;
          &:hover{
            background-color: $lake-green;
            border-color: $light-lake-green;
            color: $white;
          }
        }
      }
    }
  }
}
//------光箱區略過包裝設計---------
.giftBoxLightBox-Skip{
  display: none;
  z-index:21;
  background-color: rgba($color: $super-dark, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s;
  .lightBoxBg{
    position: absolute;
    width: 90%;
    height: 45%;
    top:50%;
    left: 50%;
    border-radius: 25px;
    transform-origin:center;
    transform: translate(-50%, -50%);
    background-color: $lake-green;
    @media (min-width:768px) {
      width: 30%;
      height: 35%;
      top:45%;
      left: 50%;
      transform: translate(-47%, -50%);
    }
    .lightBoxArea{
      position: absolute;
      top:-3%;
      left: -1.5%;
      background-color: $white;
      border: 5px solid $light-lake-green;
      box-shadow:  0 6px 6px  rgba(0,0,0,0.08);
      width:100%;
      height: 100%;
      border-radius: 25px;
      padding: 0px 5%;
      @media (min-width:768px) {
        padding: 0px 5%;
      }
      .lightBoxTop{
        width: 100%;
        height: 50%;
        text-align: center;
        // background-color: #154d7a;
        img{
          margin: auto;
          padding:6% 4% 4% 4%;
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
          width: 40%;
          height: 100%;
          object-fit: contain;
        }
      }
      .lightBoxText{
        text-align: center;
        margin-top: 3%;
        @media (min-width:768px) {
          margin-top: 1%;
        }
        p{
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          @media (min-width:768px) {
            font-family: "GenSenRounded-B";
            font-size: $h6-font-size;
          }
        }
      }
      .lightBoxBottom{
        margin-top: 8%;
        display: flex;
        justify-content: center;
        .lightBoxBtn-L{
          background-color: $super-dark;
          color: $white;
          border-radius: 10px;
          border: 2px solid $super-dark;
          padding: 1% 7%;
          margin-right: 5%;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          transition: .5s;
          cursor: pointer;
          &:hover{
            background-color: $lake-green;
            border-color: $light-lake-green;
          }
        }
        .lightBoxBtn-R{
          // background-color: $super-dark;
          border: 2px solid $super-dark;
          color: $super-dark;
          border-radius: 10px;
          padding: 1% 7%;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          transition: .5s;
          cursor: pointer;
          &:hover{
            background-color: $lake-green;
            border-color: $light-lake-green;
            color: $white;
          }
        }
      }
    }
  }
}

//------光箱區略過卡片設計---------
.giftCardLightBox-Skip{
  display: none;
  z-index:22;
  background-color: rgba($color: $super-dark, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s;
  .lightBoxBg{
    position: absolute;
    width: 90%;
    height: 45%;
    top:50%;
    left: 50%;
    border-radius: 25px;
    transform-origin:center;
    transform: translate(-50%, -50%);
    background-color: $lake-green;
    @media (min-width:768px) {
      width: 30%;
      height: 35%;
      top:45%;
      left: 50%;
      transform: translate(-47%, -50%);
    }
    .lightBoxArea{
      position: absolute;
      top:-3%;
      left: -1.5%;
      background-color: $white;
      border: 5px solid $light-lake-green;
      box-shadow:  0 6px 6px  rgba(0,0,0,0.08);
      width:100%;
      height: 100%;
      border-radius: 25px;
      padding: 0px 5%;
      @media (min-width:768px) {
        padding: 0px 5%;
      }
      .lightBoxTop{
        width: 100%;
        height: 50%;
        text-align: center;
        // background-color: #154d7a;
        img{
          margin: auto;
          padding:6% 4% 4% 4%;
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.3));
          width: 40%;
          height: 100%;
          object-fit: contain;
        }
      }
      .lightBoxText{
        text-align: center;
        margin-top: 3%;
        @media (min-width:768px) {
          margin-top: 1%;
        }
        p{
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          @media (min-width:768px) {
            font-family: "GenSenRounded-B";
            font-size: $h6-font-size;
          }
        }
      }
      .lightBoxBottom{
        margin-top: 8%;
        display: flex;
        justify-content: center;
        .lightBoxBtn-L{
          background-color: $super-dark;
          color: $white;
          border-radius: 10px;
          border: 2px solid $super-dark;
          padding: 1% 7%;
          margin-right: 5%;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          transition: .5s;
          cursor: pointer;
          &:hover{
            background-color: $lake-green;
            border-color: $light-lake-green;
          }
        }
        .lightBoxBtn-R{
          // background-color: $super-dark;
          border: 2px solid $super-dark;
          color: $super-dark;
          border-radius: 10px;
          padding: 1% 7%;
          font-family: "GenSenRounded-B";
          font-size: $p-font-size;
          transition: .5s;
          cursor: pointer;
          &:hover{
            background-color: $lake-green;
            border-color: $light-lake-green;
            color: $white;
          }
        }
      }
    }
  }
}