* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}

@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}

.pc-login {
  position: fixed;
  z-index: 300;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-login .login-box {
  width: 90%;
  height: 550px;
  max-width: 933px;
  background: url(../images/pc-login.svg) no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.pc-login .login-box .switchtosignup {
  width: 120px;
  height: 75px;
  background-color: #bd392a;
  position: absolute;
  top: 47%;
  left: 19%;
  cursor: pointer;
}

.pc-login .login-box .pc-login-info {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 45%;
}

.pc-login .login-box .pc-login-info .pc-login-container {
  width: 130%;
  padding-top: 15%;
}

.pc-login .login-box .pc-login-info .pc-login-container input {
  width: 90%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #c2c2c2;
  border: none;
  border-bottom: 2px solid #4c4948;
  outline: none;
  padding-bottom: 2%;
}

@media screen and (max-width: 864px) {
  .pc-login .login-box .pc-login-info .pc-login-container input {
    width: 85%;
  }
}

.pc-login .login-box .pc-login-info .pc-login-container .mail-input {
  padding-top: 5%;
}

.pc-login .login-box .pc-login-info .pc-login-container .password-input {
  padding-top: 10%;
  position: relative;
}

.pc-login .login-box .pc-login-info .pc-login-container .password-input .eye-close {
  position: absolute;
  top: 30px;
  right: 5px;
}

@media screen and (max-width: 864px) {
  .pc-login .login-box .pc-login-info .pc-login-container .password-input .eye-close {
    top: 25px;
    right: 10px;
  }
}

.pc-login .login-box .pc-login-info .pc-login-container .password-input p {
  padding-top: 2px;
  padding-left: 30px;
  font-weight: bold;
}

.pc-login .login-box .pc-login-info .pc-login-container .password-input p a {
  text-align: left;
  font-family: "Roboto";
  font-size: 12px;
  color: #7cb2af;
}

.pc-login .login-box .pc-login-info .pc-login-container .login-button {
  padding-top: 20%;
}

.pc-login .login-box .pc-login-info .pc-login-container .login-button .login-btn {
  width: 263px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  background-color: #2d827d;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc-login .login-box .pc-login-info .or {
  text-align: center;
  padding-top: 10%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
  padding-bottom: 10px;
}

.pc-login .login-box .pc-login-info .orwith-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc-login .login-box .pc-login-info .orwith-icon .fb-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #c2c2c24a;
  border-radius: 10px;
  margin-right: 10px;
}

.pc-login .login-box .pc-login-info .orwith-icon .google-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #c2c2c24a;
  border-radius: 10px;
}

.pc-login .login-box .pc-login-info .not-member {
  padding-top: 20px;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  text-align: center;
  color: #4c4948;
}

.pc-login .login-box .pc-login-info .not-member a {
  color: #7cb2af;
}
/*# sourceMappingURL=pc-login.css.map */