* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup {
  width: 100%;
  height: 100vh;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-bg {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box {
  z-index: 2;
  width: 90%;
  height: 550px;
  max-width: 933px;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/pc-signup.svg) no-repeat;
  background-size: 100% 100%;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info {
  width: 28.5%;
  position: absolute;
  top: 25%;
  left: 45%;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container {
  width: 130%;
  padding-top: 15%;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container input {
  width: 90%;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #c2c2c2;
  border: none;
  border-bottom: 2px solid #4c4948;
  outline: none;
  padding-bottom: 2%;
}
@media screen and (max-width: 864px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container input {
    width: 85%;
  }
}
@media screen and (max-width: 909px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container input {
    width: 80%;
  }
}
<<<<<<< HEAD
.pc-signup .signup-box .pc-signup-info .pc-signup-container .mail-input {
  padding-top: 2%;
}
=======

.pc-signup .signup-box .pc-signup-info .pc-signup-container .mail-input {
  padding-top: 2%;
}

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .password-input {
  padding-top: 5%;
  position: relative;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .password-input .eye-close {
  position: absolute;
  top: 20px;
  right: 5px;
}
@media screen and (max-width: 864px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .password-input .eye-close {
    top: 20px;
    right: 22px;
  }
}
@media screen and (max-width: 909px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .password-input .eye-close {
    top: 16px;
    right: 30px;
  }
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .password-input p {
  padding-top: 2px;
  padding-left: 30px;
  font-weight: bold;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .password-corret-input {
  padding-top: 5%;
  width: 100%;
  margin-left: 30px;
  position: relative;
}
@media screen and (max-width: 909px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .password-corret-input {
    width: 100%;
  }
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .password-corret-input .eye-close {
  position: absolute;
  top: 20px;
  right: 35px;
}
@media screen and (max-width: 864px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .password-corret-input .eye-close {
    top: 15px;
    right: 50px;
  }
}
@media screen and (max-width: 909px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .password-corret-input .eye-close {
    top: 16px;
    right: 60px;
  }
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .password-corret-input p {
  padding-top: 2px;
  padding-left: 30px;
  font-weight: bold;
}
<<<<<<< HEAD
.pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input {
  padding-top: 5%;
}
=======

.pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input {
  padding-top: 5%;
}

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input input {
  text-align: center;
  width: 28%;
  margin: 0 3px;
}
@media screen and (max-width: 864px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input input {
    width: 26%;
  }
}
@media screen and (max-width: 909px) {
  .pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input input {
    width: 25%;
  }
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input .bd-input-1 {
  text-align: left;
  margin-left: 0;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .bd-input p {
  padding-left: 12%;
  padding-top: 3px;
  padding-left: 30px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 11px;
  color: #4c4948;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .sign-p {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 11px;
  color: #4c4948;
  text-align: left;
  padding: 5px 5px 8px 0px;
}
<<<<<<< HEAD
.pc-signup .signup-box .pc-signup-info .pc-signup-container .sign-p a {
  color: #154d7a;
}
=======

.pc-signup .signup-box .pc-signup-info .pc-signup-container .sign-p a {
  color: #154d7a;
}

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .pc-signup-container .signup-btn {
  width: 150px;
  height: 35px;
  border: 0;
  border-radius: 10px;
  background-color: #2d827d;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .or {
  text-align: center;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  color: #4c4948;
  padding-bottom: 10px;
}
@media screen and (max-width: 864px) {
  .pc-signup .signup-box .pc-signup-info .or {
    padding-top: 5%;
  }
}
@media screen and (min-width: 910px) {
  .pc-signup .signup-box .pc-signup-info .or {
    padding-top: 8%;
  }
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .orwith-icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
<<<<<<< HEAD
.pc-signup .signup-box .pc-signup-info .orwith-icon .fb-icon {
=======

.pc-signup .signup-box .pc-signup-info .orwith-icon .fb-icon {
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(194, 194, 194, 0.2901960784);
  border-radius: 10px;
  margin-right: 10px;
}
<<<<<<< HEAD
.pc-signup .signup-box .pc-signup-info .orwith-icon .google-icon {
=======

.pc-signup .signup-box .pc-signup-info .orwith-icon .google-icon {
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(194, 194, 194, 0.2901960784);
  border-radius: 10px;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .not-member {
  padding-top: 20px;
  font-family: "GenSenRounded-B";
  font-size: 14px;
  text-align: center;
  color: #4c4948;
}
<<<<<<< HEAD
=======

>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
.pc-signup .signup-box .pc-signup-info .not-member a {
  color: #7cb2af;
}

.signup-show {
  position: fixed;
<<<<<<< HEAD
}/*# sourceMappingURL=pc-signup.css.map */
=======
}
/*# sourceMappingURL=pc-signup.css.map */
>>>>>>> 29d7be4ab8d0a18c753f401b1a3ca06cf671b716
