* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
body {
  background-image: url(../images/other_bg_paper.png);
}

.content .banner {
  width: 100%;
  height: 160px;
  background-image: url("https://picsum.photos/id/1008/1920/375");
  position: relative;
}
@media screen and (min-width: 768px) {
  .content .banner {
    height: 375px;
  }
}
.content .banner .class {
  padding: 5px 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .content .banner .class {
    border: 2px solid #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .content .banner .class {
    bottom: 40px;
  }
}
.content .banner .class h3 {
  padding-bottom: 3px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .content .banner .class h3 {
    font-size: 24px;
  }
}
.content .slider {
  width: 100%;
  overflow: hidden;
}
.content .slider .slider-bar {
  padding: 0 15px;
  overflow: scroll;
}
.content .slider .slider-bar ul {
  display: flex;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .content .slider .slider-bar ul {
    justify-content: center;
  }
}
.content .slider .slider-bar ul li {
  padding: 5px 15px;
  margin: 15px 10px;
  border: 2px solid #000000;
  border-radius: 15px;
  flex-shrink: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .content .slider .slider-bar ul li {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.content .slider .slider-bar ul li a {
  color: #000000;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .content .slider .slider-bar ul li a {
    font-size: 20px;
  }
}
.content .filter {
  padding: 15px 0 15px 15px;
}
.content .filter button.filter {
  padding: 5px 8px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .content .filter button.filter {
    font-size: 18px;
  }
}
.content .product-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 6px;
  flex-wrap: wrap;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .content .product-list {
    width: 85%;
    margin: 0 7.5%;
  }
}
@media screen and (min-width: 992px) {
  .content .product-list {
    width: 90%;
    margin: 0 5%;
  }
}
@media screen and (min-width: 1200px) {
  .content .product-list {
    width: calc(100% - 600px);
    margin: 0 300px;
  }
}
.content .product-list a {
  text-decoration: none;
}
.content .product-list a .product-card {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .content .product-list a .product-card {
    margin-bottom: 30px;
  }
}
.content .product-list a .product-card .product-image {
  width: 170px;
  height: 170px;
  margin: auto;
  background-image: url(../images/products/71-1.jpeg);
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 992px) {
  .content .product-list a .product-card .product-image {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .content .product-list a .product-card .product-image {
    width: 275px;
    height: 350px;
    background-position: center center;
  }
}
.content .product-list a .product-card .product-image .heart {
  width: 30px;
  height: 30px;
  cursor: default;
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-image: url(../images/icons/addlike0.svg);
}
.content .product-list a .product-card .product-title {
  width: 170px;
  padding: 5px;
}
@media screen and (min-width: 992px) {
  .content .product-list a .product-card .product-title {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.content .product-list a .product-card .product-title h3 {
  color: #000000;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (min-width: 992px) {
  .content .product-list a .product-card .product-title h3 {
    font-size: 18px;
  }
}
.content .product-list a .product-card .product-price {
  width: 170px;
  padding: 5px;
}
@media screen and (min-width: 992px) {
  .content .product-list a .product-card .product-price {
    width: 250px;
  }
}
.content .product-list a .product-card .product-price p {
  color: #554d49;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  font-weight: 900;
}
.content .product-list a .product-card .product-price p::before {
  display: inline-block;
  content: "NT$ ";
}
@media screen and (min-width: 992px) {
  .content .product-list a .product-card .product-price p {
    font-size: 18px;
  }
}

.filter-page,
.gender-filter-detail,
.price-filter-detail,
.color-filter-detail {
  background-color: #2d827d;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 200;
  display: none;
}
.filter-page .filter-header,
.gender-filter-detail .filter-header,
.price-filter-detail .filter-header,
.color-filter-detail .filter-header {
  width: 100%;
  padding: 5px 0;
  background-color: #2d827d;
  z-index: 120;
  position: fixed;
}
.filter-page .filter-header span,
.gender-filter-detail .filter-header span,
.price-filter-detail .filter-header span,
.color-filter-detail .filter-header span {
  padding: 10px 10px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-page .filter-class,
.gender-filter-detail .filter-class,
.price-filter-detail .filter-class,
.color-filter-detail .filter-class {
  margin-top: 50px;
}
.filter-page .filter-class .button-filter,
.gender-filter-detail .filter-class .button-filter,
.price-filter-detail .filter-class .button-filter,
.color-filter-detail .filter-class .button-filter {
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-around;
}
.filter-page .filter-class .button-filter .new,
.filter-page .filter-class .button-filter .sale,
.filter-page .filter-class .button-filter .theme,
.gender-filter-detail .filter-class .button-filter .new,
.gender-filter-detail .filter-class .button-filter .sale,
.gender-filter-detail .filter-class .button-filter .theme,
.price-filter-detail .filter-class .button-filter .new,
.price-filter-detail .filter-class .button-filter .sale,
.price-filter-detail .filter-class .button-filter .theme,
.color-filter-detail .filter-class .button-filter .new,
.color-filter-detail .filter-class .button-filter .sale,
.color-filter-detail .filter-class .button-filter .theme {
  padding: 5px 15px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
}
.filter-page .filter-class .gender-filter,
.filter-page .filter-class .price-filter,
.filter-page .filter-class .color-filter,
.gender-filter-detail .filter-class .gender-filter,
.gender-filter-detail .filter-class .price-filter,
.gender-filter-detail .filter-class .color-filter,
.price-filter-detail .filter-class .gender-filter,
.price-filter-detail .filter-class .price-filter,
.price-filter-detail .filter-class .color-filter,
.color-filter-detail .filter-class .gender-filter,
.color-filter-detail .filter-class .price-filter,
.color-filter-detail .filter-class .color-filter {
  padding: 15px 0;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.filter-page .filter-class .gender-filter span,
.filter-page .filter-class .price-filter span,
.filter-page .filter-class .color-filter span,
.gender-filter-detail .filter-class .gender-filter span,
.gender-filter-detail .filter-class .price-filter span,
.gender-filter-detail .filter-class .color-filter span,
.price-filter-detail .filter-class .gender-filter span,
.price-filter-detail .filter-class .price-filter span,
.price-filter-detail .filter-class .color-filter span,
.color-filter-detail .filter-class .gender-filter span,
.color-filter-detail .filter-class .price-filter span,
.color-filter-detail .filter-class .color-filter span {
  margin-left: 20px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.filter-page .filter-class .gender-filter span.filter-content,
.filter-page .filter-class .price-filter span.filter-content,
.filter-page .filter-class .color-filter span.filter-content,
.gender-filter-detail .filter-class .gender-filter span.filter-content,
.gender-filter-detail .filter-class .price-filter span.filter-content,
.gender-filter-detail .filter-class .color-filter span.filter-content,
.price-filter-detail .filter-class .gender-filter span.filter-content,
.price-filter-detail .filter-class .price-filter span.filter-content,
.price-filter-detail .filter-class .color-filter span.filter-content,
.color-filter-detail .filter-class .gender-filter span.filter-content,
.color-filter-detail .filter-class .price-filter span.filter-content,
.color-filter-detail .filter-class .color-filter span.filter-content {
  color: #c2c2c2;
}
.filter-page .filter-class .gender-filter span.arrow,
.filter-page .filter-class .price-filter span.arrow,
.filter-page .filter-class .color-filter span.arrow,
.gender-filter-detail .filter-class .gender-filter span.arrow,
.gender-filter-detail .filter-class .price-filter span.arrow,
.gender-filter-detail .filter-class .color-filter span.arrow,
.price-filter-detail .filter-class .gender-filter span.arrow,
.price-filter-detail .filter-class .price-filter span.arrow,
.price-filter-detail .filter-class .color-filter span.arrow,
.color-filter-detail .filter-class .gender-filter span.arrow,
.color-filter-detail .filter-class .price-filter span.arrow,
.color-filter-detail .filter-class .color-filter span.arrow {
  position: absolute;
  right: 10px;
}
.filter-page .filter-footer,
.gender-filter-detail .filter-footer,
.price-filter-detail .filter-footer,
.color-filter-detail .filter-footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
.filter-page .filter-footer button,
.gender-filter-detail .filter-footer button,
.price-filter-detail .filter-footer button,
.color-filter-detail .filter-footer button {
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  background-color: black;
  border: 2px solid #000000;
  padding: 10px 8px;
  border-radius: 10px;
}
.filter-page .filter-footer button svg,
.gender-filter-detail .filter-footer button svg,
.price-filter-detail .filter-footer button svg,
.color-filter-detail .filter-footer button svg {
  width: 20%;
}

.gender-filter-detail .gender-filter-content {
  margin-top: 120px;
}
.gender-filter-detail .gender-filter-content form .gender-filter-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
}
.gender-filter-detail .gender-filter-content form .gender-filter-radio span {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 46px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.gender-filter-detail .gender-filter-content form .gender-filter-radio span.all {
  padding-left: 17px;
}
.gender-filter-detail .gender-filter-content form .gender-filter-radio input {
  margin-right: 30px;
}
.gender-filter-detail .gender-filter-content form label.all {
  border-bottom: 1px solid #ffffff;
}

.price-filter-detail .price-filter-content {
  margin-top: 120px;
}
.price-filter-detail .price-filter-content form .price-filter-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
}
.price-filter-detail .price-filter-content form .price-filter-radio span {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 46px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.price-filter-detail .price-filter-content form .price-filter-radio span.all {
  padding-left: 17px;
}
.price-filter-detail .price-filter-content form .price-filter-radio input {
  margin-right: 30px;
}
.price-filter-detail .price-filter-content form label.last {
  border-bottom: 1px solid #ffffff;
}

.color-filter-detail .color-filter-content {
  height: calc(100% - 206px);
  margin-top: 120px;
  overflow: hidden;
}
.color-filter-detail .color-filter-content form {
  height: calc(100% - 0px);
  overflow: scroll;
}
.color-filter-detail .color-filter-content form .color-filter-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
}
.color-filter-detail .color-filter-content form .color-filter-radio span {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 46px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.color-filter-detail .color-filter-content form .color-filter-radio span.all {
  padding-left: 17px;
}
.color-filter-detail .color-filter-content form .color-filter-radio input {
  margin-right: 30px;
}
.color-filter-detail .color-filter-content form label.last {
  border-bottom: 1px solid #ffffff;
}

.filter-show {
  right: 0;
  display: block;
}

.list-hidden {
  display: none;
}

.menu-show {
  right: 0;
}

.body-hidden {
  overflow: hidden;
}/*# sourceMappingURL=product-list.css.map */