* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
body {
  background-image: url(../images/other_bg_paper.png);
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 56.5px;
  background-color: #000000;
  opacity: 80%;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.header .left {
  padding-left: 20px;
  width: 100%;
}
.header .left h1.logo {
  width: 100%;
}
.header .left h1.logo a {
  width: 100%;
}
.header .left h1.logo a img {
  width: 75%;
}
.header .right {
  padding-right: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .right li {
  display: flex;
  align-items: center;
}
.header .right li ul {
  margin: 0 10px;
}
.header .right li ul.cart {
  margin-bottom: 5px;
}

.content .banner {
  width: 100%;
  height: 160px;
  background-image: url("https://picsum.photos/id/1008/375/160");
  position: relative;
}
.content .banner .class {
  padding: 5px 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.content .banner .class h3 {
  padding-bottom: 3px;
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.content .slider {
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #c2c2c2;
}
.content .slider .slider-bar {
  width: 650px;
  padding: 0 15px;
  overflow: scroll;
}
.content .slider .slider-bar ul {
  width: 150%;
  display: flex;
  overflow: scroll;
}
.content .slider .slider-bar ul li {
  padding: 5px 15px;
  margin: 15px 10px;
  border: 2px solid #000000;
  border-radius: 15px;
}
.content .slider .slider-bar ul li a {
  color: #000000;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.content .filter {
  padding: 15px 0 15px 15px;
}
.content .filter button.filter {
  padding: 5px 8px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.content .product-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 6px;
  flex-wrap: wrap;
}
.content .product-list a .product-card {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}
.content .product-list a .product-card .product-image {
  width: 170px;
  height: 170px;
  margin: auto;
  background-image: url(../images/products/71-1.jpeg);
  background-size: cover;
  position: relative;
}
.content .product-list a .product-card .product-image .heart {
  cursor: default;
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.content .product-list a .product-card .product-title {
  width: 170px;
  padding: 5px;
}
.content .product-list a .product-card .product-title h3 {
  color: #000000;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.content .product-list a .product-card .product-price {
  width: 170px;
  padding: 5px;
}
.content .product-list a .product-card .product-price p {
  color: #554d49;
  font-family: "GenSenRounded-M";
  font-size: 16px;
  font-weight: 900;
}
.content .product-list a .product-card .product-price p::before {
  display: inline-block;
  content: "NT$";
}

.footer {
  margin-top: 30px;
  background-image: url(../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 257px;
}
.footer .footer-logo {
  padding-top: 30px;
  width: 20%;
  margin: auto;
}
.footer .footer-nav ul {
  margin: 35px 40px 0 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}
.footer .footer-nav ul li a {
  color: #ffffff;
  font-family: "GenSenRounded-M";
  font-size: 16px;
}
.footer .footer-social {
  margin: 35px 160px 0 160px;
  display: flex;
  justify-content: space-between;
}
.footer .footer-c {
  margin-top: 35px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
}/*# sourceMappingURL=product-list.css.map */