* {
  box-sizing: border-box;
}

$super-dark: #000000;
$dark-red: #a31c2d;
$pink: #ca3f68;
$red-pink: #d45a6a;
$light-pink: #ee92ad;
$dark-green: #2f5e36;
$green: #7ea083;
$lake-green: #2d827d;
$light-lake-green: #7cb2af;
$sky-blue: #5292b9;
$light-sky-blue: #9fc8e1;
$dark-blue: #154d7a;
$blue: #548fbe;
$brown: #7a482d;
$khaki: #b28064;
$orange: #cb6b28;
$light-orange: #e1a77e;
$coral: #bd392a;
$light-coral: #f07f72;
$dark-gray: #4c4948;
$gray: #c2c2c2;
$yellow: #ffcd51;
$light-yellow: #ffe39f;
$skin: #d4cfc6;
$white: #ffffff;
$light-brown: #d4cfc6;
$deep-brown: #554d49;

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"),
    url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"),
    url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"),
    url("../fonts/RobotoFlex.ttf") format("truetype");
}

$h1-font-size: 80px;
$h2-font-size: 48px;
$h3-font-size: 36px;
$h4-font-size: 32px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$h7-font-size: 18px;
$p-font-size: 16px;
$ps-font-size: 14px;
$bold: 900;

// Start

body {
  background-image: url(../images/other_bg_paper.png);
}

// .header {
//   .up {
//     position: fixed;
//     z-index: 100;
//     width: 100%;
//     height: 56.5px;
//     background-color: rgba($color: #000000, $alpha: 0.8);
//     border-radius: 0 0 20px 20px;
//     display: flex;
//     align-items: center;
//     box-shadow: 0px 5px 15px rgba($color: #000000, $alpha: 0.25);
//     @media screen and (min-width: 768px) {
//       width: 95%;
//       height: 90px;
//       margin: 0 2.5%;
//       padding: 0 5%;
//     }
//     .left {
//       padding-left: 20px;
//       width: 30%;
//       h1.logo {
//         width: 100%;
//         a {
//           width: 100%;
//           img {
//             width: 150px;
//           }
//         }
//       }
//     }
//     .right-mobile {
//       padding-right: 10px;
//       width: 70%;
//       display: flex;
//       align-items: center;
//       justify-content: flex-end;
//       @media screen and (min-width: 768px) {
//         display: none;
//       }
//       ul {
//         display: flex;
//         align-items: center;
//         li {
//           margin: 0 10px;
//         }
//         li.cart {
//           margin-bottom: 5px;
//         }
//       }
//     }
//     .right-pc {
//       padding-right: 10px;
//       width: 70%;
//       display: flex;
//       align-items: center;
//       justify-content: flex-end;
//       @media screen and (max-width: 768px) {
//         display: none;
//       }
//       .mockup {
//         cursor: pointer;
//         padding-right: 20px;
//         color: $white;
//         font-family: "GenSenRounded-M";
//         font-size: $p-font-size;
//       }
//       ul {
//         display: flex;
//         align-items: center;
//         padding-left: 10px;
//         border-left: 1px solid $white;
//         li {
//           margin: 0 10px;
//         }
//         a {
//           svg {
//             width: 80%;
//           }
//         }
//       }
//     }
//   }
//   .down {
//     position: relative;
//     .header-mockup {
//       position: fixed;
//       z-index: 205;
//       top: 90px;
//       width: 80%;
//       height: 500px;
//       margin: 0 10%;
//       border-radius: 0 0 10px 10px;
//       background-color: $gray;
//       box-shadow: 4px 4px 15px $super-dark;
//     }
//   }
// }

// .footer-mobile {
//   margin-top: 30px;
//   background-image: url(../images/footer-bg.svg);
//   background-repeat: no-repeat;
//   background-size: 160%;
//   background-position: center;
//   overflow: hidden;
//   width: 100%;
//   height: 257px;
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
//   .footer-logo {
//     padding-top: 30px;
//     width: 85px;
//     margin: auto;
//   }
//   .footer-nav {
//     ul {
//       margin: 35px 40px 0 40px;
//       padding-bottom: 10px;
//       display: flex;
//       justify-content: space-between;
//       border-bottom: 2px solid $white;
//       li {
//         a {
//           color: $white;
//           font-family: "GenSenRounded-M";
//           font-size: $p-font-size;
//           text-decoration: none;
//         }
//       }
//     }
//   }
//   .footer-social {
//     margin: 35px 160px 0 160px;
//     display: flex;
//     justify-content: space-between;
//   }
//   .footer-c {
//     margin-top: 35px;
//     text-align: center;
//     color: $white;
//     font-family: "Roboto";
//     font-size: $ps-font-size;
//   }
// }

// .footer-pc {
//   width: 100%;
//   height: 120px;
//   background-color: $dark-gray;
//   position: relative;
//   display: none;
//   @media screen and (min-width: 768px) {
//     display: block;
//   }
//   .footer-pc-up {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     padding-bottom: 30px;
//     border-bottom: 2px solid $white;
//     .footer-nav {
//       ul {
//         margin: 30px 20px 0 0;
//         display: flex;
//         justify-content: space-between;
//         li {
//           margin-right: 30px;
//           a {
//             color: $white;
//             font-family: "GenSenRounded-M";
//             font-size: $p-font-size;
//             text-decoration: none;
//           }
//         }
//       }
//     }
//     .footer-c {
//       margin-top: 30px;
//       text-align: center;
//       color: $white;
//       font-family: "Roboto";
//       font-size: $ps-font-size;
//     }
//     .footer-social {
//       margin: 30px 40px 0 20px;
//       display: flex;
//       justify-content: space-between;
//       a {
//         margin-right: 10px;
//       }
//     }
//   }
//   .footer-logo {
//     position: absolute;
//     width: 120px;
//     top: 30px;
//     left: 80px;
//     background-color: $dark-gray;
//     padding: 10px;
//     img {
//       width: 100%;
//     }
//   }
// }

// .menu-page {
//   background-color: rgba($color: #000000, $alpha: 0.9);
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   position: fixed;
//   top: 0;
//   right: 100%;
//   z-index: 201;
//   .menu-left {
//     width: calc(100% - 320px);
//     height: 100%;
//     padding-right: 10px;
//     .close {
//       margin-top: 20px;
//       cursor: pointer;
//     }
//   }
//   .menu-right {
//     width: 320px;
//     height: 100%;
//     .menu-header {
//       width: 100%;
//       height: 56.5px;
//       background-color: $lake-green;
//       //   box-shadow: 5px 5px 15px $super-dark;
//     }
//     .menu-body {
//       width: 100%;
//       height: calc(100vh - 56.5px);
//       background-color: $white;
//       border-radius: 0 0 0 40px;
//       .member-info {
//         display: flex;
//         padding: 20px;
//         .member-picture {
//           width: 90px;
//           height: 90px;
//           border: 5px solid $light-lake-green;
//           border-radius: 50%;
//           overflow: hidden;
//           img {
//             width: 100%;
//           }
//         }
//         .member-content {
//           margin-left: 30px;
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           color: $super-dark;
//           font-family: "Roboto";
//           .member-name {
//             font-weight: $bold;
//             font-size: $h6-font-size;
//           }
//           .member-voucher {
//             font-size: $p-font-size;
//             margin-top: 10px;
//           }
//         }
//       }
//       .product-class-bar {
//         width: 100%;
//         padding: 10px 20px;
//         background-color: $gray;
//         p {
//           color: $deep-brown;
//           font-family: "GenSenRounded-M";
//           font-size: $p-font-size;
//         }
//       }
//       .product-class {
//         width: 100%;

//         color: $super-dark;
//         font-family: "GenSenRounded-M";
//         font-size: $p-font-size;
//         .class-select {
//           display: flex;
//           height: 40px;
//           .class-image {
//             padding: 10px 0 0 0;
//             margin-left: 20px;
//             width: 8%;
//             position: relative;
//             img {
//               width: 100%;
//               position: absolute;
//               bottom: 3px;
//             }
//           }
//           .class-name {
//             width: 100%;
//             margin-left: 10px;
//             padding: 10px 0 0 0;
//             display: flex;
//             align-items: center;
//             border-bottom: 1px solid $gray;
//           }
//         }
//       }
//       .menu-button {
//         display: flex;
//         justify-content: space-between;
//         margin: 60px 30px 0 30px;
//         a {
//           .circle {
//             width: 40px;
//             height: 40px;
//             border-radius: 50%;
//             background-color: $lake-green;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//           }
//         }
//       }
//     }
//   }
// }

.content {
  .banner {
    width: 100%;
    height: 160px;
    background-image: url("https://picsum.photos/id/1008/1920/375");
    position: relative;
    box-shadow: 5px 10px 12px $gray;
    @media screen and (min-width: 768px) {
      height: 375px;
    }
    .class {
      padding: 5px 15px;
      border: 1px solid $white;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      @media screen and (min-width: 768px) {
        border: 2px solid $white;
      }
      @media screen and (min-width: 768px) {
        bottom: 40px;
      }
      h3 {
        padding-bottom: 3px;
        color: $white;
        font-family: "GenSenRounded-M";
        font-size: $h6-font-size;
        @media screen and (min-width: 768px) {
          font-size: $h5-font-size;
        }
      }
    }
  }
  .slider {
    width: 100%;
    overflow: hidden;
    // border-bottom: 2px solid $gray;
    @media screen and (min-width: 768px) {
      height: 93px;
    }
    .slider-bar {
      //   width: 650px;
      padding: 0 15px;
      overflow: scroll;
      ul {
        // width: 150%;
        display: flex;
        overflow: scroll;
        @media screen and (min-width: 768px) {
          justify-content: center;
        }
        li {
          padding: 5px 15px;
          margin: 15px 10px;
          border: 2px solid $super-dark;
          border-radius: 15px;
          flex-shrink: 0;
          cursor: pointer;
          @media screen and (min-width: 768px) {
            margin-top: 30px;
            margin-bottom: 30px;
          }
          a {
            color: $super-dark;
            font-family: "GenSenRounded-M";
            font-size: $p-font-size;
            text-decoration: none;
            @media screen and (min-width: 992px) {
              font-size: $h6-font-size;
            }
          }
        }
      }
    }
  }
  .filter-button-mobile {
    padding: 15px 0 15px 15px;
    @media screen and (min-width: 768px) {
      display: none;
    }
    button.filter {
      padding: 5px 8px;
      border: 2px solid $dark-gray;
      border-radius: 10px;
      background-color: rgba($color: #000000, $alpha: 0);
      color: $super-dark;
      font-family: "GenSenRounded-M";
      font-size: $p-font-size;
      @media screen and (min-width: 992px) {
        font-size: $h7-font-size;
      }
    }
  }
  .filter-button-pc {
    position: fixed;
    padding: 30px 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
    button.filter-pc {
      padding: 10px;
      border-top: 2px solid $dark-gray;
      border-right: 2px solid $dark-gray;
      border-bottom: 2px solid $dark-gray;
      border-left: 2px solid rgba($color: #000000, $alpha: 0);
      // border: 2px solid $dark-gray;
      border-radius: 0 10px 10px 0;
      background-color: rgba($color: $lake-green, $alpha: 0.3);
      color: $super-dark;
      font-family: "GenSenRounded-M";
      font-size: $h6-font-size;
    }
  }
  .product-list {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 6px;
    // flex-wrap: wrap;
    margin: auto;
    @media screen and (min-width: 768px) {
      width: 85%;
      margin: 0 7.5%;
    }
    @media screen and (min-width: 992px) {
      width: 90%;
      margin: 0 5%;
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% - 600px);
      margin: 0 300px;
    }
    @media (max-width: 549px) {
      grid-template-columns: auto auto;
    }
    @media (max-width: 835px) and (min-width: 550px) {
      grid-template-columns: auto auto auto;
    }
    @media (max-width: 1199px) and (min-width: 992px) {
      grid-template-columns: auto auto auto;
    }
    @media (max-width: 1449px) and (min-width: 1200px) {
      grid-template-columns: auto auto;
    }
    @media (max-width: 1719px) and (min-width: 1450px) {
      grid-template-columns: auto auto auto;
    }
    @media screen and (min-width: 1720px) {
      grid-template-columns: auto auto auto auto;
    }
    a {
      text-decoration: none;
      .product-card {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
        // border: 1px solid $super-dark;
        @media screen and (min-width: 768px) {
          margin-bottom: 30px;
        }

        .product-image {
          width: 170px;
          height: 170px;
          margin: auto;
          // object-fit: cover;
          position: relative;
          background-color: $white;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          @media screen and (min-width: 992px) {
            width: 250px;
            height: 250px;
          }
          @media screen and (min-width: 1200px) {
            width: 275px;
            height: 275px;
            // background-position: center center;
          }
          .heart {
            width: 30px;
            height: 30px;
            cursor: default;
            position: absolute;
            right: 3px;
            bottom: 3px;
            background-image: url(../images/icons/addlike0.svg);
          }
        }
        .product-title {
          width: 170px;
          height: 55px;
          padding: 5px;
          margin: auto;
          @media screen and (min-width: 992px) {
            width: 250px;
            height: 75px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
          @media screen and (min-width: 1200px) {
            width: 275px;
            height: 75px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
          h3 {
            color: $super-dark;
            font-family: "GenSenRounded-M";
            font-size: $p-font-size;
            overflow: hidden;
            display: -webkit-box;
            line-height: 1.4rem;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            @media screen and (min-width: 992px) {
              font-size: $h7-font-size;
            }
          }
        }
        .product-price {
          width: 170px;
          padding: 5px;
          margin: auto;
          @media screen and (min-width: 992px) {
            width: 250px;
          }
          @media screen and (min-width: 1200px) {
            width: 275px;
          }
          p {
            color: $deep-brown;
            font-family: "GenSenRounded-M";
            font-size: $p-font-size;
            font-weight: $bold;
            &::before {
              display: inline-block;
              content: "NT$ ";
            }
            @media screen and (min-width: 992px) {
              font-size: $h7-font-size;
            }
          }
        }
      }
    }
  }
  .page-button {
    margin-top: 30px;
    nav {
      ul {
        display: flex;
        justify-content: center;
        li.active a {
          background-color: $lake-green;
          border-color: $dark-gray;
        }
        a {
          color: $dark-gray;
          margin: 0 5px;
        }
      }
    }
  }
}

.filter-page-pc {
  position: fixed;
  top: 0;
  z-index: 205;
  width: 100%;
  height: 100vh;
  right: 100%;
  background-color: rgba($color: $lake-green, $alpha: 0.95);
  overflow: scroll;
  padding-bottom: 100px;
  .filter-page-pc-back {
    padding: 100px 0 0 30px;
    span.filter-pc-back {
      cursor: pointer;
    }
  }
  .filter-class-pc {
    margin: 60px 0 0 100px;
    .button-filter-pc {
      ul {
        margin: 15px 0;
        li {
          margin: 40px 0;
          a {
            text-decoration: none;
            color: $white;
            font-size: $h6-font-size;
            font-family: "GenSenRounded-M";
            padding: 10px 30px;
            border: 2px solid $white;
            border-radius: 28px;
          }
        }
      }
    }
    .class-filter-pc {
      margin-top: 60px;
      h2 {
        color: $white;
        font-size: $h5-font-size;
        font-family: "GenSenRounded-M";
      }
      .horizon {
        margin-top: 15px;
        width: 200px;
        height: 2px;
        background-color: $white;
      }
      .class-name {
        ul {
          margin-left: 20px;
          li {
            margin: 20px 0;
            a {
              text-decoration: none;
              color: $white;
              font-size: $h6-font-size;
              font-family: "GenSenRounded-M";
            }
          }
        }
      }
    }
    .gender-filter-pc {
      margin-top: 60px;
      h2 {
        color: $white;
        font-size: $h5-font-size;
        font-family: "GenSenRounded-M";
      }
      .horizon {
        margin-top: 15px;
        width: 200px;
        height: 2px;
        background-color: $white;
      }
      .gender {
        margin-left: 20px;
        input {
          margin: 20px 0;
        }
        label {
          margin: 0 40px 0 10px;
          color: $white;
          font-size: $h6-font-size;
          font-family: "GenSenRounded-M";
        }
      }
    }
    .color-filter-pc {
      margin-top: 60px;
      h2 {
        color: $white;
        font-size: $h5-font-size;
        font-family: "GenSenRounded-M";
      }
      .horizon {
        margin-top: 15px;
        width: 200px;
        height: 2px;
        background-color: $white;
      }
      .color {
        margin-left: 20px;
        padding-top: 10px;
        .color-content {
          display: flex;
          align-items: center;
          input {
            margin: 15px 0;
          }
          label {
            display: flex;
            align-items: center;
            margin: 0 40px 0 30px;
            color: $white;
            font-size: $h6-font-size;
            font-family: "GenSenRounded-M";
          }
        }
      }
    }
    .price-filter-pc {
      margin-top: 60px;
      h2 {
        color: $white;
        font-size: $h5-font-size;
        font-family: "GenSenRounded-M";
      }
      .horizon {
        margin-top: 15px;
        width: 200px;
        height: 2px;
        background-color: $white;
      }
      .price {
        margin-left: 20px;
        padding-top: 35px;
        display: flex;
        align-items: center;
        h4 {
          color: $white;
          font-size: $h7-font-size;
          font-family: "GenSenRounded-M";
        }
        input {
          margin: 0 15px;
          padding: 5px;
          width: 80px;
          border: 2px solid $white;
          border-radius: 5px;
          font-size: $h7-font-size;
          font-family: "GenSenRounded-M";
          &:focus {
            outline: none;
            border: 3px solid $light-lake-green;
          }
        }
      }
    }
    button.filter-submit-pc {
      margin-top: 60px;
      margin-left: 20px;
      padding: 10px 30px;
      border: none;
      border-radius: 10px;
      background-color: $super-dark;
      color: $white;
      font-size: $h7-font-size;
      font-family: "GenSenRounded-M";
    }
  }
}

.filter-page,
.gender-filter-detail,
.price-filter-detail,
.color-filter-detail {
  background-color: $lake-green;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 200;
  // display: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .filter-header {
    width: 100%;
    padding: 5px 0;
    background-color: $lake-green;
    z-index: 120;
    position: fixed;
    span {
      padding: 10px 10px;
      color: $white;
      font-family: "GenSenRounded-M";
      font-size: $p-font-size;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
  .filter-class {
    margin-top: 100px;
    .button-filter {
      padding: 20px;
      border-bottom: 1px solid $white;
      display: flex;
      justify-content: space-around;
      .new,
      .sale,
      .theme {
        padding: 5px 15px;
        color: $white;
        font-family: "GenSenRounded-M";
        font-size: $p-font-size;
        border: 2px solid $white;
        border-radius: 20px;
        cursor: pointer;
      }
    }
    .gender-filter,
    .price-filter,
    .color-filter {
      padding: 15px 0;
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 1px solid $white;
      cursor: pointer;
      span {
        margin-left: 20px;
        color: $white;
        font-family: "GenSenRounded-M";
        font-size: $p-font-size;
      }
      span.filter-content {
        color: $gray;
      }
      span.arrow {
        position: absolute;
        right: 10px;
      }
    }
    .gender-filter {
      border-top: 1px solid $white;
    }
  }
  .filter-footer {
    // width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    // padding: 20px 0;
    button {
      color: $white;
      font-family: "GenSenRounded-M";
      font-size: $p-font-size;
      background-color: rgba($color: #000000, $alpha: 1);
      border: 2px solid $super-dark;
      padding: 10px 8px;
      border-radius: 10px;
      svg {
        width: 20%;
      }
    }
  }
}

.gender-filter-detail {
  .gender-filter-content {
    margin-top: 100px;
    .gender-form {
      .gender-filter-radio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $white;
        span {
          display: flex;
          align-items: center;
          margin-left: 30px;
          height: 46px;
          color: $white;
          font-family: "GenSenRounded-M";
          font-size: $p-font-size;
        }
        span.all {
          padding-left: 17px;
        }
        input {
          margin-right: 30px;
        }
      }
      label.female {
        border-bottom: 1px solid $white;
      }
    }
  }
}

.price-filter-detail {
  .price-filter-content {
    margin-top: 100px;
    .price-form {
      .price-filter-radio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $white;
        span {
          display: flex;
          align-items: center;
          margin-left: 30px;
          height: 46px;
          color: $white;
          font-family: "GenSenRounded-M";
          font-size: $p-font-size;
        }
        span.all {
          padding-left: 17px;
        }
        input {
          margin-right: 30px;
        }
      }
      label.last {
        border-bottom: 1px solid $white;
      }
    }
  }
}

.color-filter-detail {
  .color-filter-content {
    height: calc(100% - 206px);
    margin-top: 100px;
    overflow: hidden;
    .color-form {
      height: calc(100% - 0px);
      overflow: scroll;
      .color-filter-radio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $white;
        span {
          display: flex;
          align-items: center;
          margin-left: 30px;
          height: 46px;
          color: $white;
          font-family: "GenSenRounded-M";
          font-size: $p-font-size;
        }
        span.all {
          padding-left: 17px;
        }
        input {
          margin-right: 30px;
        }
      }
      label.color-filter-radio:nth-last-child(1) {
        border-bottom: 1px solid $white;
      }
    }
  }
}

// jQuery
.filter-show {
  right: 0;
  // display: block;
}

.list-hidden {
  display: none;
}

.menu-show {
  right: 0;
}

.body-hidden {
  overflow: hidden;
}
