* {
  box-sizing: border-box;
}

@font-face {
  font-family: "GenSenRounded-M";
  src: url("../fonts/GenSenRoundedTW-M-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-M-01.ttf") format("truetype");
}
@font-face {
  font-family: "GenSenRounded-B";
  src: url("../fonts/GenSenRoundedTW-B-01.woff") format("woff"), url("../fonts/GenSenRoundedTW-B-01.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoFlex.woff") format("woff"), url("../fonts/RobotoFlex.ttf") format("truetype");
}
.content .containerr {
  margin: 0 30px 0 30px;
}
.content .containerr .product-pic {
  width: 100%;
}
.content .containerr .product-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 266px;
}
.content .containerr .product-text .brandname {
  padding-top: 10px;
  text-transform: uppercase;
  font-family: "GenSenRounded-M";
  color: #554d49;
  font-size: 14px;
}
.content .containerr .product-text .productname {
  padding-top: 5px;
  font-family: "GenSenRounded-B";
  color: #000000;
  font-size: 24px;
}
.content .containerr .product-text .star-icon {
  padding-top: 5px;
}
.content .containerr .product-text .productprice {
  height: auto;
  height: auto;
  font-family: "GenSenRounded-B";
  font-size: 32px;
  display: flex;
  padding: 20px 0 30px 0;
}
.content .containerr .product-text .productprice span {
  font-size: 14px;
}
.content .containerr .product-info .product-info-title {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  font-family: "GenSenRounded-B";
}
.content .containerr .product-info .product-info-title .describe {
  color: #000000;
}
.content .containerr .product-info .product-info-title .specification {
  color: #7cb2af;
}
.content .containerr .product-info .long-line {
  width: 100%;
  height: 3px;
  background-color: #2d827d;
  position: relative;
}
.content .containerr .product-info .long-line .short-line {
  position: absolute;
  width: 50%;
  height: 7px;
  background-color: #000000;
}
.content .containerr .product-info .product-info-text {
  padding-top: 10px;
}
.content .containerr .product-info .product-info-text .describe-text {
  font-family: "Roboto";
  font-weight: 900;
  line-height: 1.4;
  font-size: 14px;
  width: 100%;
  height: 180px;
}
.content .containerr .mightlike .mightlike-title {
  width: 100%;
}
.content .containerr .mightlike .mightlike-title .mightlike-title-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 36px;
  padding-bottom: 10px;
}
.content .containerr .mightlike .mightlike-title .mightlike-capsule {
  width: 90px;
  height: 25px;
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
}
.content .containerr .mightlike-info {
  width: 100%;
}
.content .containerr .mightlike-info .mightlike-card .mightlike-card-pic img {
  width: 145px;
  height: 145px;
}/*# sourceMappingURL=product-details.css.map */